body{
    margin: 0px;
    background-size: cover;
    background-color: #f7f7f7;
}
/* content holder */
.content-holder{
    height: auto;
    max-width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    margin: 55px 10% 0px 10%;
    background-color: #fff;
    flex-direction: column;
    display: flex;
    transition: 0.2s;
}
.content-header{
    width: 100%;
    height: auto;
    float: left;
}
.ch-title{
    padding: 12px 24px;
    font-size: 40px;
    color: #F7941D;
    text-transform: uppercase;
}
.ch-subtitle{
    padding: 4px 24px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
}
.filter{
    max-width: 100%;
    padding: 20px;
    align-items: center;
    height: auto;
}
.filter-box{
    width: 25%;
    min-width: 230px;
    display: block;
    float: left;
    padding: 4px;
    box-sizing: border-box;
    transition: 0.2s;
}
/* combobox */
.select-wrap{
    position: relative;
    user-select: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.select-wrap .default_option{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.select-wrap .default_option li{
    padding: 10px 20px;
}
.select-wrap .default_option::before{
    content: "";
    position: absolute;
    top: 12px;
    right: 14px;
    width: 6px;
    height: 6px;
    border: 2px solid;
    border-color: transparent transparent black black;
    transform: rotate(-45deg);
    transition: 0.2s;
}
.select-wrap .select_ul{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    visibility: hidden;
    z-index: 900;
    opacity: 0;
    transform: translateY(-5px);
    transition: 0.2s;
    transition-property: transform, opacity;
}
.select-wrap .select_ul li{
    padding: 10px 20px;
    cursor: pointer;
}
.select-wrap .select_ul li:hover{
    background: lightgray;
}
.select-wrap .select_ul li:first-child:hover{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.select-wrap .select_ul li:last-child:hover{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.select-wrap .option{
    display: flex;
    align-items: center;
}
.select-wrap.active .select_ul{
    visibility: visible;
    transform: translateY(5px);
    opacity: 1;
}
.select-wrap.active .default_option::before{
    transform: rotate(-225deg);
    top: 18px;
    right: 14px;
}
.company-name{
    display: block;
    padding: 0;
    align-items: center;
}
.company-name input{
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}
.apply-filter{
    display: block;
}
.apply-filter button{
    padding: 12px 20px;
    border-radius: 5px;
    border: 0px;
    background: #F7941D;
    cursor: pointer;
    width: max-content;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}
/* list item */
.group-title{
    padding: 24px;
    font-size: 25px;
}
.company-box{
    padding-bottom: 50px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.next-arrow, .prev-arrow{
    position: absolute;
    top: 50%;
    display: block;
    padding: 0px;
    color: #30C1FF;
    border: none;
    outline: none;
    cursor: pointer;
}
.next-arrow{
    right: -25px;
}
.prev-arrow{
    left: -25px;
}
.slick-dots li{
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: lightgray;
}
.slick-dots li button:before{
    display: none;
    color: #30C1FF;
}
.slick-dots li.slick-active button {
    border-radius: 100%;
    background-color: #30C1FF;
}
.company-list{
    margin: 0px auto;
    width: 90%;
}
  /* the slides */
  .slick-slide {
    margin: 0 5px;
  }
  /* the parent */
  .slick-list {
    margin: 0 -5px;
  }
.company-item{
    min-height: 431px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.company-item a{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.company-item a img{
    width: 100%;
}
.company-item .content-box{
    width: 100%;
    margin: 0;
    float: left;
    display: block;
    margin: 12px 24px;
}
.company-item .content-box .company-name{
    padding-bottom: 12px;
    font-size: 20px;
}
.company-item .content-box .company-name a{
    text-decoration: none;
    color: black;
}
.company-item .content-box .company-name a:hover{
    color: #F7941D;
}
.company-item .content-box .subtext{
    padding: 0px 0px;
    color: rgba(0, 0, 0, 0.5);
}
.company-item .follow-box{
    width: max-content;
    margin: 0;
    background-color: #30C1FF;
    border-radius: 4px;
    float: left;
    margin: 0px 24px 12px 24px;
}
.company-item .follow-box .follow{
    font-size: small;
    color: #fff;
    padding: 8px;
}
.company-item .follow-box .rate img{
    padding-top: 12px;
    padding-left: 6px;
}

/* footer */
.main-footer{
    background-color: #30C1FF;
    color: white;
    width: 100%;
    height: auto;
    display: flex;
}
.footer-box{
    width: 1270px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px;
}
.box{
    float: left;
    width: 20%;
    height: auto;
    transition: 0.3s;
}
.box .first-box{
    display: grid;
    max-width: 400px;
}
.box .first-box .description{
    float: left;
    padding: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
}
.box .first-box .learn-more{
    max-width: max-content;
    height: 50px;
    margin: 0 25px;
    padding: 0 8px;
    float: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.box > h3{
    margin: 12px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
}
.box > ul{
    list-style-type: none;
    margin: 25px 0;
    padding: 0px;
}
.box > ul > li{
    margin-bottom: 8px;
}
.box > ul > li > a{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}
.box > ul > li > a:hover{
    padding: 0px 6px;
    font-weight: 500;
}
/* follow us */
.follow-us{
    display: grid;
    width: 100%;
    background: #30C1FF;
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}
.follow-us::before{
    content: '';
    border-top: 0.3px solid #fff;
    margin: 12px 24px;
}
.follow-us::after{
    content: '';
    border-top: 0.3px solid #fff;
    margin: 8px 24px;
}
.follow-us span{
    padding: 10px;
}
.follow-us span a{
    text-decoration: none;
}
/* copyright */
.copy{
    font-family: Roboto;
    padding: 10px;
    font-size: small;
    text-align: center;
    background-color: #30C1FF;
    color: #fff;
}
.copy p{
    margin: 0px;
}

/* responsive */
@media (max-width: 1437px){
    /* header */

    /* content holder */
    .content-holder{
        margin: 55px 8% 0px 8%;
        transition: 0.2s;
    }
    .company-item{
        min-height: 405px;
        transition: 0.2s;
    }
    /* footer */
    .box{
        width: 33%;
        transition: 0.3s;
    }
    .box .first-box{
        padding: 0px 45px;
    }
    .box h3{
        padding: 0px 70px;
    }
    .box ul{
        padding: 0px 70px;
    }
}
@media (max-width: 1357px){
    .company-item{
        min-height: 382px;
        transition: 0.2s;
    }
}
@media (max-width: 1288px){
    /* content holder */
    .content-holder{
        margin: 55px 6% 0px 6%;
        transition: 0.2s;
    }
    .company-item{
        min-height: 398px;
        transition: 0.2s;
    }
    /* footer */
}
@media (max-width: 1150px){
    /* content holder */
    .company-item{
        min-height: 365px;
        transition: 0.2s;
    }
}
@media (max-width: 1080px){
    .content-holder{
        margin: 55px 5% 0px 5%;
        transition: 0.2s;
    }
    .company-item{
        min-height: 442px;
        transition: 0.2s;
    }
}
@media (max-width: 995px){
    .company-item{
        min-height: 420px;
        transition: 0.2s;
    }
}
@media (max-width: 900px){
    .company-item{
        min-height: 390px;
        transition: 0.2s;
    }
}
@media (max-width: 830px){
    /* header */

    /* content holder */
    .content-holder{
        margin: 55px 4% 0px 4%;
        transition: 0.2s;
    }
    .company-list{
        width: 84%;
    }
    .company-item{
        min-height: 380px;
        transition: 0.2s;
    }
    /* footer */
    .box{
        width: 50%;
        transition: 0.3s;
    }
    .box .first-box{
        padding: 0px 55px;
    }
    .box h3{
        padding: 0px 80px;
    }
    .box ul{
        padding: 0px 80px;
    }
}
@media (max-width: 800px){
    .company-item{
        min-height: 365px;
        transition: 0.2s;
    }
}
@media (max-width: 600px){
    /* content holder */
    
    /* footer */
    .box{
        width: 100%;
        transition: 0.3s;
    }
    .box .first-box{
        padding: 0px 75px;
    }
    .box h3{
        padding: 0px 100px;
    }
    .box ul{
        padding: 0px 100px;
    }
}
@media (max-width: 480px){
    .company-item{
        min-height: 370px;
        transition: 0.2s;
    }
}
@media (max-width: 380px){
    .company-item{
        min-height: 330px;
        transition: 0.2s;
    }
}