body{
    margin: 0px;
    background-size: cover;
    background-color: #f7f7f7;
}
.header{
    background-color: #30C1FF;
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
}
/* logo */
.logo{
    width: auto;
    margin: 0px 0px;
    float: left;
    padding-left: 25px;
}
.logo > a{
    text-decoration: none;
    color: white;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
.logo > a > img{
    display: block;
    margin: 0 12px;
}
/* search bar */
.searchbar{
    margin: 4px 24px;
    width: max-content;
    display: flex;
    float: center;
    height: max-content;
    align-items: center;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
}
.searchbar > i{
    color: #30C1FF;
    font-size: 30px;
    margin-left: 5px;
}
.searchbar .job{
    display: inline-flex;
}
.searchbar .job input{
    width: 270px;
    border: 0px;
    outline: 0px;
    font-size: 15px;
    margin-right: 10px;
}
.searchbar .job::after{
    content: "";
    background-color: black;
    display: block;
    width: 1px;
    height: 25px;
}
.searchbar .local input{
    width: 150px;
    border: 0px;
    outline: 0px;
    font-size: 15px;
}
.searchbar .findjobs{
    float: right;
    width: max-content;
    background-color: #FFCF54;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border: 0px;
    height: 50px;
    border-radius: 0px 16px 16px 0px;
    cursor: pointer;
}
/* nav-menu */
.navbar{
    display: inline-flex;
    align-items: center;
}
.navbar::after{
    content: "";
    background-color: #fff;
    display: block;
    width: 1px;
    height: 50px;
}
.nav-menu{
    list-style: none;
    margin: 0px 12px;
}
.nav-menu > li{
    display: inline-block;
}
.nav-menu > li > a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-weight: 700;
    font-family: Roboto;
    font-size: 18px;
    transition: all 0.3s ease 0s;
}
.nav-menu > li > a:hover{
    background-color: #2196F3;
}
/* notification + login */
.noti_login{
    margin: 0px 24px 0px 12px;
    display: inline-flex;
    align-items: center;
}
.noti_login > i{
    color: #fff;
    font-size: 30px;
    margin: 0px 20px 0px 0px;
    cursor: pointer;
}
.noti_login .login{
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    background: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.noti_login .login i{
    margin: 0px 10px 0px 0px;
}
/* content holder */
.content-holder{
    height: auto;
    width: 1140px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    flex-direction: column;
    display: flex;
}
.content-header{
    padding: 24px;
    width: 96%;
    height: auto;
    float: left;
}
.ch-title{
    padding: 4px;
    font-size: 40px;
    color: #F7941D;
    text-transform: uppercase;
}
.ch-subtitle{
    padding: 4px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
}
.filter{
    display: inline-flex;
    align-items: center;
    display: inline-grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
}
/* combobox */
.select-wrap{
    width: 250px;
    margin: 15px auto;
    position: relative;
    user-select: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.select-wrap .default_option{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.select-wrap .default_option li{
    padding: 10px 20px;
}
.select-wrap .default_option::before{
    content: "";
    position: absolute;
    top: 12px;
    right: 14px;
    width: 6px;
    height: 6px;
    border: 2px solid;
    border-color: transparent transparent black black;
    transform: rotate(-45deg);
}
.select-wrap .select_ul{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: none;
    z-index: 999;
}
.select-wrap .select_ul li{
    padding: 10px 20px;
    cursor: pointer;
}
.select-wrap .select_ul li:hover{
    background: lightgray;
}
.select-wrap .select_ul li:first-child:hover{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.select-wrap .select_ul li:last-child:hover{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.select-wrap .option{
    display: flex;
    align-items: center;
}
.select-wrap.active .select_ul{
    display: block;
}
.select-wrap.active .default_option::before{
    transform: rotate(-225deg);
    top: 18px;
    right: 14px;
}
.company-name{
    display: block;
    width: 250px;
    padding: 0;
    align-items: center;
}
.company-name input{
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}
.apply-filter{
    display: block;
    width: 250px;
}
.apply-filter button{
    padding: 12px 20px;
    border-radius: 5px;
    border: 0px;
    background: #F7941D;
    cursor: pointer;
    width: max-content;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}
/* list item */
.group-title{
    padding: 24px;
    font-size: 25px;
}
.company-box{
    padding-bottom: 12px;
    width: 98%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.company-box .prev{
    display: block;
    content: "";
    margin: 5px;
    padding-right: 12px;
    width: 12px;
    height: 12px;
    border: 6px solid;
    border-radius: 4px;
    border-color: transparent transparent #30C1FF #30C1FF;
    transform: rotate(45deg);
}
.company-box .next{
    content: "";
    margin: 4px;
    padding-left: 12px;
    width: 12px;
    height: 12px;
    border: 6px solid;
    border-radius: 4px;
    border-color: transparent transparent #30C1FF #30C1FF;
    transform: rotate(-135deg);
}
.company-list{
    width: 96%;
}
  /* the slides */
  .slick-slide {
    margin: 0 5px;
  }
  /* the parent */
  .slick-list {
    margin: 0 -5px;
  }
.company-item{
    width: 350px;
    height: 400px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.company-item a{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.company-item a img{
    width: 100%;
}
.company-item .column1{
    width: 200;
    margin: 0;
    float: left;
    display: block;
    padding: 20px 0px 20px 20px;
}
.company-item .column1 .company-name{
    padding-bottom: 12px;
    font-size: 20px;
}
.company-item .column1 .company-name a{
    text-decoration: none;
    color: black;
}
.company-item .column1 .company-name a:hover{
    color: #F7941D;
}
.company-item .column1 .subtext{
    padding: 0px 0px;
    color: rgba(0, 0, 0, 0.5);
}
.company-item .column2{
    width: 13%;
    margin: 0;
    float: right;
    text-align: center;
    padding: 20px 20px 20px 0px;
}
.company-item .column2 .rate{
    font-size: 20px;
    font-weight: bold;
    color: #F7941D;
}
.company-item .column2 .rate img{
    padding-top: 12px;
    padding-left: 6px;
}

/* footer */
.main-footer{
    background-color: #30C1FF;
    color: white;
    width: 84%;
    padding: 2% 8%;
    height: auto;
    display: inline-grid;
    grid-template-columns: repeat(5, auto);
    gap: 20px;
}
.footer-box{
    float: left;
    width: 100%;
    height: auto;
    min-width: 200px;
}
.footer-box .first-box{
    display: grid;
    max-width: 400px;
}
.footer-box .first-box .description{
    float: left;
    padding: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}
.footer-box .first-box .learn-more{
    max-width: max-content;
    height: 50px;
    margin: 0 25px;
    padding: 0 8px;
    float: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.footer-box > h3{
    margin: 12px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
}
.footer-box > ul{
    list-style-type: none;
    margin: 25px 0;
    padding: 0px;
}
.footer-box > ul > li{
    margin-bottom: 6px;
}
.footer-box > ul > li > a{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}
address h3{
    margin: 12px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
}
address p{
    font-size: 15px;
    margin: 25px 0;
}
.footer-box address a{
    color: teal;
    font-size: 15px;
}
/* follow us */
.follow-us{
    display: grid;
    width: 100%;
    background: #30C1FF;
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}
.follow-us span{
    padding: 10px;
}
.follow-us span a{
    text-decoration: none;
}
/* copyright */
.copy{
    font-family: Roboto;
    padding: 10px;
    font-size: small;
    text-align: center;
    background-color: #30C1FF;
    color: #fff;
}
.copy p{
    margin: 0px;
}