.div_body{
    height: 100vh;
    display: flex;
}
.div_left{
    position: fixed;
    width: 50%;
    height: 100vh;
    background-color: white
}
.btnBack{
    width:130px;
    height: 50px;
    position: absolute;
    top: 2%;
    left: 1%;
    color: #2A8CFF;
    background-color:white;
    font-weight: bold;
    font-size: 20px;
    border:none;
    cursor: pointer;
    display: flex;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Roboto;
}

.circle{
    width: 700px;
    height: 350px; /* as the half of the width */
    position: absolute;
    bottom: 0;
    left: 2%;
    background-color: gold;
    border-top-left-radius: 360px;  /* 100px of height + 10px of border */
    border-top-right-radius: 360px; /* 100px of height + 10px of border */
    border-bottom: 0;
    

}
.logoSignIn{
    width: 340px;
    height: 160x; 
    position: absolute;
    bottom: 0;
    left: 25%;
}
.titleSignIn{
    margin-top: 10%;
    margin-left: 10%;
}
.title1{
    /* border: 1px solid #a19b9b; */
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 5%;
    bottom: 20%;
    background-color: white;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.title2{
    /* border: 1px solid #a19b9b; */
    position: absolute;
    left: 5%;
    bottom: 35%;
    background-color: white;
    padding: 1%;
    padding-right: 5%;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Arial, Helvetica, sans-serif;
}
.title3{
    /* border: 1px solid #a19b9b; */
    position: absolute;
    right: 50px;
    bottom: 20%;
    background-color: white;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Arial, Helvetica, sans-serif;
}
.icon1{
    width: 30px;
    position: absolute;
    left: 25%;
    bottom: 36%;
}
.icon2{
    position: relative;
    top: 28%;
    left: 20%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.div_right{
    width: 50%;
    height: 100vh;
    background-color: #0f73ee;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.div_info{
    /* width: 450px; */
    width: 60%;
    /* height: 600px; */
    height: 580px;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto ;

}
.title{
    margin-left: 30px;
    padding-top: 25px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.txtUser{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_input1{
    font-family: Roboto;
    /* width: 300px; */
    width: 66.7%;
    height: 45px;
    border: 1px solid #a19b9b;
    border-radius: 5px;
    padding-left: 15px;
    
}
.form_input2{
    font-family: Roboto;
    /* width: 300px; */
    width: 66.7%;
    height: 45px;
    margin-top: 20px;
    border: 1px solid #a19b9b;
    border-radius: 5px;
    padding-left: 15px;
}
.pass{
    display: flex;
    padding-top: 5px;
    width: 66.7%;
    margin: 0 auto;
}
.checkshow{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.pass{
    display: flex;
}
.forgot{
    margin-left: 25px;
    margin-top: 3px;
    color:#0f73ee;
    cursor: pointer;
}
.div_titleSignup{
    width: 66.7%;
    padding-top: 40px;
    margin: 0 auto;

}
.titleSignup{
    font-family: Roboto;
    font-size: 14px;
}
.btnSignup{
    font-family: Roboto;
    cursor: pointer;
    color:#2A8CFF;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.div_btnSignin{
    padding-top: 40px;
    display: flex;
    align-items: center;
}
.btnSignin{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    color:white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background-color: #0f73ee;
    margin: 0 auto;
    cursor: pointer;

}
.or{
    display: flex;
    padding-top: 10px;
    justify-content: center;
    font-family: Roboto;
}

.div_btnFace{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.btnFacebook{
    /* width: 300px; */
    text-decoration: none;
    color: black;
    width: 66.7%;
    height: 50px;
    border: 1px solid #a19b9b;
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.div_logoface{
    margin-left: 20px;
    cursor: pointer;
}
.login_face{
    margin-left: 20px;
    font-size: 15px;
    font-weight: bold;
    font-family: Roboto;
    cursor: pointer;
}
.btnGmail{
    /* width: 300px; */
    text-decoration: none;
    color: black;
    width: 66.7%;
    height: 50px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #a19b9b;
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    
}
.div_logogmail{
    margin-left: 20px;
    cursor: pointer;
}
.login_gmail{
    margin-left: 20px;
    font-size: 15px;
    font-weight: bold;
    font-family: Roboto;
    cursor: pointer;

}
.logoGmail1{
    display: none;
}
.div_signup2{
    display: none;
}
.btnBack2{
    width:100px;
    height: 40px;
    position: fixed;
    top: 4%;
    left: 1%;
    color: white;
    background-color:#2A8CFF;
    font-weight: bold;
    font-size: 15px;
    border:none;
    cursor: pointer;
    display: flex;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
    font-family: Roboto;
}
/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    .div_left{
        display: none;
        
    }
    .title{
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .div_right{
        width: 100%;
        position: fixed;
    }
    .btnBack2{
        display: flex;
    }
    .div_info{
        width: 100%;
        height: 75%;
        border-radius: 0;
    }
    .forgot{
        position: fixed;
        right: 90px;
    }
    .div_titleSignup{
        padding-top: 30px;
    
    }
    .div_btnSignin{
        padding-top: 20px;
    }
    .btnSignin{
        width: 69%;
        border-radius: 5px;
    }
    .div_signup2{
        display: flex;
        justify-content: center;
        font-family: Roboto;
        margin-top: 30px;
        font-size: 14px;
        font-weight: 500;
        color: #0f73ee;
        cursor: pointer;
        
    }
}
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    .div_left{
        display: none;
        
    }
    .div_right{
        width: 100%;
        position: fixed;
    }
    .btnBack2{
        display: flex;
    }
    .div_info{
        width: 100%;
        height: 75%;
        border-radius: 0;
    }

    .forgot{
        position: fixed;
        right: 130px;
        
    }
    .div_btnFace{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .btnFacebook{
        width: 33%;
        
    }
    .login_face{
        font-size: 13px;
    }
    .btnGmail{
        width: 33%;
        margin-left: 20px;
        margin-top: 0;
    }
    .login_gmail{
        font-size: 13px;
    }
    .btnSignin{
        width: 69%;
        border-radius: 5px;
    }
    .div_signup2{
        display: flex;
        justify-content: center;
        font-family: Roboto;
        margin-top: 80px;
        font-size: 14px;
        font-weight: 500;
        color: #0f73ee;
        cursor: pointer;
        
    }
}