.div_body{
    height: 100vh;
    display: flex;
}
.div_left{
    width: 50%;
    height: 100vh;
    background-color: white
}
.btnBack{
    width:130px;
    height: 50px;
    position: absolute;
    top: 2%;
    left: 1%;
    color: #2A8CFF;
    background-color:white;
    font-weight: bold;
    font-size: 20px;
    border:none;
    cursor: pointer;
    display: flex;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* .btnBack > i{
    margin-right: 5px;
} */
.circle{
    width: 700px;
    height: 350px; /* as the half of the width */
    position: absolute;
    bottom: 0;
    left: 2%;
    background-color: gold;
    border-top-left-radius: 360px;  /* 100px of height + 10px of border */
    border-top-right-radius: 360px; /* 100px of height + 10px of border */
    border-bottom: 0;
    

}
.logoSignIn{
    width: 340px;
    height: 160x; 
    position: absolute;
    bottom: 0;
    left: 15%;
}
.titleSignIn{
    margin-top: 10%;
    margin-left: 10%;
}
.title1{
    /* border: 1px solid #a19b9b; */
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 2%;
    bottom: 20%;
    background-color: white;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.title2{
    /* border: 1px solid #a19b9b; */
    position: absolute;
    left: 5%;
    bottom: 35%;
    background-color: white;
    padding: 1%;
    padding-right: 3%;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Arial, Helvetica, sans-serif;
}
.title3{
    /* border: 1px solid #a19b9b; */
    position: absolute;
    left: 40%;
    bottom: 20%;
    background-color: white;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Arial, Helvetica, sans-serif;
}
.icon1{
    width: 40px;
    position: absolute;
    left: 15%;
    bottom: 36%;
}
.icon2{
    position: relative;
    top: 28%;
    left: 20%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.div_right{
    width: 50%;
    height: 100vh;
    background-color: #2A8CFF;
    position: fixed;
    right: 0;
    top: 0;
   
}
.div_info{
    width: 60%;
    height: 80%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin-top: 80px;
    margin-left: 150px; */
    border-radius: 10px;
}
.title{
   margin-left: 30px;
   margin-top: 20px;
   font-size: 30px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}
.txtUser{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    

}
.form_input1{
    width: 300px;
    height: 45px;
    border: 1px solid #a19b9b;
    border-radius: 5px;
    
}
.form_input2{
    width: 300px;
    height: 45px;
    margin-top: 20px;
    border: 1px solid #a19b9b;
    border-radius: 5px;
}
.checkshow{
    width: 15px;
    height: 15px;
    margin-top: 180px;
    margin-left: 80px;
    cursor: pointer;
}
.showpass{
    position: absolute;
    top:234px;
    margin-left: 5px;
    cursor: pointer;
}
.pass{
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgot{
    margin-top: 180px;
    margin-left: 90px;
    color:#0069DB;
    cursor: pointer;
}

.titleSignup{
    position: absolute;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    top: 295px;
    margin-left: 80px;
    
}
.btnSignup{
    position: absolute;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    top: 295px;
    margin-left:272px;
    cursor: pointer;
    color:#2A8CFF;
    
}
.btnSignin{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    color:white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background-color: #2A8CFF;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -62%);
    cursor: pointer;
}
a{
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -68%);
}
.btnFacebook{
    width: 300px;
    height: 50px;
    border: 1px solid #a19b9b;
    border-radius: 5px;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 79%;
    left: 50%;
    transform: translate(-50%, -81%);
    cursor: pointer;
}
.btnGmail{
    width: 300px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #a19b9b;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -92%);
    cursor: pointer;
}

.logoface{
    position:absolute;
    top: 20%;
    left: 6%;
}
.logoGmail{
    position:absolute;
    top: 20%;
    left: 6%;
}