* {
    box-sizing: border-box;
    margin: 0;
  }
body{
    margin: 0px;
    background-size: cover;
    background-color: #f7f7f7;
}
/* content-holder */
.content-holder{
    height: auto;
    max-width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    margin: 55px 10% 0px 10%;
    padding: 0 80px;
    background-color: #fff;
    flex-direction: column;
    display: flex;
    transition: 0.2s;
}
.content-holder .content-title{
    padding: 50px 0 20px;
    font-weight: bold;
    font-size: 30px;
}
.separator{
    border-bottom: 1px solid #000;
}
.content-container{
    width: 100%;
    margin-bottom: 150px;
}
.container-infor{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.container-infor .infor{
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 30px;
}
.caption{
    width: 20%;
    font-weight: bold;
    font-size: 16px;
}
.content{
    width: 70%;
    padding: 0px 20px;
    font-weight: normal;
    font-size: 16px;
}
.content img{
    max-height: 220px;
    max-width: 100%;
    cursor: pointer;
}
.content p{
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
}
.content input{
    outline: none;
    border: 1px solid lightgray;
    padding: 4px;
    width: 50%;
    font-size: 15px;
    transition: 0.2s;
}
.edit{
    width: 10%;
    text-align: right;
    cursor: pointer;
    user-select: none;
    color: #216FDB;
}   
.edit span{
    font-weight: normal;
    font-size: 16px;
    color: #216FDB;
}
.edit a{
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    color: #216FDB;
}
.container-infor .collapsible{
    display: none;
    background-color: #f7f7f7;
}
.collapsible .visible{
    padding: 30px;
    max-width: 100%;
    display: flex;
    align-items: center;
}
.collapsible .visible-sub{
    padding: 0px 30px;
    max-width: 100%;
    display: flex;
    align-items: center;
}
.collapsible .visible-img{
    padding: 0px 30px 30px;
    max-width: 100%;
    display: flex;
    align-items: top;
}
/* footer */
.main-footer{
    background-color: #30C1FF;
    color: white;
    width: 100%;
    height: auto;
    display: flex;
}
.footer-box{
    width: 1270px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px;
}
.box{
    float: left;
    width: 20%;
    height: auto;
    transition: 0.3s;
}
.box .first-box{
    display: grid;
    max-width: 400px;
}
.box .first-box .description{
    float: left;
    padding: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
}
.box .first-box .learn-more{
    max-width: max-content;
    height: 50px;
    margin: 0 25px;
    padding: 0 8px;
    float: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.box > h3{
    margin: 12px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
}
.box > ul{
    list-style-type: none;
    margin: 25px 0;
    padding: 0px;
}
.box > ul > li{
    margin-bottom: 8px;
}
.box > ul > li > a{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}
.box > ul > li > a:hover{
    padding: 0px 6px;
    font-weight: 500;
}
/* follow us */
.follow-us{
    display: grid;
    width: 100%;
    background: #30C1FF;
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}
.follow-us::before{
    content: '';
    border-top: 0.3px solid #fff;
    margin: 12px 24px;
}
.follow-us::after{
    content: '';
    border-top: 0.3px solid #fff;
    margin: 8px 24px;
}
.follow-us span{
    padding: 10px;
}
.follow-us span a{
    text-decoration: none;
}
/* copyright */
.copy{
    font-family: Roboto;
    padding: 10px;
    font-size: small;
    text-align: center;
    background-color: #30C1FF;
    color: #fff;
}
.copy p{
    margin: 0px;
}

/* responsive */
@media (max-width: 1437px){
    /* header */
    
    /* content holder */

    /* footer */
    .box{
        width: 33%;
        transition: 0.3s;
    }
    .box .first-box{
        padding: 0px 45px;
    }
    .box h3{
        padding: 0px 70px;
    }
    .box ul{
        padding: 0px 70px;
    }
}
@media (max-width: 1288px){
    /* header */
    
    /* content holder */
    .content input{
        width: 60%;
        transition: 0.2s;
    }
    /* footer */

}
@media (max-width: 830px){
    /* header */
    
    /* content holder */
    .content-holder{
        margin: 55px 4% 0px 4%;
        padding: 0 30px;
        transition: 0.2s;
    }
    .content input{
        width: 70%;
        transition: 0.2s;
    }
    /* footer */
    .box{
        width: 50%;
        transition: 0.3s;
    }
    .box .first-box{
        padding: 0px 55px;
    }
    .box h3{
        padding: 0px 80px;
    }
    .box ul{
        padding: 0px 80px;
    }
}
@media (max-width: 600px){
    /* content holder */
    .content-holder{
        margin: 55px 2% 0px 2%;
        padding: 0 10px;
        transition: 0.2s;
    }
    .content input{
        width: 80%;
        transition: 0.2s;
    }
    /* footer */
    .box{
        width: 100%;
        transition: 0.3s;
    }
    .box .first-box{
        padding: 0px 75px;
    }
    .box h3{
        padding: 0px 100px;
    }
    .box ul{
        padding: 0px 100px;
    }
}