:root {
  --header-height: 59px;
  --filter-height: 70px;
  --margin-rl: 20px;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}
.display-block {
  display: block !important;
}
.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}
.list-item {
  display: list-item !important;
  z-index: 1;
}
/* ------------------------ */
/* Header copy từ đây */
.display-none {
  display: none !important;
}
.display-block {
  display: block !important;
}
#header {
  background-color: #005385;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 1;
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  margin-left: var(--margin-rl);
  cursor: pointer;
}

.logo .logo-img {
  background: no-repeat center/contain url(../images/salary_page/logo1.png);
  height: 33px;
  width: 72px;
  margin: auto;
}
.logo .logo-name {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}
.nav-bar {
  position: absolute;
  top: 50%;
  left: 250px;
  height: 100%;
  display: flex;
  transform: translateY(-50%);
  align-items: center;
}

.nav-bar .job-posted-btn,
.nav-bar .find-candidates-btn,
.nav-bar .post-job-btn {
  padding: 0 25px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  height: var(--header-height);
  line-height: var(--header-height);
}

.nav-bar .post-job-btn {
  background-color: #337ab7;
}

.profile-header {
  position: absolute;
  top: 50%;
  right: var(--margin-rl);
  height: 100%;
  display: flex;
  transform: translateY(-50%);
  align-items: center;
}
.menu-bar {
  position: absolute;
  top: 50%;
  right: 0;
  height: 100%;
  display: none;
  transform: translateY(-50%);
  align-items: center;
}

.profile-header > .profile-btn {
  font-size: 14px;
  color: #000;
  border-radius: 8px;
  width: 126px;
  height: 38px;
  background-color: #fff;
  text-align: center;
  line-height: 38px;
  cursor: pointer;
}
.profile-btn i {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  padding-right: 5px;
}

.profile-header > .notify-icon {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  padding: 10px 20px;
  border-left: 1px solid rgb(255, 255, 255);
  cursor: pointer;
}

.menu-bar {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  padding: 10px 40px;
  cursor: pointer;
}
#header .profile-menu {
  position: fixed;
  display: none;
  width: 300px;
  background-color: rgb(255, 255, 255);
  top: 60px;
  right: 20px;
  border-radius: 4px;
  box-shadow: 2px 4px 4px 4px #8e8e8e66;
  animation: profile-menu 1s;
}
@keyframes profile-menu {
  from {
    opacity: 0.8;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.profile-menu .profile-img {
  background: no-repeat top center/contain
    url(https://i.postimg.cc/nzBkRnkL/241033659-1117393065335246-4555161892376511591-n.png);
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-left: 10px;
}
.profile-menu .profile-menu-header {
  padding: 10px 0;
}
.profile-menu .name {
  font-size: 16px;
  color: #000;
}
.profile-menu .email {
  font-size: 13px;
  color: rgb(165, 165, 165);
}
.profile-menu .manage-account,
.profile-menu .company-info,
.profile-menu .log-out-btn {
  font-size: 16px;
  color: rgb(84, 84, 84);
  padding: 15px 10px;
  line-height: 20px;
  cursor: pointer;
  border-top: 1px solid rgba(238, 238, 238, 0.324);
}
.profile-menu .manage-account i,
.profile-menu .company-info i,
.profile-menu .log-out-btn i {
  font-size: 18px;
  line-height: 20px;
  color: rgb(84, 84, 84);
  padding-right: 8px;
}
.profile-menu .manage-account:hover,
.profile-menu .company-info:hover,
.profile-menu .log-out-btn:hover {
  background-color: rgb(230, 230, 230);
}
@media (min-width: 1024px) and (max-width: 1399px) {
  .nav-bar {
    left: 200px;
  }
  .nav-bar .job-posted-btn,
  .nav-bar .find-candidates-btn,
  .nav-bar .post-job-btn {
    padding: 0 15px;
    font-size: 16px;
  }
  :root {
    --margin-rl: 15px;
  }
}

.menu-mobile {
  display: none;
  overflow: scroll;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.menu-mobile-modal {
  display: block;
}
.menu-mobile .close-menu {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding: 15px;
  cursor: pointer;
}
.menu-mobile .close-menu:hover {
  color: #0079c5;
}

.mobile-menu-content {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #ffffff;
}
.profile-mobile {
  padding: 20px 0px 20px 15px;
}
.profile-mobile .profile-img {
  background: no-repeat top center/contain
    url(https://i.postimg.cc/nzBkRnkL/241033659-1117393065335246-4555161892376511591-n.png);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-mobile .name {
  font-weight: bold;
  font-size: 18px;
  padding-top: 5px;
}
.profile-mobile .infor {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 2px 0px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.71);
}
.profile-mobile .sign-out i {
  padding-right: 4px;
}
.profile-mobile .sign-out {
  padding-top: 10px;
  font-size: 14px;
  color: #005285d8;
  cursor: pointer;
}

.mobile-menu-content {
  background-color: #fff;
  animation: mobile-menu-content 0.5s ease-out;
}

.menu-list {
  background-color: #fff;
}
.menu-mobile ul {
  list-style-type: none;
  padding: 25px 0;
  border-top: 1px solid #ccc;
}
.menu-list > li > a,
.notify-mobile {
  text-decoration: none;
  color: #292929;
  font-size: 18px;
  display: block;
  padding: 15px 25px;
  background-color: #fff;
  line-height: 25px;
}
.menu-list > li > a:hover,
.notify-mobile:hover {
  color: #0079c5;
  background-color: rgb(236, 236, 236);
}
.menu-list > li > a > i,
.notify-mobile > i {
  font-size: 25px;
  padding-right: 20px;
}

.notify-mobile {
  padding-top: 25px;
  border-top: 1px solid #ccc;
}

.menu-list .post-job-mobile {
}

.menu-list .notify-mobile {
  border-top: 1px solid #ccc;
  padding-top: 25px;
}

/* End Header */
/* ---------------- */

/* Content--------------------------- */
#content {
  margin-top: var(--header-height);
  margin-bottom: 50px;
}

#content .content-title,
#content .content-title i {
  font-size: 18px;
  color: #005385;
  line-height: 50px;
  padding-right: 5px;
  padding-left: 5px;
}
#content .content-title {
  padding-top: 20px;
  padding-left: 0px;
}

#content .row .title-input {
  line-height: 29px;
  text-align: end;
}
#content .row .title-sub-input {
  /* line-height: 29px; */
  text-align: end;
  font-size: 12px;
  color: rgb(164, 164, 164);
}
#content .row .title-sub-input::after {
  content: "..";
  font-size: 12px;
  color: #fff;
}
#content .row .title-input::after {
  line-height: 29px;
  content: "*";
  color: rgba(255, 0, 0, 0.652);
}

#content .row .input-row {
  width: 100%;
  font-size: 15px;
  line-height: 23px;
}
#content .row textarea.input-row {
  width: 100%;
  font-size: 15px;
  font-family: Roboto;
  height: 170px;
}

#content select.dropdown-menu {
  width: 100%;
  border: 1px solid #ccc;
  list-style: none;
  padding-left: 5px;
  height: 31px;
  font-size: 15px;
}
#content select.dropdown-menu option {
  cursor: pointer;
  line-height: 29px;
  font-size: 15px;
}

.dropdown-menu {
  position: relative;
}
.dropdown-menu > i {
  line-height: 30px;
  position: absolute;
  top: 0;
  right: 6px;
  cursor: pointer;
}
.row.submit {
  flex-direction: row-reverse;
  margin: 20px 0;
}
.row.submit > button {
  background: #005385;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 10px 25px;
}

/* Toggle switch salary */
.toggle-salary .switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 20px;
}
.toggle-salary .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle-salary .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle-salary input:checked + .slider {
  background-color: #28b446;
}

.toggle-salary input:focus + .slider {
  box-shadow: 0 0 1px #28b446;
}

.toggle-salary input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
.toggle-salary input {
  opacity: 0;
}
/* Rounded sliders */
.toggle-salary .slider.round {
  border-radius: 34px;
}

.toggle-salary .slider.round:before {
  border-radius: 50%;
}
.toggle-salary p {
  padding-left: 5px;
  display: inline-block;
}

/* Footer---------------------------- */

footer {
  background: #005385;
  color: #fff;
  width: 100%;
  height: auto;
  display: flex;
}
.footer-box {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0px 10px;
  transition: 0.3s;
}
.box {
  padding-left: 24px;
  float: left;
  width: 25%;
  height: auto;
  transition: 0.3s;
}
.box > h3 {
  margin: 12px 0px 6px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
}
.box > ul {
  list-style-type: none;
  margin: 10px 0 20px;
  padding: 0px;
}
.box > ul > li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}
.box > ul > li > i {
  width: 24px;
}
.box > ul > li > a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}
.box > ul > li:hover {
  padding: 0px 6px;
  font-weight: 500;
}
.follow-us {
  display: grid;
  width: 100%;
  background: #005385;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}
.follow-us::before {
  content: "";
  border-top: 0.3px solid #fff;
  margin: 10px 10px;
}
.follow-us::after {
  content: "";
  border-top: 0.3px solid #fff;
  margin: 10px 10px;
}
.follow-us span {
  padding: 10px;
}
.follow-us span a {
  text-decoration: none;
}
.copy {
  padding: 10px;
  background: #005385;
  text-align: center;
  color: #fff;
  font-size: small;
}

@keyframes mobile-menu-content {
  from {
    opacity: 80%;
    margin-right: -30%;
  }
  to {
    opacity: 100%;
    margin-right: 0;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .nav-bar,
  .profile-header {
    display: none;
  }
  .menu-bar {
    display: flex;
  }
  #content .row .title-input {
    /* text-align: start; */
  }
}

@media (max-width: 739px) {
  .nav-bar,
  .profile-header {
    display: none;
  }
  .menu-mobile .mobile-menu-content {
    width: 100%;
  }
  .menu-bar {
    display: flex;
  }
  #content .row .title-input {
    padding-top: 5px;
    line-height: 24px;
    text-align: start;
  }
  #content .row .title-sub-input {
    text-align: start;
  }

  .box > h3 {
    margin: 8px 0px 4px 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
  }

  .footer-box {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0px 5px;
    transition: 0.3s;
  }
  .box > ul {
    list-style-type: none;
    margin: 10px 0;
    padding: 0px;
  }
}
