html {
  box-sizing: border-box;
  font-size: 16px;
}
:root {
  --header-height: 59px;
  --filter-height: 70px;
  --margin-rl: 20px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}
ul li {
  list-style: none;
}
a {
  color: #002e5e;
  text-decoration: none;
}
body {
  font-family: "Roboto";
  margin: 0px;
  background-size: cover;
  background-color: #fff;
}
button {
  font-family: "Roboto";
}
img {
  max-width: 100%;
  height: auto;
}
.display-block {
  display: block !important;
}
.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}
.list-item {
  display: list-item !important;
  z-index: 1;
}
/* ------------------------ */
/* Header copy từ đây */
.display-none {
  display: none !important;
}
.display-block {
  display: block !important;
}
#header {
  background-color: #005385;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 1;
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  margin-left: var(--margin-rl);
  cursor: pointer;
}

.logo .logo-img {
  background: no-repeat center/contain url(../images/salary_page/logo1.png);
  height: 33px;
  width: 72px;
  margin: auto;
}
.logo .logo-name {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}
.nav-bar {
  position: absolute;
  top: 50%;
  left: 250px;
  height: 100%;
  display: flex;
  transform: translateY(-50%);
  align-items: center;
}

.nav-bar .job-posted-btn,
.nav-bar .find-candidates-btn,
.nav-bar .post-job-btn {
  padding: 0 25px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  height: var(--header-height);
  line-height: var(--header-height);
}

.nav-bar .job-posted-btn {
  background-color: #337ab7;
}

.profile-header {
  position: absolute;
  top: 50%;
  right: var(--margin-rl);
  height: 100%;
  display: flex;
  transform: translateY(-50%);
  align-items: center;
}
.menu-bar {
  position: absolute;
  top: 50%;
  right: 0;
  height: 100%;
  display: none;
  transform: translateY(-50%);
  align-items: center;
}

.profile-header > .profile-btn {
  font-size: 14px;
  color: #000;
  border-radius: 8px;
  width: 126px;
  height: 38px;
  background-color: #fff;
  text-align: center;
  line-height: 38px;
  cursor: pointer;
}
.profile-btn i {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  padding-right: 5px;
}

.profile-header > .notify-icon {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  padding: 10px 20px;
  border-left: 1px solid rgb(255, 255, 255);
  cursor: pointer;
}

.menu-bar {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  padding: 10px 40px;
  cursor: pointer;
}
#header .profile-menu {
  position: fixed;
  display: none;
  width: 300px;
  background-color: rgb(255, 255, 255);
  top: 60px;
  right: 20px;
  border-radius: 4px;
  box-shadow: 2px 4px 4px 4px #8e8e8e66;
  animation: profile-menu 1s;
}
@keyframes profile-menu {
  from {
    opacity: 0.8;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.profile-menu .profile-img {
  background: no-repeat top center/contain
    url(https://i.postimg.cc/nzBkRnkL/241033659-1117393065335246-4555161892376511591-n.png);
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-left: 10px;
}
.profile-menu .profile-menu-header {
  padding: 10px 0;
}
.profile-menu .name {
  font-size: 16px;
  color: #000;
}
.profile-menu .email {
  font-size: 13px;
  color: rgb(165, 165, 165);
}
.profile-menu .manage-account,
.profile-menu .company-info,
.profile-menu .log-out-btn {
  font-size: 16px;
  color: rgb(84, 84, 84);
  padding: 15px 10px;
  line-height: 20px;
  cursor: pointer;
  border-top: 1px solid rgba(238, 238, 238, 0.324);
}
.profile-menu .manage-account i,
.profile-menu .company-info i,
.profile-menu .log-out-btn i {
  font-size: 18px;
  line-height: 20px;
  color: rgb(84, 84, 84);
  padding-right: 8px;
}
.profile-menu .manage-account:hover,
.profile-menu .company-info:hover,
.profile-menu .log-out-btn:hover {
  background-color: rgb(230, 230, 230);
}
@media (min-width: 1024px) and (max-width: 1399px) {
  .nav-bar {
    left: 200px;
  }
  .nav-bar .job-posted-btn,
  .nav-bar .find-candidates-btn,
  .nav-bar .post-job-btn {
    padding: 0 15px;
    font-size: 16px;
  }
  :root {
    --margin-rl: 15px;
  }
}

.menu-mobile {
  display: none;
  overflow: scroll;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.menu-mobile-modal {
  display: block;
}
.menu-mobile .close-menu {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding: 15px;
  cursor: pointer;
}
.menu-mobile .close-menu:hover {
  color: #0079c5;
}

.mobile-menu-content {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #ffffff;
}
.profile-mobile {
  padding: 20px 0px 20px 15px;
}
.profile-mobile .profile-img {
  background: no-repeat top center/contain
    url(https://i.postimg.cc/nzBkRnkL/241033659-1117393065335246-4555161892376511591-n.png);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-mobile .name {
  font-weight: bold;
  font-size: 18px;
  padding-top: 5px;
}
.profile-mobile .infor {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 2px 0px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.71);
}
.profile-mobile .sign-out i {
  padding-right: 4px;
}
.profile-mobile .sign-out {
  padding-top: 10px;
  font-size: 14px;
  color: #005285d8;
  cursor: pointer;
}

.mobile-menu-content {
  background-color: #fff;
  animation: mobile-menu-content 0.5s ease-out;
}

.menu-list {
  background-color: #fff;
}
.menu-mobile ul {
  list-style-type: none;
  padding: 25px 0;
  border-top: 1px solid #ccc;
}
.menu-list > li > a,
.notify-mobile {
  text-decoration: none;
  color: #292929;
  font-size: 18px;
  display: block;
  padding: 15px 25px;
  background-color: #fff;
  line-height: 25px;
}
.menu-list > li > a:hover,
.notify-mobile:hover {
  color: #0079c5;
  background-color: rgb(236, 236, 236);
}
.menu-list > li > a > i,
.notify-mobile > i {
  font-size: 25px;
  padding-right: 20px;
}

.notify-mobile {
  padding-top: 25px;
  border-top: 1px solid #ccc;
}

.menu-list .post-job-mobile {
}

.menu-list .notify-mobile {
  border-top: 1px solid #ccc;
  padding-top: 25px;
}

/* End Header */
/* ---------------- */
/* Content ----------- */
.body-container {
  margin-top: var(--header-height);

  padding: 30px 100px 30px;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.search-container-left {
  display: flex;
  align-items: center;
}
.search-input {
  position: relative;
  width: 275px;
  border-radius: 5px;
  border: 1px solid #000;
  margin-right: 20px;
}
.search-input > input {
  font-size: 16px;
  vertical-align: middle;
  padding-left: 40px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  outline: none;
  border-radius: 5px;
  border: none;
}
.search-input > i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #333;
  font-size: 18px;
}
.search-container-right {
  display: flex;
}
.btn-search {
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  padding: 10px 20px;
  background-color: #005385;
}
.filter-name {
  position: relative;
  display: flex;
}
.filter-name > i {
  cursor: pointer;
  margin-left: 10px;
}
.filter-modal {
  display: none;
  transition: all 1s;
  opacity: 0;
  width: 250px;
  position: absolute;
  z-index: 1000;
  top: 23px;
  left: 0;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 10%) 0px 5px 10px 0px;

  align-items: center;
  justify-content: center;
}
.filter-modal.active {
  display: flex;
  opacity: 1;
}
.filter-modal-col {
  display: flex;
  flex-direction: column;
}
.filter-modal-item {
  cursor: pointer;
  padding: 10px;
  margin: 5px;
}
.filter-modal-item:hover {
  background-color: rgb(204, 204, 204);
}
#posted-job {
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;
}

#posted-job td,
#posted-job th {
  border-bottom: 1px solid #ccc;

  user-select: none;
}
#posted-job tr:nth-child(even) {
  background-color: #f2f2f2;
}
.background_even {
  background-color: #f2f2f2;
}
#posted-job tr:hover {
  background-image: linear-gradient(180deg, #00b9f2, #1182cf);
}
#posted-job th {
  padding: 15px;
  color: #fff;
  background-color: #005385;
}
#posted-job td {
  text-align: center;
  padding: 10px 5px;
}
.pagination {
  font-size: 14px;
  margin-top: 25px;
  display: flex;
  align-items: center;
}
.pagination-left {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.cell {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: #c4c4c4;
  margin-right: 10px;
  font-size: 14px;
}
.cell.active {
  background-color: #00b9f2;
}
.footer {
  display: flex;
  background-color: #005385;
  padding: 45px 100px 50px;
  color: #fff;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}
.footer-col {
  width: 25%;
}
.footer-col > h3 {
  padding: 10px;
  font-size: 22px;
  margin-bottom: 10px;
}
.footer-col ul {
  padding: 0;
}
.footer-col ul li {
  padding: 5px;

  align-items: center;
}
.footer-col ul li a {
  display: inline-flex;
  color: #fff;
  font-weight: 300;
  font-size: 15px;
}
.footer-col ul li i {
  margin-right: 5px;
}
.follow-us {
  border-bottom: 1px solid #fff;
  color: #fff;
  background-color: #005385;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.follow-us b {
  padding: 15px;
  font-size: 18px;
}
.follow-us-list-img {
  display: flex;
}
.follow-us-img-item {
  padding: 0 10px 20px;
}
.copy {
  text-align: center;
  color: #fff;
  background-color: #005385;
  padding: 10px 0;
}
@keyframes mobile-menu-content {
  from {
    opacity: 80%;
    margin-right: -30%;
  }
  to {
    opacity: 100%;
    margin-right: 0;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .nav-bar,
  .profile-header {
    display: none;
  }
  .menu-bar {
    display: flex;
  }
}
@media (max-width: 951px) {
  .footer {
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
  .footer-col {
    width: 45%;
    margin-bottom: 10px;
  }
  .footer-col > h3 {
    font-size: 20px;
  }
  .footer-col ul li a {
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  .body-container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .table-container {
    overflow-x: auto;
  }
  .table-container #posted-job {
    table-layout: fixed;
    width: 100%;
  }
  #posted-job td,
  #posted-job th {
    width: 150px;
    overflow: hidden;
  }
}
@media (max-width: 769px) {
  #posted-job td:first-child,
  #posted-job th:first-child {
    width: 100px;
    overflow: hidden;
  }
  #posted-job td:nth-child(5),
  #posted-job th:nth-child(5) {
    width: 100px;
  }
}
@media (max-width: 739px) {
  .nav-bar,
  .profile-header {
    display: none;
  }
  .menu-mobile .mobile-menu-content {
    width: 100%;
  }
  .menu-bar {
    display: flex;
  }
  .footer {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 730px) {
  .hide-on-676px {
    display: none;
  }
  .search-container {
    justify-content: center;
  }
}

@media (max-width: 610px) {
  .filter-modal {
    flex-direction: column;
    width: auto;
    left: 50px;
  }
  .search-input {
    width: 220px;
  }
  .filter-modal-item {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer-col {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .body-container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .search-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .search-input {
    width: 300px;
    margin-bottom: 20px;
  }
  #posted-job td,
  #posted-job th {
    width: 100px;
    overflow: hidden;
  }
}
