* {
  box-sizing: border-box;
  margin: 0;
}

button {
  cursor: pointer;
}
body {
  font-family: Roboto;
  margin: 0px;
  background-size: cover;
  background-color: #fff;
}
a {
  text-decoration: none;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #30c1ff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  z-index: 999;
  box-shadow: 0 6px 10px 0 rgb(0 0 0 / 10%);
}
/* logo */
.header-logo {
  display: flex;
  align-items: center;

  padding-left: 25px;
}
.header-logo > a {
  text-decoration: none;
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}
.header-logo > a > img {
  display: block;
  margin: 0 12px;
}

/* search bar */
.searchbar {
  width: 40%;
  position: relative;
  margin: 0 24px;
  display: flex;

  align-items: center;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.searchbar .job,
.local {
  display: flex;
  align-items: center;
}
.searchbar .job {
  width: 50%;
}
.searchbar .local {
  width: 33%;
}
.searchbar .job i {
  color: #30c1ff;
  padding: 0 4px;
}
.searchbar .job input {
  width: 100%;
  border: 0px;
  outline: 0px;
  font-size: 15px;
}
.searchbar .job::after {
  content: "";
  background-color: black;
  display: block;
  width: 1px;
  height: 25px;
}
.searchbar .local i {
  color: #30c1ff;
  padding: 0 4px;
}
.searchbar .local input {
  width: 100%;
  border: 0px;
  outline: 0px;
  font-size: 15px;
}
.searchbar .findjobs {
  width: 17%;
  background-color: #ffcf54;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: 0px;
  height: 40px;
  border-radius: 0px 16px 16px 0px;
  cursor: pointer;
}
/* nav-menu */
.navbar {
  display: flex;
}
.nav-menu {
  display: flex;

  list-style: none;
  user-select: none;
}
.nav-menu > li {
  display: flex;
  align-items: center;
}
.nav-menu .login {
  display: none;
}
.nav-menu .register {
  display: none;
}
.nav-menu .search-sidebar {
  display: none;
}
.nav-menu > li > a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 13px;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}
.nav-menu > li > a:hover {
  background-color: #2196f3;
  border-radius: 8px;
}
.close-btn {
  display: none;
}
.menu-btn {
  display: none;
}
/* notification + login */
.noti_login {
  display: flex;
  align-items: center;
  margin-left: 12px;
}
.noti_login::before {
  content: "";
  background-color: #fff;
  display: block;
  width: 1px;
  height: 50px;
  margin-right: 12px;
}
.noti_login > i {
  color: #fff;
  font-size: 30px;
  margin: 0px 20px 0px 0px;
  padding: 4px;
  cursor: pointer;
}
.noti_login > i:hover {
  background-color: #2196f3;
  border-radius: 20px;
}
.btn-dropdown-login {
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  background: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
}
.btn-dropdown-login i {
  margin-right: 5px;
}
/* drop down login */
.btn-dropdown {
  position: relative;
  margin-right: 12px;
}
.dropdown-profile {
  transition: all 0.5s;
  transform: translateY(-150%);
  position: absolute;
  width: 300px;
  background: #fff;
  top: 45px;
  right: 0;
  color: #000;
  z-index: 999;
  border: 1px solid #ccc;
  border-radius: 2px;

  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
  font-family: Roboto;
  font-style: normal;

  padding: 0;
}
.dropdown-profile.active {
  transform: translateY(0);
}
.dropdown-profile > a > li {
  list-style: none;
  color: #333333;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}
.dropdown-profile > a > li > i {
  margin-right: 10px;
}
.dropdown-not-login.active {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0);
}
.dropdown-not-login .title {
  padding: 12px 24px;
  font-size: 20px;
  font-weight: 600;
}
.dropdown-not-login .title .social-login {
  display: flex;
  padding-top: 15px;
  font-weight: normal;
  font-size: 15px;
}
.dropdown-not-login .title .social-login a {
  width: 154px;
  align-items: center;
  margin-right: auto;
  color: #555;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 8px 0 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  transition: all 0.3s ease;
}
.dropdown-not-login .title .social-login a:hover {
  background-color: lightgray;
}
.dropdown-not-login .title .social-login a img {
  width: 22px;
  margin-right: 12px;
}
.dropdown-login,
.dropdown-register {
  padding: 12px 12px;
  cursor: pointer;
  box-sizing: border-box;
  border-top: 0.5px solid rgba(0, 0, 0, 0.3);
}
.dropdown-login:hover {
  background-color: rgb(241, 240, 240);
}
.dropdown-register:hover {
  background-color: rgb(241, 240, 240);
}
.dropdown-login a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}
.dropdown-login a img {
  margin-right: 12px;
}
.dropdown-register a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}
.dropdown-register a img {
  margin-right: 12px;
}
.management {
  transition: top 0.5s;
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #f7f7f7;
  display: flex;
  padding: 0 20px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px 0;
}
.management-item {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.management-item > img {
  width: 25px;
  margin-right: 10px;
}
.body-content {
  margin-top: 100px;
  padding: 0 150px;
  padding-top: 20px;
}
.myprofile-card {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 5px;
}
.myprofile-avatar {
  border: 1px solid #000;
  height: 75px;
  width: 75px;
  background-color: #f2f2f2;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.myprofile-avatar .icon {
  font-size: 40px;
}
.myprofile-name {
  font-size: 18px;
  padding: 5px;
}
.myprofile-desc {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.myprofile-desc > p {
  font-weight: 300;
  font-style: italic;
}
.myprofile-desc > span {
  font-weight: 600;
}
.progressbar {
  margin: 5px 0;
  width: 80%;
  background-color: #cac5c5;
  border-radius: 13px;
}
.progressbar > div {
  background-color: #2a8cff;
  width: 40%;
  /* Adjust with JavaScript */
  height: 10px;
  border-radius: 13px;
}
.btn-update-profile {
  margin-top: 5px;
  border: 1px solid #ff9900;
  font-family: roboto;
  border-radius: 3px;
  padding: 5px 10px;
  color: #ff9900;
}
.profile-setting-card {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.profile-setting-heading {
  padding: 8px;

  background: #c4c4c4;
}
.profile-setting-heading > h3 {
  font-size: 18px;
}
.profile-setting-body {
  padding: 10px;
}
.profile-setting-file-upload {
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px dashed #000000;
  background-color: #fff;
  font-size: 14px;
  padding: 10px;
}
.profile-setting-file-upload > .btn-submit {
  margin-bottom: 5px;
}
.line {
  height: 0;
  border-bottom: 1px solid #000000;
}
.profile-setting-footer {
  padding: 10px;
}
.profile-setting-content {
  margin-top: 5px;
  display: flex;
  align-items: center;
  font-size: 15px;
  justify-content: space-between;
}
.profile-setting-content > input {
  margin-left: 5px;
  height: 30px;
  width: 30px;
}
.hide-profile-card {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.hide-profile-heading {
  padding: 8px;
  background: #c4c4c4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hide-profile-heading > h3 {
  font-size: 18px;
}
.hide-profile-heading > p {
  color: #f7941d;
  font-size: 13px;
  font-weight: 700;
}
.hide-profile-item > b {
  font-size: 14px;
}
.hide-profile-body {
  padding: 25px;
}
.hide-profile-body-input {
  margin: 15px 0;
  position: relative;
}
.hide-profile-body-input > input {
  border: 1px solid #000000;
  border-radius: 2px;
  padding: 7px;
  font-size: 16px;
  width: 100%;
}
.hide-profile-body-input > img {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.careers {
}
.careers [class*="col"] {
  padding: 5px;
}
.career-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 100%;
  background-color: #f2f2f2;
}
.career-card-heading > h3 {
  font-size: 50px;
  font-weight: 400;
}
.career-card-body {
  width: 100%;
  text-align: center;
  height: 100%;
}
.career-card-body-title {
  margin-bottom: 10px;
  text-transform: uppercase;
}
.career-card-body-list {
  width: 100%;
  display: flex;
}
.career-card-body-item {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.btn-career {
  cursor: default;
  user-select: none;
  border: none;
  width: 35px;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 5px;
}
.company {
  background-color: #f2f2f2;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0 30px;
}
.company-header {
  padding: 30px 0;
  font-size: 18px;
}
.company-item {
  padding: 15px 0;
  margin: 0 15px;
  border-bottom: 1px solid #c4c4c4;
  align-items: center;
}
.company-item:first-child {
  border-top: 1px solid #c4c4c4;
}
.company-item:last-child {
  border: none;
}
.company-item-img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.company-item > .col-2 {
  padding-right: 15px;
  padding-left: 0;
}
.company-item > .col-10 {
  padding-left: 0;
  padding-right: 0;
}

.company-item-content .company-item-header {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 2px;
  cursor: pointer;
}
.company-item-info > p {
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  color: #999;
  font-size: 20px;
  display: -webkit-box;

  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* footer */
.main-footer {
  margin-top: 50px;
  padding: 20px 100px;

  background-color: #2a8cff;
  color: white;
  width: 100%;

  display: flex;
}

.box {
  padding: 15px;
  width: 20%;
  display: flex;
  flex-direction: column;

  transition: 0.3s;
  margin-right: 15px;
}

.box .description {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
}
.box .learn-more {
  margin-top: 20px;

  font-family: Roboto;

  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  background-color: #efefef;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  padding: 10px 20px;
}
.box > h3 {
  margin: 12px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
}
.logo {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.logo > a {
  text-decoration: none;
  color: white;
  font-family: Roboto;
  font-size: 22px;

  font-weight: 700;
  text-align: center;
  letter-spacing: 1.8px;
}

.box > ul {
  list-style-type: none;
  margin: 25px 0;
  padding: 0px;
}
.box > ul > li {
  margin-bottom: 8px;
}
.box > ul > li > a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}
.box > ul > li > a:hover {
  padding: 0px 6px;
  font-weight: 500;
}
/* follow us */
.follow-us {
  display: grid;
  width: 100%;
  background-color: #2a8cff;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}
.follow-us::before {
  content: "";
  border-top: 0.3px solid #fff;
  margin: 12px 24px;
}
.follow-us::after {
  content: "";
  border-top: 0.3px solid #fff;
  margin: 8px 24px;
}
.follow-us span {
  padding: 10px;
}
.follow-us span a {
  text-decoration: none;
}
/* copyright */
.copy {
  font-family: Roboto;
  padding: 10px;
  font-size: small;
  text-align: center;
  background-color: #2a8cff;
  color: #fff;
}
.copy p {
  margin: 0px;
}

/* responsive */
@media (max-width: 1337px) {
  /* header */
  .header {
    padding: 4px -16px;
  }
  .searchbar {
    width: 66%;
    transition: 0.3s;
  }
  .navbar::after {
    display: none;
  }
  .navbar {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    z-index: 900;
    background: rgba(1, 1, 1, 0.5);
  }
  .navbar.active {
    visibility: visible;
  }
  .nav-menu {
    background-color: #30c1ff;
    position: fixed;
    display: block;
    top: 0;
    right: -100%;
    visibility: hidden;
    overflow-y: auto;
    padding: 60px 12px;
    height: 100vh;
    z-index: 900;
    transition: 0.5s;
    transition-property: right, visibility;
  }
  .nav-menu.active {
    right: 0;
    visibility: visible;
  }
  .close-btn {
    display: block;
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    margin: 12px;
    background-size: 40px;
    background-position: center;
    cursor: pointer;
  }
  .nav-menu .login {
    display: block;
    border-top: 1px solid #fff;
  }
  .nav-menu .register {
    display: block;
  }
  .nav-menu li {
    position: relative;
    display: flex;
    align-items: center;
  }
  .nav-menu li a {
    width: 210px;
  }
  .menu-btn {
    color: #fff;
    cursor: pointer;
    display: block;
    margin-right: 12px;
  }
  .noti_login {
    display: none;
  }
}

@media (max-width: 1288px) {
  .body-content {
    padding: 0 100px;
  }
  /* header */
  .searchbar {
    width: 72%;
    transition: 0.1s;
    visibility: visible;
    transition-property: visibility;
  }
}
@media (max-width: 1024px) {
  .body-content {
    padding: 0 50px;
  }
  .main-footer {
    flex-wrap: wrap;
  }
  .box {
    width: 31%;
  }
}

@media (max-width: 830px) {
  .career-card {
    margin: 0 10px;
  }
  .company {
    margin-left: 15px;
    margin-right: 15px;
  }
  .management {
    align-items: center;
    justify-content: center;
  }
  /* header */
  .searchbar {
    visibility: collapse;
  }
  .nav-menu .search-sidebar {
    display: block;
  }
  .nav-menu li a {
    width: 250px;
  }
  .nav-menu .search-sidebar .job,
  .local {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 16px;
    padding: 4px;
    margin: 6px auto;
    box-shadow: 0 6px 10px 0 rgb(0 0 0 / 10%);
  }
  .nav-menu .search-sidebar .job i {
    color: #30c1ff;
  }
  .nav-menu .search-sidebar .job input {
    outline: 0;
    border: 0;
    width: 248px;
    font-size: small;
  }
  .nav-menu .search-sidebar .local i {
    color: #30c1ff;
  }
  .nav-menu .search-sidebar .local input {
    outline: 0;
    border: 0;
    width: 248px;
    font-size: small;
  }
  .search-sidebar .findjobs-btn {
    width: max-content;
    background-color: #ffcf54;
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    border: 0px;
    padding: 6px 24px;
    margin: 12px auto;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 0 6px 10px 0 rgb(0 0 0 / 10%);
  }
  .main-footer {
    padding-left: 50px;
    padding-right: 50px;
  }
  .box {
    width: 43%;
  }
}
@media (max-width: 700px) {
  .col-logo {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 22%;
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    max-width: 22%;
  }
  .col-content {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 78%;
    -ms-flex: 0 0 78%;
    flex: 0 0 78%;
    max-width: 78%;
  }
  .company {
    padding-left: 15px;
    padding-right: 0;
  }
  .company-item {
    width: 100%;
    margin: 0;
  }
  .company-item-content .company-item-header {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}
@media (max-width: 599px) {
  .hide-on-mobile {
    display: none;
  }
  .management {
    justify-content: space-between;
  }
  .company-item-content .company-item-header {
    font-size: 14px;
  }
  .company-item-info > p {
    font-size: 16px;
  }
  .col-logo {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
  }
  .col-content {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
  }
  .body-content {
    padding: 0 30px;
  }
  .box {
    width: 100%;
  }
}
@media (max-width: 413px) {
  .company-item-content .company-item-header {
    font-size: 13px;
  }
  .company-item-info > p {
    font-size: 14px;
  }
}
