* {
  box-sizing: border-box;
  font-family: Roboto;
}
body {
  margin: 0px;
  background-size: cover;
  background-color: #f7f7f7;
}

/* content holder */
.content-holder {
  height: auto;
  max-width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  margin: 55px 10% 0px 10%;
  background-color: #fff;
  flex-direction: column;
  display: flex;
  transition: 0.2s;
}
.content-holder .title {
  padding: 40px;
  font-family: Roboto;
  font-size: 35px;
  line-height: 41px;
  color: #f7941d;
}
.statistical-grid {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 22%);
  gap: 42px;
  margin: 20px 40px;
  transition: 0.2s;
}
.statistical-grid .card {
  box-sizing: border-box;
  display: block;
  padding: 5px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
}
.card .caption {
  font-weight: bold;
  font-size: 16px;
  color: #62b4ff;
  padding: 10px 10px 0;
}
.card .content {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  padding: 10px;
}
.card .content .text {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}
.card .content .icon {
  max-height: 46px;
}
.content-holder .filter {
  display: flex;
  align-items: center;
  margin: 0 40px;
  padding: 4px 0;
}
.filter div {
  padding: 4px;
  margin: 2px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}
.filter div i {
  padding: 6px;
}
.filter input {
  padding: 4px;
  margin: 0 4px;
  outline: none;
  border: none;
  border-bottom: 0.5px solid black;
}
.statistical-container {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
}
.statistical-container .chart {
  width: 100%;
  float: left;
  flex-direction: column;
  padding: 20px 20px 20px 40px;
  transition: 0.2s;
}
.statistical-container .sidebar {
  float: left;
  width: 100%;
  flex-direction: column;
  padding: 40px 40px 20px 10px;
  transition: 0.2s;
}
.chart #columnchart_values {
  width: 100%;
  padding-bottom: 10px;
  min-height: 450px;
}
.chart #chart_div {
  width: 100%;
  padding-bottom: 10px;
  min-height: 360px;
}
.list .list-header {
  width: 100%;
  display: flex;
  padding: 10px;
  background-color: #30c1ff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
}
.list-header .numeric {
  width: 20%;
  padding: 0px 10px;
  color: #fff;
}
.list-header .job-name {
  width: 40%;
  padding: 0px 10px;
  color: #fff;
}
.list-header .quantity {
  width: 40%;
  padding: 0px 10px;
  color: #fff;
}
.list .list-item {
  width: 100%;
  display: flex;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
}
.list-item .numeric {
  width: 20%;
  padding: 0px 10px;
}
.list-item .job-name {
  width: 40%;
  padding: 0px 10px;
}
.list-item .quantity {
  width: 40%;
  padding: 0px 10px;
}
.sidebar .banner {
  padding: 20px 0;
}
.banner a img {
  width: 100%;
  padding: 20px 0;
  min-height: 400px;
}
/* footer */
.main-footer {
  background-color: #30c1ff;
  color: white;
  width: 100%;
  height: auto;
  display: flex;
}
.footer-box {
  width: 1270px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0px;
}
.box {
  float: left;
  width: 20%;
  height: auto;
  transition: 0.3s;
}
.box .first-box {
  display: grid;
  max-width: 400px;
}
.box .first-box .description {
  float: left;
  padding: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
}
.box .first-box .learn-more {
  max-width: max-content;
  height: 50px;
  margin: 0 25px;
  padding: 0 8px;
  float: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.box > h3 {
  margin: 12px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
}
.box > ul {
  list-style-type: none;
  margin: 25px 0;
  padding: 0px;
}
.box > ul > li {
  margin-bottom: 8px;
}
.box > ul > li > a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}
.box > ul > li > a:hover {
  padding: 0px 6px;
  font-weight: 500;
}
/* follow us */
.follow-us {
  display: grid;
  width: 100%;
  background: #30c1ff;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}
.follow-us::before {
  content: "";
  border-top: 0.3px solid #fff;
  margin: 12px 24px;
}
.follow-us::after {
  content: "";
  border-top: 0.3px solid #fff;
  margin: 8px 24px;
}
.follow-us span {
  padding: 10px;
}
.follow-us span a {
  text-decoration: none;
}
/* copyright */
.copy {
  font-family: Roboto;
  padding: 10px;
  font-size: small;
  text-align: center;
  background-color: #30c1ff;
  color: #fff;
}
.copy p {
  margin: 0px;
}

/* responsive */
@media (max-width: 1437px) {
  /* header */
  
  /* content holder */
  .content-holder {
    margin: 55px 8% 0px 8%;
    transition: 0.2s;
  }
  /* footer */
  .box {
    width: 33%;
    transition: 0.3s;
  }
  .box .first-box {
    padding: 0px 45px;
  }
  .box h3 {
    padding: 0px 70px;
  }
  .box ul {
    padding: 0px 70px;
  }
}
@media (max-width: 1288px) {
  /* header */
 
  /* content holder */
  .content-holder {
    margin: 55px 6% 0px 6%;
    transition: 0.2s;
  }
  .statistical-grid {
    grid-template-columns: repeat(4, 23%);
    gap: 20px;
    margin: 20px;
    transition: 0.2s;
  }
  /* footer */
}
@media (max-width: 1188px) {
  /* content holder */
  .statistical-grid {
    grid-template-columns: repeat(2, 50%);
    gap: 20px;
    margin: 20px 40px;
    transition: 0.2s;
  }
  .statistical-container .chart {
    padding: 20px 10px 20px 20px;
    transition: 0.2s;
  }
  .statistical-container .sidebar {
    padding: 20px 30px 20px 10px;
    transition: 0.2s;
  }
}
@media (max-width: 1080px) {
  /* content holder */
  .content-holder {
    margin: 55px 5% 0px 5%;
    transition: 0.2s;
  }
  .statistical-container{
    grid-template-columns: 100%;
  }
  .statistical-container .chart {
    padding: 20px;
    transition: 0.2s;
  }
  .statistical-container .sidebar {
    padding: 20px;
    transition: 0.2s;
  }
}
@media (max-width: 830px) {
  /* header */
  
  /* content holder */
  .content-holder {
    margin: 55px 4% 0px 4%;
    transition: 0.2s;
  }
  /* footer */
  .box {
    width: 50%;
    transition: 0.3s;
  }
  .box .first-box {
    padding: 0px 55px;
  }
  .box h3 {
    padding: 0px 80px;
  }
  .box ul {
    padding: 0px 80px;
  }
}
@media (max-width: 700px) {
  /* content holder */
  .statistical-grid {
    grid-template-columns: repeat(1, 100%);
    gap: 20px;
    margin: 20px 40px;
    transition: 0.2s;
  }
}
@media (max-width: 600px) {
  /* content holder */

  /* footer */
  .box {
    width: 100%;
    transition: 0.3s;
  }
  .box .first-box {
    padding: 0px 75px;
  }
  .box h3 {
    padding: 0px 100px;
  }
  .box ul {
    padding: 0px 100px;
  }
}
