body{
    margin: 0px;
    background-size: cover;
    background-color: #f7f7f7;
}
.header{
    background-color: #30C1FF;
    width: 100%;
    display: inline-flex;
    height: auto;
}
/* logo */
.logo{
    max-width: 100px;
    padding-left: 43px;
    padding-bottom: 5px;
    float: left;
}
.logo > a{
    text-decoration: none;
    color: white;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.logo img{
    display: block;
    margin: 0 auto 0 auto;
}
/* search bar */
.searchbar{
    margin: auto;
    display: flex;
    float: left;
    align-items: center;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
}
.searchbar > i{
    color: #30C1FF;
    font-size: 30px;
    margin-left: 5px;
}
.searchbar .job{
    display: inline-flex;
}
.searchbar .job input{
    width: 270px;
    border: 0px;
    outline: 0px;
    font-size: 15px;
    margin-right: 10px;
}
.searchbar .job::after{
    content: "";
    background-color: black;
    display: block;
    width: 1px;
    height: 25px;
}
.searchbar .local input{
    width: 150px;
    border: 0px;
    outline: 0px;
    font-size: 15px;
}
.searchbar .findjobs{
    width: 100px;
    background-color: #FFCF54;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border: 0px;
    height: 50px;
    border-radius: 0px 16px 16px 0px;
    cursor: pointer;
}
/* nav-menu */
.navbar{
    display: inline-flex;
    align-items: center;
}
.navbar::after{
    content: "";
    background-color: #fff;
    display: block;
    width: 1px;
    height: 50px;
}
.nav-menu{
    list-style: none;
}
.nav-menu > li{
    display: inline-block;
}
.nav-menu > li > a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-weight: 700;
    font-family: Roboto;
    font-size: 18px;
    transition: all 0.3s ease 0s;
}
.nav-menu > li > a:hover{
    background-color: #2196F3;
}
/* notification + login */
.noti_login{
    margin: 20px;
    display: inline-flex;
    align-items: center;
}
.noti_login > i{
    color: #fff;
    font-size: 30px;
    margin: 0px 15px 0px 3px;
    cursor: pointer;
}
.noti_login .login{
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    background: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.noti_login .login i{
    margin: 0px 10px 0px 0px;
}
/* content holder */
.content-holder{
    width: 1140px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    flex-direction: column;
}
.content{
    padding: 24px;
    width: 59%;
    height: auto;
    float: left;
}
.content-title{
    background-color: #F2F2F2;
    margin: 26px;
    margin-bottom: 25px;
    padding: 15px 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}
.statistical-list{
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    gap: 20px;
}
.statistical-item{
    display: block;
    width: 325px;
    height: auto;
    float: left;
    border: 1px solid #00BFFF;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 5px;
}
.statistical-item .item-caption{
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0px 15px;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    border-bottom: 1px solid #00BFFF;
}
.statistical-item .item-body{
    padding: 15px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.statistical-item .item-body .item-job-content{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
}
.statistical-item .item-body .item-job-content .title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1 0%;
}
.statistical-item .item-body .item-job-content .title a{
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7);
}
.statistical-item .item-body .item-job-content .title a:hover{
    color: #ffc107;
}
.statistical-item .item-body .item-job-content .salary{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7);
}
.see-more{
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}
.see-more .see-more-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}
.see-more .see-more-text a{
    text-decoration: none;
    color: #00BFFF;
}
.content-share{
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: right;
}
.content-share .content-group{
    display: inline-flex;
    align-items: center;
}
.content-share .content-group .share-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7);
}
.content-share .content-group .icon{
    margin-left: 8px;
    display: inline-grid;
    grid-template-columns: repeat(5, auto);
    gap: 10px;
}
.content-share .content-group .icon span{
    cursor: pointer;
}
.content-share .content-group .icon span img{
    width: 22px;
}
.banner{
    float: right;
    width: 36%;
}
.banner a img{
    margin-top: 114px;
    cursor: pointer;
}
.clearfix{
    clear: both;
}
.high-salary{
    margin-top: 16px;
    padding: 24px;
    width: 100%;
    height: auto;
}