:root {
  --header-height: 89px;
  --filter-height: 70px;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
/* Common class */
.display-none {
  display: none !important;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #30c1ff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  box-shadow: 0 6px 10px 0 rgb(0 0 0 / 10%);
}
/* logo */
.logo {
  width: auto;
  margin: 0px 0px;
  float: left;
  padding-left: 25px;
}
.logo > a {
  text-decoration: none;
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.logo > a > img {
  display: block;
  margin: 0 12px;
}
/* search bar */
.searchbar {
  width: 40%;
  position: relative;
  margin: auto 24px;
  display: flex;
  height: max-content;
  align-items: center;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.searchbar .job,
.local {
  display: flex;
  align-items: center;
}
.searchbar .job {
  width: 50%;
}
.searchbar .local {
  width: 33%;
}
.searchbar .job i {
  color: #30c1ff;
  padding: 0 4px;
}
.searchbar .job input {
  width: 100%;
  border: 0px;
  outline: 0px;
  font-size: 15px;
}
.searchbar .job::after {
  content: "";
  background-color: black;
  display: block;
  width: 1px;
  height: 25px;
}
.searchbar .local i {
  color: #30c1ff;
  padding: 0 4px;
}
.searchbar .local input {
  width: 100%;
  border: 0px;
  outline: 0px;
  font-size: 15px;
}
.searchbar .findjobs {
  float: right;
  width: 17%;
  background-color: #ffcf54;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border: 0px;
  height: 40px;
  border-radius: 0px 16px 16px 0px;
  cursor: pointer;
}
/* nav-menu */
.navbar {
  display: inline-flex;
  align-items: center;
}
.nav-menu {
  display: flex;
  justify-content: center;
  list-style: none;
  user-select: none;
  margin: auto;
}
.nav-menu > li {
  display: flex;
  align-items: center;
}
.nav-menu .login {
  display: none;
}
.nav-menu .register {
  display: none;
}
.nav-menu .search-sidebar {
  display: none;
}
.nav-menu > li > a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 15px;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}
.nav-menu > li > a:hover {
  background-color: #2196f3;
  border-radius: 8px;
}
.close-btn {
  display: none;
}
.menu-btn {
  display: none;
}
/* notification + login */
.noti_login {
  display: flex;
  align-items: center;
  margin-left: 12px;
}
.noti_login::before {
  content: "";
  background-color: #fff;
  display: block;
  width: 1px;
  height: 50px;
  margin-right: 12px;
}
.noti_login > i {
  color: #fff;
  font-size: 30px;
  margin: 0px 20px 0px 0px;
  padding: 4px;
  cursor: pointer;
}
.noti_login > i:hover {
  background-color: #2196f3;
  border-radius: 20px;
}
.noti_login .login {
  min-width: 110px;
  max-width: 150px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  background: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.noti_login .login div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.noti_login .login i {
  margin: 0px 10px 0px 0px;
}
/* drop down login */
.btn-dropdown {
  position: relative;
  margin-right: 12px;
}
.dropdown-not-login {
  position: absolute;
  width: 380px;
  background: #fff;
  top: 52px;
  right: 0;
  color: #000;
  z-index: 999;
  border: 1px solid #ccc;
  border-radius: 2px;
  cursor: default;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
  font-family: Roboto;
  font-style: normal;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-5px);
  transition: 0.2s;
  transition-property: transform, opacity;
}
.dropdown-not-login.active {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0);
}
.dropdown-not-login .title {
  padding: 12px 24px;
  font-size: 20px;
  font-weight: 600;
}
.dropdown-not-login .title .social-login {
  display: flex;
  padding-top: 15px;
  font-weight: normal;
  font-size: 15px;
}
.dropdown-not-login .title .social-login a {
  width: 154px;
  align-items: center;
  margin-right: auto;
  color: #555;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 8px 0 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  transition: all 0.3s ease;
}
.dropdown-not-login .title .social-login a:hover {
  background-color: lightgray;
}
.dropdown-not-login .title .social-login a img {
  width: 22px;
  margin-right: 12px;
}
.dropdown {
  padding: 12px 12px;
  cursor: pointer;
  box-sizing: border-box;
  border-top: 0.5px solid rgba(0, 0, 0, 0.3);
}
.dropdown:hover {
  background-color: rgb(241, 240, 240);
}
.dropdown a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}
.dropdown a div {
  display: flex;
  align-items: center;
  margin-right: 12px;
  min-width: 25px;
}
/* responsive */
@media (max-width: 1437px) {
  body .row.filter select {
    margin-right: 18px;
  }
  /* header */
  .header {
    padding: 4px -16px;
  }
  .searchbar {
    width: 66%;
    transition: 0.3s;
  }
  .navbar::after {
    display: none;
  }
  .navbar {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    z-index: 900;
    background: rgba(1, 1, 1, 0.5);
  }
  .navbar.active {
    visibility: visible;
  }
  .nav-menu {
    background-color: #30c1ff;
    position: fixed;
    display: block;
    top: 0;
    right: -100%;
    visibility: hidden;
    overflow-y: auto;
    padding: 60px 12px;
    height: 100vh;
    z-index: 900;
    transition: 0.5s;
    transition-property: right, visibility;
  }
  .nav-menu.active {
    right: 0;
    visibility: visible;
  }
  .close-btn {
    display: block;
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    margin: 12px;
    background-size: 40px;
    background-position: center;
    cursor: pointer;
  }
  .nav-menu .login {
    display: block;
    border-top: 1px solid #fff;
  }
  .nav-menu .register {
    display: block;
  }
  .nav-menu li {
    position: relative;
    display: flex;
    align-items: center;
  }
  .nav-menu li a {
    width: 250px;
  }
  .menu-btn {
    color: #fff;
    cursor: pointer;
    display: block;
    margin-right: 12px;
  }
  .noti_login {
    display: none;
  }
}
@media (max-width: 1288px) {
  /* header */
  .searchbar {
    width: 72%;
    transition: 0.1s;
    visibility: visible;
    transition-property: visibility;
  }
}
@media (max-width: 830px) {
  /* header */
  .searchbar {
    visibility: collapse;
  }
  .nav-menu .search-sidebar {
    display: block;
  }
  .nav-menu li a {
    width: 250px;
  }
  .nav-menu .search-sidebar .job,
  .local {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 16px;
    padding: 4px;
    margin: 6px auto;
    box-shadow: 0 6px 10px 0 rgb(0 0 0 / 10%);
  }
  .nav-menu .search-sidebar .job i {
    color: #30c1ff;
  }
  .nav-menu .search-sidebar .job input {
    outline: 0;
    border: 0;
    width: 248px;
    font-size: small;
  }
  .nav-menu .search-sidebar .local i {
    color: #30c1ff;
  }
  .nav-menu .search-sidebar .local input {
    outline: 0;
    border: 0;
    width: 248px;
    font-size: small;
  }
  .search-sidebar .findjobs-btn {
    width: max-content;
    background-color: #ffcf54;
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    border: 0px;
    padding: 6px 24px;
    margin: 12px auto;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 0 6px 10px 0 rgb(0 0 0 / 10%);
  }
}

/* Body */

body .row.filter {
  margin-top: 56px;
}
body .row.filter select {
  border: none;
  cursor: pointer;
  font-family: Nunito, Helvetica, sans-serif;
  font-size: 16px;
  margin-right: 45px;
}
body .row.filter select option {
  cursor: pointer;
}
body .row.filter select:focus-visible {
  border: none;
  outline: none;
}
body .row.filter .filter2,
body .row.filter .filter1 {
  border-bottom: 1px solid #f5f5f5;
  margin: 0;
}
body .row.filter .filter1 {
  padding: 8px 0px 4px 30px;
}
body .row.filter .filter2 {
  padding: 4px 0px 8px 30px;
}
.div-filter-check {
  cursor: pointer;
}

/* Content */
.side-bar,
.content {
  overflow: scroll;
  height: calc(100vh - 86px);
}

.body {
  /* margin-top: 86px; */
}
body .row.no-gutters .job-card {
  position: relative;
  border-bottom: 5px solid rgb(228, 228, 228);
  padding: 15px 15px;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  border-left: 5px solid #ffffff;
  transition: background-color 0.6s ease-out, border 0.6s ease-out;
}

.job-card:hover {
  border-left: 5px solid #4ec5c6;
  background-color: #c7edff5b;
}
.job-card .job-picture {
  background: no-repeat top center/contain
    url(../images/search-page/Tiki-Logo.png);
  height: 60%;
}
.job-card .job-detail {
  color: rgba(0, 0, 0, 0.5);
  padding-left: 25px;
}
.job-card .job-name,
.job-card .job-salary {
  color: #292836;
  font-size: 18px;
  font-weight: 600;
}
.job-card .company-name {
}
.job-card .job-salary {
  padding: 15px 0px 4px 0px;
}
.job-card .company-name,
.job-card .job-category,
.job-card .job-address {
  color: #54535e;
  padding-bottom: 8px;
  font-size: 15px;
  font-weight: 400;
}
.job-card .job-address {
}
.job-card i {
  font-size: 22px;
  color: #f42b4b;
  font-weight: 100;
  position: absolute;
  right: 30px;
  bottom: 20px;
  --fa-animation-duration: 0s !important;
}
.job-card i:hover {
  --fa-animation-duration: 3s !important;
}

.job-card .apply-button {
  color: rgb(255 255 255);
  padding: 5px 40px;
  text-align: center;
  display: inline-block;
  border-radius: 16px;
  font-weight: bold;
  background: #34a0b3;
  margin-left: 25px;
  margin-top: 5px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #ffffff;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.job-card .apply-button:hover {
  background: #43c9e1;
  color: #ffffff;
  border: 1px solid #34a0b3;
}

.content {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  padding-top: 15px;
}

.company-info {
  padding-left: 25px;
}
.company-info .job-picture {
  background: no-repeat left/contain url(../images/search-page/Tiki-Logo.png);
  height: 100px;
}
.company-info .job-name {
  font-size: 21px;
  font-weight: 600;
}
.company-info .company-name {
}
.job-benfits {
  padding: 25px 10px 0px 25px;
}
.job-description {
  padding: 25px 10px 0px 25px;
}
.job-requirement {
  padding: 25px 10px 0px 25px;
}
.job-address {
  padding: 25px 10px 0px 25px;
}

.job-benfits .title,
.job-description .title,
.job-requirement .title,
.job-address .title {
  font-size: 18px;
  font-weight: 800;
  padding-bottom: 5px;
}

.job-benfits .descript,
.job-description .descript,
.job-requirement .descript,
.job-address .descript {
  padding-left: 10px;
}

.content .apply-btn {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  text-align: center;
  display: inline-block;
  border-radius: 16px;
  font-weight: bold;
  background: #34a0b3;
  cursor: pointer;
  border: 1px solid #ffffff;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
.content .apply-btn:hover {
  background: #43c9e1;
  color: #ffffff;
  border: 1px solid #34a0b3;
}
.button-section {
  padding: 20px 0px;
}
.content .save-btn {
  display: inline-block;
  color: rgb(244, 43, 75);
  padding: 5px 20px 5px 15px;
  font-size: 16px;
  border: 2px solid rgb(238, 128, 147);
  border-radius: 16px;
  margin-left: 10px;
  cursor: pointer;
}
.content .save-btn > i {
  color: rgb(244, 43, 75);
  padding-right: 10px;
  font-weight: 400;
  --fa-animation-duration: 0s !important;
}

/* Content mobile */
.content-mobile {
  position: fixed;
  z-index: 1000;
  top: 0;
  background: #fff;
  padding-top: 30px;
  height: 100vh;
  animation: content-mobile 1s;
}
.content-mobile .back i {
  padding: 6px 10px;
  cursor: pointer;
}
.content-mobile .back {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 21px;
  color: #fff;
  background: #2ba9df;
  width: 100%;
}
.content-mobile .content {
  width: 100%;
  overflow: unset;
}
.content-mobile .content .button-section {
  padding: 20px 40px;
  justify-content: end;
}

/* Popup apply */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 120px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 650px;
  min-width: 500px;
  font-family: Nunito, Helvetica, sans-serif;
  position: relative;
}
.popup title {
  display: flex;
}
.popup h3,
.popup p {
  display: inline-block;
  margin-top: 0;
  color: #333;
  font-family: Nunito, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

.popup p {
  font-weight: bold;
}

.popup .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px 13px;
  transition: all 100ms;
  font-size: 28px;
  text-decoration: none;
  color: #ccc;
}
.popup .close:hover {
  color: #34a0b3;
}
.popup .leftContentPopup {
  margin-left: 5%;
  font-weight: bold;
  text-align: right;
  float: left;
}
.popup .rightContentPopup {
  text-align: left;
}
.popup .contentPopup {
  padding: 10px;
}
.popup .contentbtn {
  padding: 5px;
}
.popup .bodyPopup {
  margin-top: 10px;
}
.popup .bodyPopup .info-popup {
  padding: 5px 0;
  font-size: 17px;
}
.popup .bodyPopup .left {
  text-align: right;
  padding-right: 10px;
}
.popup .bodyPopup .right {
}

.popup .box1 {
  width: 100%;
  padding: 20px;
  display: flex;
  margin-top: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.popup .box1 .avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 30px;
  margin-right: 30px;
}
.popup .box1 .name {
  padding: 11px 0 9px 0;
  font-family: Nunito, Helvetica, sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  color: #000000;
}
.popup .box1 .position {
  font-family: Nunito, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;

  color: rgba(17, 18, 18, 0.62);
}
.popup .footer {
  margin-top: 18px;
  display: flex;
  justify-content: right;
  margin-right: auto;
}
.popup .rightSize {
  padding: 10px;
  margin: 10px;
}
.popup .btn {
  font-size: 1em;
  color: #fff;
  margin-right: 8px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #f7941d;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.popup .btn:hover {
  background: #f7941dd4;
  color: #fff;
}
.btn ~ .btn {
  margin-left: 10px;
}

@media screen and (max-width: 700px) {
  body .row.filter select {
    margin-right: 10px;
  }
  .popup {
    width: 85%;
  }
  .popup .box1 {
    width: 100%;
    padding: 10px;
    display: flex;
    margin-top: 8px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .popup .box1 .avatar {
    margin: 0px;
    margin-right: 10px;
    background: #ccc;
  }
  .popup .leftContent {
    margin-left: 0%;
    font-weight: bold;
    text-align: right;
    float: left;
  }
}

@keyframes content-mobile {
  0% {
    opacity: 100%;
    transform: translateX(100px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0px);
  }
}
