:root {
  --header-height: 89px;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

#header {
  background-color: #30c1ff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 1;
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  margin-left: 44px;
  cursor: pointer;
}

.logo .logo-img {
  background: no-repeat center/contain url(../images/salary_page/logo1.png);
  height: 57px;
  width: 72px;
  margin: auto;
}
.logo .logo-name {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.search-bar {
  width: 100%;
}

.search-bar :focus {
  outline: none;
}

.search-bar form {
  height: 50px;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  width: calc(100% - 700px);
  margin-left: 36px;
  align-items: center;
  overflow: hidden;
}

.search-bar .search-input {
  width: 50%;
}
.search-bar .address-input {
  width: 35%;
  padding-right: 5px;
}
.search-btn {
  height: 100%;
  width: 15%;
}
.search-bar .address-input input {
  font-size: 15px;
  line-height: 30px;
  padding-left: 15px;
  border: none;
  width: calc(100% - 67px);
}
.search-bar .search-input input {
  font-size: 15px;
  line-height: 30px;
  padding-left: 15px;
  border: none;
  width: calc(100% - 38px);
  border-right: 1px solid #000;
}

.search-bar i {
  padding-left: 12px;
  font-size: 22px;
  background: -webkit-linear-gradient(#00ffc8, #30bcfe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search-btn input {
  background: #ffcf54;
  border: 0px;
  height: 100%;
  width: 100%;
  font-size: 18px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.nav-bar {
  position: absolute;
  top: 50%;
  right: 20px;
  height: 100%;
  display: flex;
  transform: translateY(-50%);
  align-items: center;
}

.nav-bar .job-btn,
.nav-bar .salary-btn,
.nav-bar .blog-btn,
.nav-bar .company-btn {
  padding: 0 15px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  height: var(--header-height);
  line-height: var(--header-height);
}

#header .nav-bar > .login-btn {
  font-size: 14px;
  color: #000;
  border-radius: 8px;
  width: 126px;
  height: 38px;
  background-color: #fff;
  text-align: center;
  line-height: 38px;
  cursor: pointer;
}
.login-btn i {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  padding-right: 5px;
}

.nav-bar .notify-icon {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  padding: 10px 20px;
  border-left: 1px solid rgb(255, 255, 255);
  cursor: pointer;
}

@media (min-width: 1024px) and (max-width: 1399px) {
  .nav-bar .job-btn,
  .nav-bar .salary-btn,
  .nav-bar .blog-btn,
  .nav-bar .company-btn {
    padding: 0 10px;
    font-size: 15px;
  }
  .search-bar form {
    width: calc(100% - 580px);
    margin-left: 24px;
  }
  .search-bar .address-input input,
  .search-bar .search-input input {
    padding-left: 5px;
    font-size: 14px;
  }
  .search-btn input {
    font-size: 14px;
  }
}
.side-bar {
  color: #fff;
  overflow: scroll;
}
.content {
  color: #000;
  overflow: scroll;
}
.body {
  margin-top: var(--header-height);
}

.job-card {
  position: relative;
  border-bottom: 5px solid rgb(228, 228, 228);
  padding: 15px 15px;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  border-left: 5px solid #ffffff;
  transition: background-color 0.6s ease-out, border 0.6s ease-out;
}

.job-card:hover {
  border-left: 5px solid #4ec5c6;
}
.job-card .job-picture {
  background: no-repeat top center/contain
    url(../images/search-page/Tiki-Logo.png);
  height: 60%;
}
.job-card .job-detail {
  color: rgba(0, 0, 0, 0.5);
  padding-left: 25px;
}
.job-card .job-name,
.job-card .job-salary {
  color: #292836;
  font-size: 18px;
  font-weight: 600;
}
.job-card .company-name {
}
.job-card .job-salary {
  padding: 15px 0px 4px 0px;
}
.job-card .company-name,
.job-card .job-category,
.job-card .job-address {
  color: #54535e;
  padding-bottom: 8px;
  font-size: 15px;
  font-weight: 400;
}
.job-card .job-address {
}
.job-card i {
  font-size: 22px;
  color: #f42b4b;
  font-weight: 100;
  position: absolute;
  right: 30px;
  bottom: 20px;
  --fa-animation-duration: 0s !important;
}
.job-card i:hover {
  --fa-animation-duration: 3s !important;
}

.job-card .appy-button {
  color: rgb(255 255 255);
  padding: 5px 40px;
  text-align: center;
  display: inline-block;
  border-radius: 16px;
  font-weight: bold;
  background: #34a0b3;
  margin-left: 25px;
  margin-top: 5px;
  cursor: pointer;
  border: 1px solid #ffffff;
  transition: background-color 0.4s ease-out, color 0.4s ease-out;
}
.job-card .appy-button:hover {
  background: rgb(255 255 255);
  color: #34a0b3;
  border: 1px solid #34a0b3;
}

.content {
}

.company-info {
}
.company-info .job-picture {
}
.company-info .job-name {
}
.company-info .company-name {
}
.job-benfits {
}
.job-description {
}
.job-requirement {
}
.job-address {
}

.job-benfits .title,
.job-description .title,
.job-requirement .title,
.job-address .title {
}

.job-benfits .descript,
.job-description .descript,
.job-requirement .descript,
.job-address .descript {
}
