.div_body{
    height: 100vh;
    display: flex;
}
.div_left{
    width: 50%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.btnBack{
    width:130px;
    height: 50px;
    position: absolute;
    top: 2%;
    left: 1%;
    color: #2A8CFF;
    background-color:white;
    font-weight: bold;
    font-size: 20px;
    border:none;
    cursor: pointer;
    display: flex;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Roboto;
}

.logosignup{
    width: 100%;
}
.div_slogan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.slogan{
    color: #0f73ee;
    font-family: Roboto;
    font-size: 18px;
}
.slogan2{
    color: #0f73ee;
    font-family: Roboto;
    margin-top: 10px;
    font-weight: bold;
    font-size: 25px;
}
/* Phần bên phải */
.div_right{
    width: 50%;
    height: 100vh;
    background-color: #0f73ee;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.div_info{
    /* width: 450px; */
    width: 60%;
    /* height: 600px; */
    height: 580px;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto ;
}
.title_signup{
   margin-left: 30px;
   margin-top: 20px;
   font-size: 25px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}

.txtUser{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.div_name{
    display: flex;
    flex-direction: column;

}
.name{
    font-size: 15px;
    color: #a19b9b; 
}
.div_username{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.form_input0{
    width: 300px;
    height: 45px;
    margin-top: 10px;
    border: 1px solid #a19b9b;
    border-radius: 5px;
    padding-left: 15px;
    
}
.form_input1{
    width: 300px;
    height: 45px;
    margin-top: 10px;
    border: 1px solid #a19b9b;
    border-radius: 5px;
    padding-left: 15px;
    
}
.form_input2{
    width: 300px;
    height: 45px;
    margin-top: 10px;
    border: 1px solid #a19b9b;
    border-radius: 5px;
    padding-left: 15px;
}
.form_input3{
    width: 300px;
    height: 45px;
    margin-top: 10px;
    border: 1px solid #a19b9b;
    border-radius: 5px;
    padding-left: 15px;
}


.div_titleSignup{
    padding-top: 28px;
    display: flex;
    justify-content: center;
}
.titleSignup{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;

    
}
.div_btnSignUp{
    display: flex;
    justify-content: center;
    padding-top: 35px;
}
.btnSignup{
  
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 5px;
    cursor: pointer;
    color:#2A8CFF;
    
}
.btnSignUp{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    color:white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background-color: #2A8CFF;
    cursor: pointer;
}
.btnBack2{
    width:100px;
    height: 40px;
    position: fixed;
    top: 3%;
    left: 1%;
    color: white;
    background-color:#2A8CFF;
    font-weight: bold;
    font-size: 15px;
    border:none;
    cursor: pointer;
    display: flex;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
    font-family: Roboto;
}
/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    .div_left{
        display: none;
    }
    .div_right{
        width: 100%;
    }
    .btnBack2{
        display: flex;
    }
    .title_signup{
        margin-left: 0;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .div_info{
        width: 100%;
        height: 78%;
        border-radius: 0;
    }
    .div_btnSignUp{
        padding-top: 33px;
    }
    .btnSignUp{
        width: 305px;
        border-radius: 5px;
    }
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    .div_left{
        display: none;
    }
    .div_right{
        width: 100%;
    }
    .btnBack2{
        display: flex;
    }
    .div_info{
        width: 100%;
        height: 78%;
        border-radius: 0;
    }
    .form_input0{
        width: 550px;
    }
    .form_input1{
        width: 550px;
    }
    .form_input2{
        width: 550px;
    }
    .form_input3{
        width: 550px;
    }
    .btnSignUp{
        width: 570px;
        border-radius: 5px;
    }
}