body{
    margin: 0px;
    background-size: cover;
    background-color: #f7f7f7;
}
.header{
    background-color: #30C1FF;
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
}
/* logo */
.logo{
    width: auto;
    margin: 0px 0px;
    float: left;
    padding-left: 25px;
}
.logo > a{
    text-decoration: none;
    color: white;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
.logo > a > img{
    display: block;
    margin: 0 12px;
}
/* search bar */
.searchbar{
    margin: 4px 24px;
    width: max-content;
    display: flex;
    float: center;
    height: max-content;
    align-items: center;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
}
.searchbar > i{
    color: #30C1FF;
    font-size: 30px;
    margin-left: 5px;
}
.searchbar .job{
    display: inline-flex;
}
.searchbar .job input{
    width: 270px;
    border: 0px;
    outline: 0px;
    font-size: 15px;
    margin-right: 10px;
}
.searchbar .job::after{
    content: "";
    background-color: black;
    display: block;
    width: 1px;
    height: 25px;
}
.searchbar .local input{
    width: 150px;
    border: 0px;
    outline: 0px;
    font-size: 15px;
}
.searchbar .findjobs{
    float: right;
    width: max-content;
    background-color: #FFCF54;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border: 0px;
    height: 50px;
    border-radius: 0px 16px 16px 0px;
    cursor: pointer;
}
/* nav-menu */
.navbar{
    display: inline-flex;
    align-items: center;
}
.navbar::after{
    content: "";
    background-color: #fff;
    display: block;
    width: 1px;
    height: 50px;
}
.nav-menu{
    list-style: none;
    margin: 0px 12px;
}
.nav-menu > li{
    display: inline-block;
}
.nav-menu > li > a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-weight: 700;
    font-family: Roboto;
    font-size: 18px;
    transition: all 0.3s ease 0s;
}
.nav-menu > li > a:hover{
    background-color: #2196F3;
}
/* notification + login */
.noti_login{
    margin: 0px 24px 0px 12px;
    display: inline-flex;
    align-items: center;
}
.noti_login > i{
    color: #fff;
    font-size: 30px;
    margin: 0px 20px 0px 0px;
    cursor: pointer;
}
.noti_login .login{
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    background: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.noti_login .login i{
    margin: 0px 10px 0px 0px;
}


/*----- body--- */
.div_body{
    background-color: white;
}

.title{
    margin-top: 30px;
    margin-left: 80px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}
.info_genaral{
    width: 1100px;
    height: 300px;
    margin:0 auto;
    margin-top: 30px;
    border: 1px solid #ccc7c7 ;
    display: flex
    
    
}
.avata{
    width: 130px;
    height: 150px;
    border: 1px solid #ccc7c7 ;
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 40px;
    cursor: pointer;
}
.icon-avata{
    width: 125px;
    height: 150px;
    
}
.div_genaral{
    /* margin-top: 10px; */
    margin-left: 40px;
    
}
.div_genaral2{
   
    margin-left: 40px;
    
}
.name{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-family: Roboto;
    font-size: 15px;
    
}
.input{
    width: 350px;
    height: 35px;
    border: 1px solid #ccc7c7 ;
    /* border-radius: 5px; */
    margin-top: 5px;
}
.div_name{
    margin-top: 20px;
}
.info_user{
    width: 1100px;
    height: 550px;
    margin:0 auto;
    margin-top: 30px;
    border: 1px solid #ccc7c7 ;

}
.title_info_user{
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto;
    margin: 30px;
    margin-bottom: 0px;
}

.info{
    display: flex;
    margin-left: 30px;
}
.input1{
    width: 450px;
    height: 35px;
    margin-top: 5px;
    border: 1px solid #ccc7c7 ;
    /* border-radius: 5px; */
}
.div_name1{
    margin-top: 30px;
}
.select_sex{
    margin-top: 10px;
    display: flex;
    font-family: Roboto;
    
}
.checkbox_girl{
    margin-left: 30px;
}
.div_name2{
    margin-top: 30px;
    margin-left: 70px;
}
.input2{
    width: 945px;
    height: 35px;
    margin-top: 5px;
    border: 1px solid #ccc7c7 ;
    /* border-radius: 5px; */
}
/* thông tin chung mô tả */
.Description{
    width: 1100px;
    height: 200px;
    margin:0 auto;
    margin-top: 30px;
    border: 1px solid #ccc7c7 ;
}
.label_title{
    margin-top: 15px;
    margin-left: 35px;
    font-size: 15px;
    font-family: Roboto;
    color: #9b9b9b
}
.btn_expand{
    margin-top: 40px;
    margin-left: 35px;
    display: flex;
    cursor: pointer;
}
.label_btn{
    margin-left: 5px;
    margin-top: 6px;
    font-family: Roboto;
    color: #216FDB;
    cursor: pointer;
    font-size: 15px;
}
.div_work{
    width: 1100px;
    height: 280px;
    margin:0 auto;
    margin-top: 30px;
    border: 1px solid #ccc7c7 ;
   
}
.btn_save{
    width: 170px;
    height: 60px;
    position:absolute;
    margin-top: 30px;
    right: 0;
    margin-right: 210px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: #F7941D;
    border: none;

}



/* footer */
.main-footer{
    background-color: #30C1FF;
    color: white;
    width: 84%;
    padding: 2% 8%;
    height: auto;
    display: inline-grid;
    grid-template-columns: repeat(5, auto);
    gap: 20px;
    margin-top: 130px;
}
.footer-box{
    float: left;
    width: 100%;
    height: auto;
    min-width: 200px;
}
.footer-box .first-box{
    display: grid;
    max-width: 400px;
}
.footer-box .first-box .description{
    float: left;
    padding: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}
.footer-box .first-box .learn-more{
    max-width: max-content;
    height: 50px;
    margin: 0 25px;
    padding: 0 8px;
    float: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.footer-box > h3{
    margin: 12px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
}
.footer-box > ul{
    list-style-type: none;
    margin: 25px 0;
    padding: 0px;
}
.footer-box > ul > li{
    margin-bottom: 6px;
}
.footer-box > ul > li > a{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}
address h3{
    margin: 12px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
}
address p{
    font-size: 15px;
    margin: 25px 0;
}
.footer-box address a{
    color: teal;
    font-size: 15px;
}
/* follow us */
.follow-us{
    display: grid;
    width: 100%;
    background: #30C1FF;
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}
.follow-us span{
    padding: 10px;
}
.follow-us span a{
    text-decoration: none;
}
/* copyright */
.copy{
    font-family: Roboto;
    padding: 10px;
    font-size: small;
    text-align: center;
    background-color: #30C1FF;
    color: #fff;
}
.copy p{
    margin: 0px;
}