<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employer Home</title>
    <link rel="stylesheet" href="../../css/employer/home-page.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,500&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
</head>

<body>
    <header>
        <div class="left-column">
            <div class="logo">
                <a href="./home-page.html">
                    <img src="../../images/salary_page/logo1.png" alt="Logo">
                    FINDWORK
                </a>
            </div> <!-- Logo -->

            <div class="navbar">
                <ul class="nav-menu">
                    <li class="menu-item"><a href="#">Dịch vụ</a></li>
                    <li class="menu-item"><a href="#">Giới thiệu</a></li>
                    <li class="menu-item"><a href="#">Liên hệ</a></li>
                    <li class="menu-item"><a href="#">Cho người tìm việc</a></li>
                </ul>
            </div> <!-- navbar -->
        </div>

        <div class="login-nav">
            <div class="manage-btn">
                <a href="">QUẢN LÝ TUYỂN DỤNG</a>
            </div>
            <div class="noti_login">
                <div class="btn-noti">
                    <i class="material-icons prefix">notifications_none</i>
                </div>
                <div class="btn-dropdown">
                    <div class="login" type="submit">
                        <i class="material-icons prefix">account_circle</i>
                        Đăng Nhập
                    </div>
                    <div class="dropdown-not-login">
                        <div class="title">
                            <span>Nhà tuyển dụng đăng nhập</span>
                            <div class="social-login">
                                <a href="">
                                    <img src="../../images/company-page/facebook.png" alt="">
                                    <span>với Facebook</span>
                                </a>
                                <a href="">
                                    <img src="../../images//company-page/google.png" alt="">
                                    <span>với Google</span>
                                </a>
                            </div>
                        </div>
                        <div class="dropdown-login">
                            <a href="">
                                <img src="../../images/company-page/login.png" alt="">
                                <span>Đăng nhập</span>
                            </a>
                        </div>
                        <div class="dropdown-register">
                            <a href="">
                                <img src="../../images/company-page/register.png" alt="">
                                <span>Tạo tài khoản mới</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- login navigate -->

    </header>

    <section class="banner">
    </section> <!-- banner -->

    <section class="content-holder">
        <div class="services">
            <h1>Dịch vụ của chúng tôi</h1>
            <div class="top-service">
                <div class="service">
                    <img src="../../images/emloyer-home-page/service1.png" alt="Service 1">
                    <h3>Đăng tuyển</h3>
                    <span>1,500,000 VND</span>
                    <ul>
                        <li>Đảm bảo hài lòng 100%</li>
                        <li>Đăng tuyển nhanh chóng và nhận hồ sơ ngay lập tức</li>
                        <li>Quản lý hồ sơ trực tuyến của bạn dễ dàng</li>
                    </ul>
                    <p>Giảm giá 10% đến cuối tháng, có điều kiện áp dụng. Chỉ áp dụng cho đơn hàng trực tuyến và
                        không áp dụng với các chương trình khuyến mãi khác.</p>
                    <div class="btn-buy">
                        <a href="">Mua ngay</a>
                    </div>
                </div>
                <div class="service">
                    <img src="../../images/emloyer-home-page/service2.png" alt="Service 2">
                    <h3>Tìm kiếm hồ sơ</h3>
                    <span>2,500,000 VND</span>
                    <ul>
                        <li>30 ngày truy cập không giới hạn hệ thống dữ liệu chuyên nghiệp</li>
                        <li>Tìm ứng viên hiệu quả và nhanh chóng</li>
                        <li>Chủ động tìm kiếm ứng viên ngay hôm nay</li>
                    </ul>
                    <p>Giảm giá 10% đến cuối tháng, có điều kiện áp dụng. Chỉ áp dụng cho đơn hàng trực tuyến và
                        không áp dụng với các chương trình khuyến mãi khác.</p>
                    <div class="btn-buy">
                        <a href="">Mua ngay</a>
                    </div>
                </div>
            </div>
            <div class="bot-service">
                <img src="../../images/emloyer-home-page/service3.png" alt="Service 3">
                <div class="service">
                    <h3>Quảng bá thương hiệu</h3>
                    <span>20,500,000 VND</span>
                    <ul>
                        <li>Trang chủ VietnamWorks nhận được hơn 7 triệu lượt truy cập mỗi 
                            tháng từ các ứng viên và chuyên gia giỏi nhất tại Việt Nam</li>
                        <li> Đặt Logo và Banner tại trang chủ sẽ là vị trí chiến lược để 
                            thu hút nhân tài</li>
                    </ul>
                    <p><br></p>
                    <div class="btn-buy">
                        <a href="">Mua ngay</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="companies">
            <h1>Các công ty hàng đầu lựa chọn Findwork</h1>
            <div class="company-listbox">
                <div class="company-item">

                </div>
                <div class="company-item">

                </div>
                <div class="company-item">

                </div>
                <div class="company-item">

                </div>
                <div class="company-item">

                </div>
                <div class="company-item">

                </div>
                <div class="company-item">

                </div>
                <div class="company-item">

                </div>
            </div>
        </div>

        <div class="customers">
            <h1>Đánh giá từ khách hàng</h1>
        </div>

    </section>

    <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.login').click(function (e) {
                $('.dropdown-not-login').toggleClass('active');
            })
        })
    </script>
</body>

</html>