<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý tài khoản</title>
    <link rel="icon" href="../../images/logotab2.png">
    <link rel="stylesheet" href="../../css/employer/manage-acc-page.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,500&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
</head>

<body>
    <section class="content-holder">
        <div class="content-title">
            <span>Quản lý tài khoản</span>
        </div>
        <div class="separator"></div>
        <div class="content-container">
            <div class="container-infor">
                <div class="infor">
                    <div class="caption">
                        <span>Họ và tên:</span>
                    </div>
                    <div class="content">
                        <span>Nguyễn Tiến Đạt</span>
                    </div>
                    <div class="edit">
                        <span>Chỉnh sửa</span>
                    </div>
                </div>
                <div class="collapsible">
                    <div class="visible">
                        <div class="caption">
                            <span>Họ và tên mới:</span>
                        </div>
                        <div class="content">
                            <input type="text">
                        </div>
                        <div class="edit">
                            <a href="">Lưu</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-infor">
                <div class="infor">
                    <div class="caption">
                        <span>Địa chỉ email:</span>
                    </div>
                    <div class="content">
                        <span>abc@gmail.com</span>
                    </div>
                    <div class="edit">
                        <span>Chỉnh sửa</span>
                    </div>
                </div>
                <div class="collapsible">
                    <div class="visible">
                        <div class="caption">
                            <span>Địa chỉ email mới:</span>
                        </div>
                        <div class="content">
                            <input type="email">
                        </div>
                        <div class="edit">
                            <a href="">Lưu</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-infor">
                <div class="infor">
                    <div class="caption">
                        <span>Mật khẩu:</span>
                    </div>
                    <div class="content">
                        <span>****************</span>
                    </div>
                    <div class="edit">
                        <span>Chỉnh sửa</span>
                    </div>
                </div>
                <div class="collapsible">
                    <div class="visible">
                        <div class="caption">
                            <span>Mật khẩu hiện tại:</span>
                        </div>
                        <div class="content">
                            <input type="password">
                        </div>
                        <div class="edit">

                        </div>
                    </div>
                    <div class="visible-sub">
                        <div class="caption">
                            <span>Mật khẩu mới:</span>
                        </div>
                        <div class="content">
                            <input type="password">
                        </div>
                        <div class="edit">

                        </div>
                    </div>
                    <div class="visible">
                        <div class="caption">
                            <span>Xác nhận mật khẩu mới:</span>
                        </div>
                        <div class="content">
                            <input type="password">
                        </div>
                        <div class="edit">
                            <a href="">Đổi mật khẩu</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-infor">
                <div class="infor">
                    <div class="caption">
                        <span>Xác minh danh tính:</span>
                    </div>
                    <div class="content">
                        <span></span>
                        <p>Xác minh danh tính của bạn để làm những việc như chạy quảng cáo
                            về vấn đề xã hội, bầu cử hoặc chính trị</p>
                    </div>
                    <div class="edit">
                        <span>Chỉnh sửa</span>
                    </div>
                </div>
                <div class="collapsible">
                    <div class="visible">
                        <div class="caption">
                            <span>Số CMND:</span>
                        </div>
                        <div class="content">
                            <input type="number">
                        </div>
                        <div class="edit">
                            <a href=""></a>
                        </div>
                    </div>
                    <div class="visible-img">
                        <div class="caption">
                            <span>Mặt trước CMND:</span>
                        </div>
                        <div class="content">
                            <img id="OpenImgUploadFront" src="../../images/manage-acc-page/cmt-1.png"
                                alt="Mặt trước CMND">
                            <input id="ImgUploadFront" type="file" id="avatar" name="avatar"
                                accept="image/png, image/jpeg">
                        </div>
                        <div class="edit">
                            <a href=""></a>
                        </div>
                    </div>
                    <div class="visible-img">
                        <div class="caption">
                            <span>Mặt sau CMND:</span>
                        </div>
                        <div class="content">
                            <img id="OpenImgUploadBack" src="../../images/manage-acc-page/cmt-2.png" alt="Mặt sau CMND">
                            <input id="ImgUploadBack" type="file" id="avatar" name="avatar"
                                accept="image/png, image/jpeg">
                        </div>
                        <div class="edit">

                        </div>
                    </div>
                    <div class="visible">
                        <div class="caption">

                        </div>
                        <div class="content">

                        </div>
                        <div class="edit">
                            <a href="">Gửi xác minh</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- content holder -->

    <footer class="main-footer">
        <div class="footer-box">
            <div class="box">
                <h3>Thông tin liên hệ</h3>
                <ul>
                    <li>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <a href="tel:0123456789">Hồ Chí Minh: (+84) 123456789</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <a href="tel:0123123123">Hồ Chí Minh: (+84) 123123123</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <a href="mailto:suppoter@findwork.com">Suppoter@findwork.com</a>
                    </li>
                </ul>
            </div>
            <div class="box">
                <h3>Công ty</h3>
                <ul>
                    <li><a href="#">Giới Thiệu</a></li>
                    <li><a href="#">Dịch Vụ</a></li>
                    <li><a href="#">Bảo Mật Thông Tin</a></li>
                    <li><a href="#">Quy Định Sử Dụng</a></li>
                    <li><a href="#">Hỏi Đáp</a></li>
                    <li><a href="#">Nâng Cấp Tài Khoản</a></li>
                </ul>
            </div>
            <div class="box">
                <h3>Chính sách</h3>
                <ul>
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Điều khoản và điều kiện</a></li>
                    <li><a href="#">Chính sách Bản quyền</a></li>
                    <li><a href="#">Quy tắc ứng xử</a></li>
                    <li><a href="#">Phí và lệ phí</a></li>
                </ul>
            </div>
            <div class="box">
                <h3>Danh sách trang</h3>
                <ul>
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Dịch vụ</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Quản lý tuyển dụng</a></li>
                    <li><a href="#">Cho người tìm việc</a></li>
                </ul>
            </div>
        </div>
    </footer><!-- footer -->
    <div class="follow-us">
        Theo dõi chúng tôi
        <span>
            <span>
                <a href="">
                    <img src="../../images/salary_page/facebook.png" alt="Visit on Facebook">
                </a>
            </span>
            <span>
                <a href="">
                    <img src="../../images/salary_page/twitter.png" alt="Visit on Twitter">
                </a>
            </span>
            <span>
                <a href="">
                    <img src="../../images/salary_page/linkedin.png" alt="Visit on Linkedin">
                </a>
            </span>
            <span>
                <a href="">
                    <img src="../../images/salary_page/youtube.png" alt="Visit on Youtube">
                </a>
            </span>
        </span>
    </div>
    <div class="copy">
        <p><small>Copyright &copy; 2021. All Rights Reserved.</small></p>
    </div>

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".edit").click(function (e) {
                $edit = $(this);
                $header = $(this).parent();
                //getting the next element
                $content = $header.next();
                //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
                $content.slideToggle(500, function () {
                    //execute this after slideToggle is done
                    //change text of header based on visibility of content div

                    $edit.text(function () {
                        return $content.is(":visible") ? "Thu gọn" : "Chỉnh sửa";
                    });
                });
            })

            $('#OpenImgUploadFront').click(function (e) {
                $('#ImgUploadFront').trigger('click');
            })

            $('#OpenImgUploadBack').click(function (e) {
                $('#ImgUploadBack').trigger('click');
            })
        })
    </script>
</body>

</html>