<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/blog-detail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,500&display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" </head>

<body>
    <div class="blog-detail-page">
        <header class="header">
            <div class="header-logo">
                <a href="homepage.html">
                    <img src="../images/salary_page/logo1.png" alt="Logo" />
                    <span>FINDWORK</span>
                </a>
            </div>
            <!-- Logo -->

            <form class="searchbar">
                <div class="job">
                    <i class="material-icons prefix">search</i>
                    <input type="search" name="s" placeholder="Tìm kiếm việc làm, công ty, kĩ năng" />
                </div>
                <div class="local">
                    <i class="material-icons prefix">location_on</i>
                    <input type="search" name="s" placeholder="Tất cả khu vực" />
                </div>
                <button class="findjobs" type="submit">Tìm Việc</button>
            </form>
            <div class="menu-btn">
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
            </div>
            <nav class="navbar">
                <ul class="nav-menu">
                    <div class="close-btn">
                        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                    </div>
                    <li class="search-sidebar">
                        <form>
                            <div class="job">
                                <i class="material-icons prefix">search</i>
                                <input type="search" name="s" placeholder="Tìm kiếm việc làm, công ty, kĩ năng" />
                            </div>
                            <div class="local">
                                <i class="material-icons prefix">location_on</i>
                                <input type="search" name="s" placeholder="Tất cả khu vực" />
                            </div>
                            <div onclick="location.href = './home-page.html'" class="findjobs-btn">Tìm Việc</div>
                        </form>
                        <!-- searchbar -->
                    </li>
                    <li><a href="./search-page.html">VIỆC LÀM</a></li>
                    <li><a href="./salary-page.html">MỨC LƯƠNG</a></li>
                    <li><a href="./company-page.html">BLOG</a></li>
                    <li><a href="./company-page.html">CÔNG TY</a></li>
                    <li class="login"><a href="./LogIn.html">ĐĂNG NHẬP</a></li>
                    <li class="register"><a href="./SignUp.html">ĐĂNG KÝ</a></li>
                    <li>
                        <div class="noti_login">
                            <i class="material-icons prefix">notifications_none</i>
                            <div class="btn-dropdown">
                                <button class="btn-dropdown-login" type="submit">
                                    <i class="material-icons prefix">account_circle</i>
                                    Chí Đạt
                                </button>
                                <ul class="dropdown-profile">
                                    <a href="./profile-page.html">
                                        <li>
                                            <i class="fas fa-briefcase"></i>
                                            <span>Thông tin chung</span>
                                        </li>



                                    </a>
                                    <a href="./Update-Profile-User.html">
                                        <li>
                                            <i class="fas fa-edit"></i>
                                            <span>Cập nhật hồ sơ</span>
                                        </li>
                                    </a>
                                    <a href="./manage-acc-page.html">
                                        <li>
                                            <i class="fas fa-user-alt"></i>
                                            <span>Quản lý tài khoản</span>
                                        </li>
                                    </a>
                                    <a href="./LogIn.html">
                                        <li>
                                            <i class="fas fa-sign-out-alt"></i>
                                            <span>Đăng xuất</span>
                                        </li>
                                    </a>

                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- navbar -->
        </header>
        <!--end header -->
        <!--Blog detail body-->
        <div class="blog-detail-body">
            <div class="blog-detail-heading">
                <h3>Bình Dương: Cần thêm hơn 47000 công nhân sau Tết</h3>
            </div>
            <div class="blog-detail-img">
                <img src="../images/blog-detail/blog1.png" alt="">
            </div>
            <div class="blog-detail-content">
                <p class="blog-detail-paragraph">Ngày 21/2, Liên đoàn Lao động (LĐLĐ) tỉnh Bình Dương, cho biết: Đầu
                    năm 2019; do mở rộng sản
                    xuất, 345 doanh nghiệp thông báo tuyển mới hơn 47500 công nhân. Những doanh nghiệp tuyển dụng
                    thêm công nhân hầu hết là doanh nghiệp có 100% vốn đầu tư nước ngoài ở các lĩnh vực dệt may; da
                    giày; điện tử; với mức thu nhập bình quân từ 7 đến 9 triệu đồng/người/tháng.
                </p>
                <p class="blog-detail-paragraph">Theo ông Nguyễn Đình Khánh, Phó Chủ tịch LĐLĐ tỉnh Bình Dương: Năm
                    nay, số lượng công nhân nghỉ
                    việc sau Tết không cao; các doanh nghiệp tuyển dụng do mở rộng sản xuất, xây dựng thêm cơ sở.
                    Bên cạnh mức lương trung bình từ 7 đến 9 triệu đồng và nhiều chế độ phụ cấp; thưởng hấp dẫn; các
                    doanh nghiệp còn đưa ra những đảm bảo về an sinh xã hội cho công nhân; chấp nhận tuyển dụng
                    những lao động chưa có tay nghề về đào tạo mới. Tuy nhiên, do tuyển dụng số lượng lao động lớn
                    nên nguồn cung ở Bình Dương chưa đáp ứng kịp.</p>
            </div>
            <div class="blog-detail-img">
                <img src="../images/blog-detail/blog2.png" alt="">
            </div>
            <div class="blog-detail-content">
                <p class="blog-detail-paragraph">
                    Ông Nguyễn Thanh Phương, Phó Giám đốc Trung tâm Dịch vụ việc làm tỉnh Bình Dương đánh giá: Nhu cầu
                    lao động phân bổ đều ở các ngành da giày; may mặc; gỗ nội thất; cơ khí, vận hành máy; sản xuất thực
                    phẩm, nước giải khát hoặc vị trí nhân viên kinh doanh tại văn phòng. Số lượng lao động đến tìm việc
                    nhiều nhưng cũng chưa đủ cầu do xu hướng nhiều lao động chọn con đường xuất khẩu lao động. Nhiều
                    tỉnh, thành phố cũng đã có các khu công nghiệp và có chính sách tuyển dụng lao động có tay nghề từ
                    Bình Dương và Đồng Nai về.
                </p>
                <p class="blog-detail-paragraph">
                    Để hỗ trợ doanh nghiệp tuyển dụng lao động; Trung tâm Dịch vụ việc làm tỉnh Bình Dương hỗ trợ tối đa
                    doanh nghiệp quảng bá thông tin tuyển dụng đến người tìm việc bằng nhiều kênh; qua mạng xã hội; tăng
                    cường cán bộ làm công tác tư vấn, giới thiệu việc làm cho người lao động; thông báo tuyển dụng lao
                    động tại các nơi công cộng; thuê lao động từ các doanh nghiệp cung ứng lao động hoặc các địa phương
                    liên kết với trung tâm…
                </p>
            </div>
        </div>

        <!--End Blog detail body-->
        <footer class="main-footer">

            <div class="box">
                <div class="logo">
                    <a href="./home-page.html">
                        <img src="../images/salary_page/logo1.png" alt="Logo" />
                        <p>FINDWORK</p>
                    </a>
                </div>
                <!-- Logo -->
                <div class="description">
                    Nơi bạn có thể tìm được những ứng cử viên sáng giá cho công ty của
                    bạn.
                </div>
                <div onclick="location.href = './home-page.html'" class="learn-more">Tìm hiểu thêm</div>

            </div>
            <div class="box">
                <h3>Ứng cử viên</h3>
                <ul>
                    <li><a href="#">Việc làm</a></li>
                    <li><a href="#">Ngành nghề</a></li>
                    <li><a href="#">Nộp hồ sơ</a></li>
                    <li><a href="#">Doanh Nghiệp</a></li>
                    <li><a href="#">Xác thực tài khoản</a></li>
                    <li><a href="#">Nâng cấp tài khoản</a></li>
                </ul>
            </div>
            <div class="box">
                <h3>Nhà tuyển dụng</h3>
                <ul>
                    <li><a href="#">Đăng tuyển dụng</a></li>
                    <li><a href="#">Tìm kiếm hồ sơ</a></li>
                    <li><a href="#">Quản lý dự án</a></li>
                    <li><a href="#">Xác thực tài khoản</a></li>
                    <li><a href="#">Nâng cấp tài khoản</a></li>
                </ul>
            </div>
            <div class="box">
                <h3>Chính sách</h3>
                <ul>
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Điều khoản và điều kiện</a></li>
                    <li><a href="#">Chính sách Bản quyền</a></li>
                    <li><a href="#">Quy tắc ứng xử</a></li>
                    <li><a href="#">Phí và lệ phí</a></li>
                </ul>
            </div>
            <div class="box">
                <h3>Danh sách trang</h3>
                <ul>
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Việc làm</a></li>
                    <li><a href="#">Mức lương</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Công ty</a></li>
                </ul>
            </div>


        </footer>
        <!-- footer -->
        <div class="follow-us">
            Follow us
            <span>
                <span>
                    <a href="">
                        <img src="../images/salary_page/facebook.png" alt="Visit on Facebook" />
                    </a>
                </span>
                <span>
                    <a href="">
                        <img src="../images/salary_page/twitter.png" alt="Visit on Twitter" />
                    </a>
                </span>
                <span>
                    <a href="">
                        <img src="../images/salary_page/linkedin.png" alt="Visit on Linkedin" />
                    </a>
                </span>
                <span>
                    <a href="">
                        <img src="../images/salary_page/youtube.png" alt="Visit on Youtube" />
                    </a>
                </span>
            </span>
        </div>
        <div class="copy">
            <p><small>Copyright &copy; 2021. All Rights Reserved.</small></p>
        </div>
        <!--end footer-->
    </div>
    <script src="../js/blog-detail.js"></script>
</body>

</html>