<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Quên mật khẩu?</title>
        <link rel="stylesheet" href="../css/forgot-password-company.css">
        <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,500&display=swap"
        rel="stylesheet" />
        <link
        href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
        rel="stylesheet"
      />
    </head>
    <body class="div_body">
        <div class="div_header">
            <div class="div_btnback">
                <a class="btnBack" href="./employer/home-page.html">
                    <img class="logocompany" src="../images/logocompany.png" alt="Logo">
                    FINDWORK
                </a>
            </div>
        </div>
        <div class="div_infor">
            <div class="infor">
                <div class="title_header">
                    <img class="logoforgot" src="../images/forgot.jpg" alt="Logo">
                    <a class="title2">Vui lòng nhập địa chỉ email của bạn dưới đây và chúng tôi sẽ gửi mật khẩu cho bạn. </a>
                </div>
                <div class="txt_info">
                    <input class="form_input1" placeholder="Email đăng nhập"></input>
                </div>
                <div class="div_btnsignup">
                    <button class="btnsignup">Gửi mật khẩu mới</button>
                </div>

            </div>
        </div>
        <div class="div_header">

        </div>
    </body>
</html>
