<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <!-- Add grid css-->
  <link rel="stylesheet" href="../css/responsive.css" />
  <link rel="stylesheet" href="../css/homepage.css" />
  <!--add google font-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,500&display=swap"
    rel="stylesheet" />

  <!--Add icon-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
  <!--Navbar in home page-->
  <div class="navbar">
    <div class="navbar-logo">
      <img src="../images/profile-page/logo1.png" alt="">
      <h2>FINDWORK</h2>
    </div>
    <div class="bar-responsive">
      <i class="fas fa-bars fa-2x"></i>
    </div>
    <ul class="menu hide-on-1023">
      <li>TRANG CHỦ</li>
      <li>VIỆC LÀM</li>
      <li>MỨC LƯƠNG</li>
      <li>BLOG</li>
      <li>CÔNG TY</li>
    </ul>

    <div class="user hide-on-1023">
      <div class="line"></div>
      <button class="btn-login">Đăng nhập</button>
      <button class="btn-signup">Đăng kí</button>
    </div>
  </div>
  <div class="slider">
    <div class="slogan">
      <h2>Tìm các dịch vụ tự do hoàn hảo cho doanh nghiệp của bạn</h2>
    </div>
    <div class="search-container">
      <div class="search-item">
        <i class="bx bx-search icon"></i>
        <input type="text" placeholder="Nhập tên vị trí, công ty,..." class="form-control" />
      </div>
      <div class="search-item hide-on-1023">
        <i class="bx bx-map icon"></i>
        <input type="text" placeholder="Nhập địa chỉ, tỉnh, thành phố..." />
      </div>
      <button class="search-btn hide-on-1023">
        <span>Tìm kiếm</span>
        <i class="bx bx-search icon"></i>
      </button>
    </div>
  </div>
  <!-- Grid ontaint website  -->
  <div class="grid wide">
    <!--Show Top danh sách công ty hàng đầu-->
    <div class="company-container container">
      <h2 class="title">Các công ty hàng đầu</h2>

      <div class="row">
        <div class="col l-2-4 m-6 c-12 m-4 c-12">
          <div class="company-card">
            <img src="../images/image_home/companyLG.jpg" />
            <div class="company-card-content">
              <p class="company-card-content-name">LG VS DCV</p>
              <span class="tag">VIỆC MỚI</span>
            </div>
          </div>
        </div>
        <div class="col l-2-4 m-6 c-12 m-4 c-12">
          <div class="company-card">
            <img src="../images/image_home/company1.png" />
            <div class="company-card-content">
              <p class="company-card-content-name">HELLA VIETNAM</p>
              <span class="tag">VIỆC MỚI</span>
            </div>
          </div>
        </div>
        <div class="col l-2-4 m-6 c-12 m-4 c-12">
          <div class="company-card">
            <img src="../images/image_home/chingLuh.png" />
            <div class="company-card-content">
              <p class="company-card-content-name">GIẦY CHING LUH</p>
              <span class="tag">VIỆC MỚI</span>
            </div>
          </div>
        </div>
        <div class="col l-2-4 m-6 c-12 m-4 c-12">
          <div class="company-card">
            <img src="../images/image_home/company_brannntag.png" />
            <div class="company-card-content">
              <p class="company-card-content-name">HELLA VIETNAM</p>
              <span class="tag">VIỆC MỚI</span>
            </div>
          </div>
        </div>
        <div class="col l-2-4 m-6 c-12 m-4 c-12">
          <div class="company-card">
            <img src="../images/image_home/company_smartosc.png" />
            <div class="company-card-content">
              <p class="company-card-content-name">HELLA VIETNAM</p>
              <span class="tag">VIỆC MỚI</span>
            </div>
          </div>
        </div>
        <div class="col l-2-4 m-6 c-12 m-4 c-12">
          <div class="company-card">
            <img src="../images/image_home/companyKinhdo.png" />
            <div class="company-card-content">
              <p class="company-card-content-name">HELLA VIETNAM</p>
              <span class="tag">VIỆC MỚI</span>
            </div>
          </div>
        </div>
        <div class="col l-2-4 m-6 c-12 m-4 c-12">
          <div class="company-card">
            <img src="../images/image_home/company1.png" />
            <div class="company-card-content">
              <p class="company-card-content-name">HELLA VIETNAM</p>
              <span class="tag">VIỆC MỚI</span>
            </div>
          </div>
        </div>
        <div class="col l-2-4 m-6 c-12 m-4 c-12">
          <div class="company-card">
            <img src="../images/image_home/chingLuh.png" />
            <div class="company-card-content">
              <p class="company-card-content-name">GIẦY CHING LUH</p>
              <span class="tag">VIỆC MỚI</span>
            </div>
          </div>
        </div>
        <div class="col l-2-4 m-6 c-12 m-4 c-12">
          <div class="company-card">
            <img src="../images/image_home/company1.png" />
            <div class="company-card-content">
              <p class="company-card-content-name">HELLA VIETNAM</p>
              <span class="tag">VIỆC MỚI</span>
            </div>
          </div>
        </div>
        <div class="col l-2-4 m-6 c-12 m-4 c-12">
          <div class="company-card">
            <img src="../images/image_home/chingLuh.png" />
            <div class="company-card-content">
              <p class="company-card-content-name">GIẦY CHING LUH</p>
              <span class="tag">VIỆC MỚI</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Show danh sách công việc tốt nhất-->
    <div class="best-work-container container">
      <h2 class="title">Công việc tốt nhất</h2>
      <div class="row">
        <div class="col l-4 m-6 c-12">
          <div class="best-work-card">
            <div class="row">
              <div class="col l-3 m-3 c-3 job-img">
                <img src="../images/image_home/vinfast.png" alt="" class="logo" />
              </div>
              <div class="col l-9 m-9 c-9">
                <div class="job-container">
                  <div class="job-name">
                    Project Manager - New Product Development
                  </div>
                  <div class="job-desc">
                    Công ty trách nhiệm hữu hạn sản xuất linh kiện điện tử
                  </div>
                  <span class="job-tag">HOT</span>
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="col l-4 m-6 c-12">
          <div class="best-work-card">
            <div class="row">
              <div class="col l-3 m-3 c-3 job-img">
                <img src="../images/image_home/logo.png" alt="" class="logo" />
              </div>
              <div class="col l-9 m-9 c-9">
                <div class="job-container">
                  <div class="job-name">.NET Developer</div>
                  <div class="job-desc">
                    MTI Technology Co., Ltd-Đà Nẵng, Ltd-Hồ Chí Minh
                  </div>
                  <span class="job-tag">HOT</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col l-4 m-6 c-12">
          <div class="best-work-card">
            <div class="row">
              <div class="col l-3 m-3 c-3 job-img">
                <img src="../images/image_home/toyota.png" alt="" class="logo" />
              </div>
              <div class="col l-9 m-9 c-9">
                <div class="job-container">
                  <div class="job-name">Nhân Viên Chính Thức Sửa chữa</div>
                  <div class="job-desc">
                    Công ty oto Toyota Viet Nam Chi Nhánh Tân Bình
                  </div>
                  <span class="job-tag">HOT</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col l-4 m-6 c-12">
          <div class="best-work-card">
            <div class="row">
              <div class="col l-3 m-3 c-3 job-img">
                <img src="../images/image_home/spinmaster.jpg" alt="" class="logo" />
              </div>
              <div class="col l-9 m-9 c-9">
                <div class="job-container">
                  <div class="job-name">Senior/project Engineer</div>
                  <div class="job-desc">Công ty TNHH SpinMaster Việt Nam</div>
                  <span class="job-tag">HOT</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col l-4 m-6 c-12">
          <div class="best-work-card">
            <div class="row">
              <div class="col l-3 m-3 c-3 job-img">
                <img src="../images/image_home/acb.jpg" alt="" class="logo" />
              </div>
              <div class="col l-9 m-9 c-9">
                <div class="job-container">
                  <div class="job-name">
                    IT - Technical Writer (Acting Team Leader)
                  </div>
                  <div class="job-desc">Ngân hàng TMCP Á Châu (ACB)</div>
                  <span class="job-tag">HOT</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col l-4 m-6 c-12">
          <div class="best-work-card">
            <div class="row">
              <div class="col l-3 m-3 c-3 job-img">
                <img src="../images/image_home/toyota.png" alt="" class="logo" />
              </div>
              <div class="col l-9 m-9 c-9">
                <div class="job-container">
                  <div class="job-name">Kỹ sư lắp ráp</div>
                  <div class="job-desc">
                    Công ty oto Toyota Viet Nam Chi nhánh Quận 1
                  </div>
                  <span class="job-tag">HOT</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Show danh sách ngành nghề trọng điểm-->
    <div class="top-career container">
      <h2 class="title">Ngành nghề trọng điểm</h2>
      <div class="row category-container">
        <div class="col l-2-4 m-6 c-12">
          <div class="category-card">
            <img src="../images/image_home/itphanmem.png" alt="" />
            <h3 class="work-category">IT Phần mềm</h3>
            <p class="total-work">1362 Việc làm</p>
          </div>
        </div>
        <div class="col l-2-4 m-6 c-12">
          <div class="category-card">
            <img src="../images/image_home/taichinh_dautu.png" alt="" />
            <h3 class="work-category">Tài chính/ Đầu tư</h3>
            <p class="total-work">1590 Việc làm</p>
          </div>
        </div>
        <div class="col l-2-4 m-6 c-12">
          <div class="category-card">
            <img src="../images/image_home/nganhang.png" alt="" />
            <h3 class="work-category">Ngân hàng</h3>
            <p class="total-work">1290 Việc làm</p>
          </div>
        </div>
        <div class="col l-2-4 m-6 c-12">
          <div class="category-card">
            <img class="category-card-img" src="../images/image_home/banhang.png" alt="" />
            <h3 class="work-category">Bán hàng</h3>
            <p class="total-work">3390 Việc làm</p>
          </div>
        </div>
        <div class="col l-2-4 m-6 c-12">
          <div class="category-card">
            <img src="../images/image_home/itphancung.png" alt="" />
            <h3 class="work-category">IT Phần cứng/ Mạng</h3>
            <p class="total-work">1290 Việc làm</p>
          </div>
        </div>
      </div>
    </div>
    <!--Show danh sách nhà tuyển dụng nổi bật-->
    <div class="top-employer container">
      <h2 class="title">Nhà tuyển dụng nổi bật</h2>
      <div class="top-employer-content">
        <img src="../images/image_home/nhatuyendungnoibat.png" alt="" />
        <div class="row top-employer-info">
          <img src="../images/image_home/vinbigdata.png" style="height: 70px" alt="" />
          <div class="top-employer-desc">
            <p>Viện nghiên cứu dữ liệu lớn</p>
            <p>Viện nghiên cứu dữ liệu lớn- Công nghệ vì tương lai</p>
          </div>
        </div>
      </div>
    </div>
    <!--Show danh sách cẩm nang tìm việc-->
    <div class="job-handbook container">
      <h2 class="title">Cẩm nang tìm việc</h2>
      <div class="row">
        <div class="col l-3 m-4 c-12">
          <div class="job-handbook-card">
            <img src="../images/image_home/gockynang.png" alt="" />
            <div class="job-handbook-content">
              <h3 class="job-handbook-name">GÓC KỸ NĂNG</h3>
              <h4 class="job-handbook-title">
                Sử dụng thời gian hợp lý khi làm việc tại nhà
              </h4>
              <p class="job-handbook-desc">
                Bạn càng sử dụng thời gian hợp lí khi làm việc tại nhà, thì
                cuộc
              </p>
            </div>
          </div>
        </div>
        <div class="col l-3 m-4 c-12">
          <div class="job-handbook-card">
            <img src="../images/image_home/kienthuc.png" alt="" />
            <div class="job-handbook-content">
              <h3 class="job-handbook-name">KIẾN THỨC KINH TẾ</h3>
              <h4 class="job-handbook-title">
                Án lệ case law là gì và phân tích án lệ là gì?
              </h4>
              <p class="job-handbook-desc">
                Case law là gì? Case law là luật dựa trên các tiền lệ (các
                quyết định đến sự ...
              </p>
            </div>
          </div>
        </div>
        <div class="col l-3 m-4 c-12">
          <div class="job-handbook-card">
            <img src="../images/image_home/phattrienbanthan.png" alt="" />
            <div class="job-handbook-content">
              <h3 class="job-handbook-name">PHÁT TRIỂN BẢN THÂN</h3>
              <h4 class="job-handbook-title">
                5 Dấu hiệu cảnh báo bạn đang kiệt sức trong công việc
              </h4>
              <p class="job-handbook-desc">
                Từ lâu, người ta vẫn hay đùa rằng “sinh nghề tử nghiệp”. Dù là
                lao....
              </p>
            </div>
          </div>
        </div>
        <div class="col l-3 m-4 c-12">
          <div class="job-handbook-card">
            <img src="../images/image_home/gockynang.png" alt="" />
            <div class="job-handbook-content">
              <h3 class="job-handbook-name">GÓC KỸ NĂNG</h3>
              <h4 class="job-handbook-title">
                7 cách tối ưu hóa hiệu quả cho người lần đầu làm việc từ xa
              </h4>
              <p class="job-handbook-desc">
                Cách để tối ưu hóa hiệu quả, sáng tạo, tràn đầy cảm hứng cũng
                như....
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="main-footer">

    <div class="box">
      <div class="logo">
        <a href="homepage.html">
          <img src="../images/salary_page/logo1.png" alt="Logo" />
          <p>FINDWORK</p>
        </a>
      </div>
      <!-- Logo -->
      <div class="description">
        Nơi bạn có thể tìm được những ứng cử viên sáng giá cho công ty của
        bạn.
      </div>
      <div class="learn-more">Tìm hiểu thêm</div>

    </div>
    <div class="box">
      <h3>Ứng cử viên</h3>
      <ul>
        <li><a href="#">Việc làm</a></li>
        <li><a href="#">Ngành nghề</a></li>
        <li><a href="#">Nộp hồ sơ</a></li>
        <li><a href="#">Doanh Nghiệp</a></li>
        <li><a href="#">Xác thực tài khoản</a></li>
        <li><a href="#">Nâng cấp tài khoản</a></li>
      </ul>
    </div>
    <div class="box">
      <h3>Nhà tuyển dụng</h3>
      <ul>
        <li><a href="#">Đăng tuyển dụng</a></li>
        <li><a href="#">Tìm kiếm hồ sơ</a></li>
        <li><a href="#">Quản lý dự án</a></li>
        <li><a href="#">Xác thực tài khoản</a></li>
        <li><a href="#">Nâng cấp tài khoản</a></li>
      </ul>
    </div>
    <div class="box">
      <h3>Chính sách</h3>
      <ul>
        <li><a href="#">Chính sách bảo mật</a></li>
        <li><a href="#">Điều khoản và điều kiện</a></li>
        <li><a href="#">Chính sách Bản quyền</a></li>
        <li><a href="#">Quy tắc ứng xử</a></li>
        <li><a href="#">Phí và lệ phí</a></li>
      </ul>
    </div>
    <div class="box">
      <h3>Danh sách trang</h3>
      <ul>
        <li><a href="#">Trang chủ</a></li>
        <li><a href="#">Việc làm</a></li>
        <li><a href="#">Mức lương</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Công ty</a></li>
      </ul>
    </div>


  </footer>
  <!-- footer -->
  <div class="follow-us">
    Follow us
    <span>
      <span>
        <a href="">
          <img src="../images/salary_page/facebook.png" alt="Visit on Facebook" />
        </a>
      </span>
      <span>
        <a href="">
          <img src="../images/salary_page/twitter.png" alt="Visit on Twitter" />
        </a>
      </span>
      <span>
        <a href="">
          <img src="../images/salary_page/linkedin.png" alt="Visit on Linkedin" />
        </a>
      </span>
      <span>
        <a href="">
          <img src="../images/salary_page/youtube.png" alt="Visit on Youtube" />
        </a>
      </span>
    </span>
  </div>
  <div class="copy">
    <p><small>Copyright &copy; 2021. All Rights Reserved.</small></p>
  </div>
</body>

</html>