<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/intro-company.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,500&display=swap"
        rel="stylesheet" />

    <title>Document</title>
</head>

<body>
    <!--header-->
    <header>
        <ul>
            <li>
                <a href="">
                    <i class="fas fa-home"></i>
                    <span>Đầu trang</span>
                </a>
                <a href="">
                    <i class="fas fa-home"></i>
                    <span>Con người</span>
                </a>
                <a href="">
                    <i class="fas fa-home"></i>
                    <span>Giới thiệu</span>
                </a>
                <a href="">
                    <i class="fas fa-home"></i>
                    <span>Việc làm</span>
                </a>
                <a href="">
                    <i class="fas fa-home"></i>
                    <span>Văn phòng</span>
                </a>
            </li>
        </ul>
    </header>
    <!--end-header-->

    <!--Slider-->
    <div class="slider">
        <img src="../images/intro-company/slider.png" alt="" />
        <div class="slider-content">
            <img src="../images/intro-company/sldier_company.png" alt="" />
            <div class="slider-info">
                <h3>NAVIGOS GROUP VIỆT NAM JSC</h3>
                <p>Đà Nẵng. Hà Nội, Hồ Chí Minh | https://www.navigos.com.vn</p>
                <span>Nhân sự</span>
            </div>
            <button class="btn-folow">Theo dõi</button>
        </div>
    </div>
    <!--End slider-->
    <!--Body-->
    <div class="body-container">
        <!--People-->
        <div class="people-container">
            <div class="people-list">
                <div class="people-card">
                    <img src="../images//intro-company/people1.png" alt="" />
                    <p class="people-card-name">Gaku Echizenya</p>
                    <p class="people-card-position">Chủ tịch & CEO</p>
                    <p class="people-card-desc">
                        "Nếu bạn cảm thấy giúp đỡ người khác làm cuộc sống mình trở nên ý
                        nghĩa hơn, bạn sẽ muốn trở thành một Dream Maker của Navigos
                        Group."
                    </p>
                </div>
                <div class="people-card">
                    <img src="../images//intro-company/people2.png" alt="" />
                    <p class="people-card-name">Nguyễn Thị Vân Anh</p>
                    <p class="people-card-position">Giám đốc kinh doanh</p>
                    <p class="people-card-desc">
                        "Tại Navigos Group, chúng tôi, các Dream Makers luôn làm việc như
                        một chiến binh kiên cường, xây dựng giấc mơ sự nghiệp tuyệt vời
                        cho mọi người. Hàng triệu giấc mơ nghề nghiệp đã được kiến tạo,
                        cánh cửa thành công tại Navigos Group luôn mở rộng đón chào các
                        nhân tài đến với chúng tôi…"
                    </p>
                </div>
            </div>
        </div>
        <!--People-->

        <!--Intro-->
        <div class="intro-company-container">
            <div class="intro-heading">
                <h2>Giới thiệu</h2>
            </div>
            <!--Intro-company-card-->
            <div class="intro-company-card">
                <div class="intro-company-heading">
                    <h3>VỀ NAVIGOS GROUP</h3>
                </div>
                <p>
                    Nếu có ai đó hỏi “Làm việc tại Navigos Group là làm gì?”, thì hầu
                    như tất cả đều tự hào trả lời rằng chúng tôi là “DREAM MAKERS”,
                    những người kiến tạo giấc mơ. Lí do có được tên gọi này là vì mỗi
                    ngày tại Navigos Group, “chúng tôi hỗ trợ nhà tuyển dụng và người
                    tìm việc đạt được giấc mơ nghề nghiệp của mình”. Trong gần 2 thập kỷ
                    hoạt động tích cực trong lĩnh vực tuyển dụng – nhân sự, các DREAM
                    MAKERS đã luôn bền bỉ giúp đỡ hàng triệu giấc mơ nghề nghiệp trở
                    thành hiện thực bằng các dịch vụ chuyên nghiệp và hiệu quả của
                    VietnamWorks, công ty đầu tiên và lâu đời nhất Việt Nam cung cấp các
                    dịch vụ tuyển dụng trực tuyến, và Navigos Search, công ty chuyên về
                    các dịch vụ tuyển dụng nhân sự cấp cao hàng đầu trên cả nước. Năm
                    2013, hành trình kiến tạo giấc mơ của chúng tôi được tiếp thêm sức
                    mạnh khi Navigos Group vinh dự trở thành thành viên của tập đoàn
                    en-japan, một tập đoàn quốc tế của Nhật Bản chuyên về các dịch vụ
                    liên quan đến ngành nhân sự, từ đó tạo thêm nhiều bứt phá mới trên
                    thị trường khi tiếp tục cho ra đời PRIMUS, một dịch vụ tuyển dụng
                    mới dành riêng cho nhóm nhân sự cấp cao lương trên $3000, và nhiều
                    dịch vụ khác trong thời gian sắp tới.
                </p>
                <img src="../images/intro-company/intro-company.png" alt="" />
            </div>

            <!--End Intro-company-card-->

            <!--intro-blogs-->
            <div class="intro-blogs">
                <!--intro-blog-card-->
                <div class="intro-blog-card">
                    <div class="intro-blog-card-heading">
                        <h3>Tầm nhìn</h3>
                    </div>
                    <div class="intro-blog-card-content">
                        <p>
                            Kể từ năm 2013, Navigos Group công bố tầm nhìn dài hạn với tên
                            gọi “Thành Công sau Tuyển Dụng” (Success After Joining). Đây là
                            giá trị khác biệt mà duy nhất chỉ có tập đoàn Navigos Group sở
                            hữu trên thị trường, thể hiện rõ ràng mong muốn trở thành đối
                            tác dài lâu cho sự thành công bền vững của ứng viên và các công
                            ty, chứ không chỉ đơn giản là một đối tác tuyển dụng thông
                            thường.
                        </p>
                        <p> Với khách hàng của mình, chúng tôi luôn không ngừng hỗ trợ khách hàng phát triển và giữ chân
                            nhân tài sau khi tuyển dụng thành công. Với người tìm việc, chúng tôi tiếp tục đồng hành
                            cùng họ thăng tiến trong công việc mơ ước. Còn với chính chúng tôi, những DREAM MAKERS, tầm
                            nhìn này tạo thêm nhiều thử thách thú vị, cổ vũ cho tinh thần đổi mới, sáng tạo, và cải tiến
                            không ngừng nghỉ và hơn hết giúp chúng tôi tìm được ý nghĩa to lớn hơn trong công việc hàng
                            ngày của mình.</p>
                    </div>
                </div>
                <!--End intro-blog-card-->
                <!--Intro-blog-card-->
                <div class="intro-blog-card">
                    <div class="intro-blog-card-heading">
                        <h3>GIÁ TRỊ CỐT LÕI
                    </div>
                    <div class="intro-blog-card-content">
                        <p>
                            Vào những ngày đầu khi gia nhập công ty, tất cả các DREAM MAKERS đều sẽ được lắng nghe những
                            chia sẻ về năm giá trị cốt lõi của tập đoàn từ chính những nhân vật cao cấp nhất của công
                            ty, kết hợp với buổi ăn trưa thân mật cùng với Tổng Giám Đốc Gaku Echizenya.
                        </p>
                        <p>Trong suốt hành trình của các DREAM MAKERS tại Navigos Group, mỗi khi đạt được những thành
                            tựu đáng kể cùng với thái độ làm việc thể hiện rõ nét các giá trị cốt lõi trên, DREAM MAKERS
                            sẽ được tưởng thưởng và vinh danh trước toàn tập đoàn với các giải thưởng như SERVICE HERO
                            hay SPIRIT AWARD. </p>
                    </div>
                </div>
                <!--End intro-blog-card-->
                <!--intro-blog-card-->
                <div class="intro-blog-card">
                    <div class="intro-blog-card-heading">
                        <h3>ỨNG VIÊN TIỀM NĂNG</h3>
                    </div>
                    <div class="intro-blog-card-content">
                        <p>
                            Để tiếp tục hành trình biến hàng triệu giấc mơ nghề nghiệp thành hiện thực, Navigos Group
                            luôn đón chào những ứng viên tài năng đến trải nghiệm và làm việc cùng tập đoàn. Nếu bạn có
                            khả năng và kinh nghiệm phù hợp, đừng ngần ngại ứng tuyển vào các công việc sẵn có của chúng
                            tôi để tận hưởng một môi trường làm việc lý tưởng cùng những phúc lợi tuyệt vời.

                        </p>
                        <p> Và một khi bạn đã trở thành một DREAM MAKER, rời đi khỏi gia đình NAVIWORKS luôn là một
                            quyết định rất khó khăn, thậm chí nhiều người chuyển sang công ty khác thỉnh thoảng cũng thể
                            hiện sự nuối tiếc về quyết định của mình và sau đó lựa chọn quay trở lại. Bởi ở đây, tất cả
                            các DREAM MAKERS đều như những thành viên khắng khít trong một gia đình lớn, cùng vui, cùng
                            làm, cùng thể hiện đam mê, để trên tất cả, cùng thực hiện những công việc có ý nghĩa lớn với
                            xã hội cùng Navigos Group.</p>
                    </div>
                </div>
                <!--End intro-blog-card-->
            </div>
            <!--intro-blogs-->
        </div>
        <!--End Intro-->

        <!--Jobs-->
        <div class="jobs-container">
            <h3>Việc làm </h3>
            <div class="jobs-body">
                <div class="jobs-body-heading">
                    <h3>Cơ hội việc làm dành cho bạn </h3>
                </div>
                <div class="jobs-body-list">
                    <!--job-body-card-->
                    <div class="job-body-card">
                        <p class="job-body-position">Giám đốc đổi mới chuyên trách</p>
                        <p class="job-body-desc-row">
                        <div class="job-body-desc-item">
                            <p>Giám đốc trở lên</p>
                        </div>
                        <div class="job-body-desc-item">
                            <p>Hà Nội</p>
                        </div>
                        <div class="job-body-desc-item">
                            <p>20/11/2021</p>
                        </div>
                        </p>
                    </div>
                    <!--End-job-body-card-->
                    <!--job-body-card-->
                    <div class="job-body-card">
                        <p class="job-body-position">Giám đốc đổi mới chuyên trách</p>
                        <p class="job-body-desc-row">
                        <div class="job-body-desc-item">
                            <p>Giám đốc trở lên</p>
                        </div>
                        <div class="job-body-desc-item">
                            <p>Hà Nội</p>
                        </div>
                        <div class="job-body-desc-item">
                            <p>20/11/2021</p>
                        </div>
                        </p>
                    </div>
                    <!--End-job-body-card-->
                    <!--job-body-card-->
                    <div class="job-body-card">
                        <p class="job-body-position">Giám đốc đổi mới chuyên trách</p>
                        <p class="job-body-desc-row">
                        <div class="job-body-desc-item">
                            <p>Giám đốc trở lên</p>
                        </div>
                        <div class="job-body-desc-item">
                            <p>Hà Nội</p>
                        </div>
                        <div class="job-body-desc-item">
                            <p>20/11/2021</p>
                        </div>
                        </p>
                    </div>
                    <!--End-job-body-card-->
                    <!--job-body-card-->
                    <div class="job-body-card">
                        <p class="job-body-position">Giám đốc đổi mới chuyên trách</p>
                        <p class="job-body-desc-row">
                        <div class="job-body-desc-item">
                            <p>Giám đốc trở lên</p>
                        </div>
                        <div class="job-body-desc-item">
                            <p>Hà Nội</p>
                        </div>
                        <div class="job-body-desc-item">
                            <p>20/11/2021</p>
                        </div>
                        </p>
                    </div>
                    <!--End-job-body-card-->
                    <!--job-body-card-->
                    <div class="job-body-card">
                        <p class="job-body-position">Giám đốc đổi mới chuyên trách</p>
                        <p class="job-body-desc-row">
                        <div class="job-body-desc-item">
                            <p>Giám đốc trở lên</p>
                        </div>
                        <div class="job-body-desc-item">
                            <p>Hà Nội</p>
                        </div>
                        <div class="job-body-desc-item">
                            <p>20/11/2021</p>
                        </div>
                        </p>
                    </div>
                    <!--End-job-body-card-->
                    <!--job-body-card-->
                    <div class="job-body-card">
                        <p class="job-body-position">Giám đốc đổi mới chuyên trách</p>
                        <p class="job-body-desc-row">
                        <div class="job-body-desc-item">
                            <p>Giám đốc trở lên</p>
                        </div>
                        <div class="job-body-desc-item">
                            <p>Hà Nội</p>
                        </div>
                        <div class="job-body-desc-item">
                            <p>20/11/2021</p>
                        </div>
                        </p>
                    </div>
                    <!--End-job-body-card-->
                    <!--job-body-card-->
                    <div class="job-body-card">
                        <p class="job-body-position">Giám đốc đổi mới chuyên trách</p>
                        <p class="job-body-desc-row">
                        <div class="job-body-desc-item">
                            <p>Giám đốc trở lên</p>
                        </div>
                        <div class="job-body-desc-item">
                            <p>Hà Nội</p>
                        </div>
                        <div class="job-body-desc-item">
                            <p>20/11/2021</p>
                        </div>
                        </p>
                    </div>
                    <!--End-job-body-card-->
                </div>
            </div>
        </div>

        <!--End Jobs-->
    </div>
    <!--End Body-->
</body>

</html>