<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng nhập - Người tìm việc</title>
    <link rel="stylesheet" href="../css/LogIn.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,500&display=swap"
        rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
    <div class="div_body">
        <div class="div_left">
            <div class="circle"></div>
            <div>
                <a style="text-decoration: none" ,style="font-family: Roboto" href="./" class="btnBack">
                    FINDWORK</a>
            </div>
            <img class="logoSignIn" src="../images/abc.png" alt="Logo">
            <img class="titleSignIn" src="../images/title.png" alt="Logo">
            <img class="icon2" src="../images/icon2.png" alt="Logo">
            <label class="title1">>1000 người đăng kí</label>
            <div>
                <label class="title2">Bạn đã được tuyển</label>
                <img class="icon1" src="../images/icon1.png" alt="Logo">
            </div>
            <label class="title3">Welcome to us!</label>
        </div>
        <div class="div_right">
            <div class="btnBack2">
                <a style="text-decoration: none" ,style="font-family: Roboto" href="./" class="btnBack2">
                    <img class="logocompany1" src="../images/logocompany.png" alt="Logo">
                    FINDWORK
                </a>
            </div>
            <div class="div_info">
                <div class="title">
                    Đăng nhập
                </div>
                <div class="txtUser">
                    <input class="form_input1" placeholder="Email đăng nhập"></input>
                    <input class="form_input2" placeholder="Mật khẩu"></input>
                </div>
                <div class="pass">
                    <div class="rememberpass">
                        <input type="checkbox" class="checkshow" value="">
                        <label class="showpass" for="checkshow"> Hiển thị mật khẩu</label>
                    </div>
                    <div class="forgot">
                        <a style="text-decoration: none" ,style="font-family: Roboto" href="forgot-password.html"
                            class="forgot"> Quên mật khẩu?</a>
                    </div>
                </div>
                <div class="div_titleSignup">
                    <label class="titleSignup">Bạn chưa có tài khoản?</label>
                    <a href="SignUp.html" class="btnSignup">Đăng kí</a>
                </div>
                <div class="div_btnSignin">
                    <a class="btnSignin" href="./">Đăng nhập</a>
                </div>
                <div class="or">
                    or
                </div>
                <div class="div_btnFace">

                    <a class="btnFacebook" href="./">
                        <div class="div_logoface">
                            <img class="logoface" src="../images/facebook.png" alt="Logo">
                        </div>
                        <label class="login_face">Đăng nhập bằng Facebook</label>
                    </a>
                    <a class="btnGmail" href="./">
                        <div class="div_logogmail">
                            <img class="logoGmail" src="../images/google.png" alt="Logo">
                        </div>
                        <label class="login_gmail">Đăng nhập bằng Gmail</label>
                    </a>
                </div>

            </div>
        </div>
    </div>
</body>

</html>