<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Sign In</title>
        <link rel="stylesheet" href="../css/LogIn.css">
        <link
        href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
        rel="stylesheet"
      />
    </head>
    <body>
        <div class="div_body">
            <div class="div_left">
                <div class="circle"></div>
                <div>
                <button class="btnBack">
                    <!-- <i class="bx bx-arrow-back icon"></i> -->
                    FINDWORK</button>
                </div>
                <img class="logoSignIn" src="../images/abc.png" alt="Logo">
                <img class="titleSignIn" src="../images/title.png" alt="Logo">
                <img class="icon2" src="../images/icon2.png" alt="Logo">
                <label class="title1">>1000 người đăng kí</label>
                <div>
                    <label class="title2">Bạn đã được tuyển</label>
                    <img class="icon1" src="../images/icon1.png" alt="Logo">
                </div>
                <label class="title3">Welcome to us!</label>
            </div>
            <div class="div_right">
                <div class="div_info">
                    <div class="title">
                        Đăng nhập
                    </div>
                    <div class="txtUser">
                        <input class="form_input1" placeholder="  Tên đăng nhập"></input>
                        <input class="form_input2" placeholder="  Mật khẩu"></input>
                    </div>
                    <div class="pass">
                        <div class="rememberpass">
                            <input type="checkbox" class="checkshow" value="">
                            <label class="showpass" for="checkshow"> Hiển thị mật khẩu</label>
                        </div>
                        <div class="forgot">
                            <label class="forgot"> Quên mật khẩu?</label>
                        </div>
                    </div>
                    <div class="div_titleSignup">
                        <label class="titleSignup">Bạn chưa có tài khoản ?</label>
                        <label class="btnSignup">Đăng kí</label>
                    </div>
                    <button class="btnSignin">Đăng nhập</button>
                    <a>or</a>
                    <div class="=div_btnFace">
                        
                        <button class="btnFacebook">
                            <img class="logoface" src="../images/facebook.png" alt="Logo">
                            Đăng nhập bằng Facebook </button>
                    </div>
                    <button class="btnGmail">
                        <img class="logoGmail" src="../images/google.png" alt="Logo">
                        Đăng nhập bằng Gmail </button>
                </div>
            </div>
        </div>
    </body>

</html>