<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng nhập - Nhà tuyển dụng</title>
    <link rel="icon" href="../images/logotab2.png">
    <link rel="stylesheet" href="../css/Login-company.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,500&display=swap"
        rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
    <div class="div_body">
        <div class="div_left">
            <div>
                <a class="btnBack" href="./employer/home-page.html"
                    style="text-decoration: none; font-family: sans-serif;">
                    FINDWORK
                </a>
            </div>
            <div>
                <section class="ads-company">
                    <div class="cycle-slideshow" data-cycle-slides="> a">
                        <a href="">
                            <img class="logocompany" src="../images/company.jpg" alt="Banner top">
                        </a>
                        <a href="#">
                            <img class="logocompany" src="../images/signup2.jpg" alt="Banner top">
                        </a>
                        <a href="#">
                            <img class="logocompany" src="../images/company2.jpg" alt="Banner top">
                        </a>
                    </div>
                </section>
            </div>
            <div class="content">
                <div class="title_sologan">New Here?</div>
                <a class="sologan">FINDWORK sẽ dành cho bạn những gì bạn muốn.</a>
                <a style="text-decoration: none" ,style="font-family: Roboto" href="signup-company.html"
                    class="btn_signup">Đăng kí</a>
            </div>

        </div>
        <div class="div_right">
            <div class="btnBack2">
                <button style="width:90px" ,style="height:40px" class="btnBack2">
                    <img class="logocompany1" src="../images/logocompany.png" alt="Logo">
                    FINDWORK
                </button>
            </div>
            <div class="div_info">
                <div class="title">
                    Đăng nhập
                </div>
                <div class="txtUser">
                    <input class="form_input1" placeholder="Tên đăng nhập"></input>
                    <input class="form_input2" placeholder="Mật khẩu"></input>
                </div>
                <div class="pass">
                    <div class="rememberpass">
                        <input type="checkbox" class="checkshow" value="">
                        <label class="showpass" for="checkshow"> Hiển thị mật khẩu</label>
                    </div>
                    <div class="forgot">
                        <a style="text-decoration: none" ,style="font-family: Roboto"
                            href="forgot-password-company.html" class="forgot"> Quên mật khẩu?</a>
                    </div>
                </div>
                <div class="div_btnSignin">
                    <a class="btnSignin" href="./employer/home-page.html">Đăng nhập</a>
                </div>
                <div class="or">
                    or
                </div>
                <div class="div_btnFace">

                    <a class="btnFacebook" href="./employer/home-page.html"
                        style="color: black; text-decoration: none;">
                        <div class="div_logoface">
                            <img class="logoface" src="../images/facebook.png" alt="Logo">
                        </div>
                        <label class="login_face">Đăng nhập bằng Facebook</label>
                    </a>
                    <a class="btnGmail" href="./employer/home-page.html" style="color: black; text-decoration: none;">
                        <div class="div_logogmail">
                            <img class="logoGmail" src="../images/google.png" alt="Logo">
                        </div>
                        <label class="login_gmail">Đăng nhập bằng Gmail</label>
                    </a>
                </div>
                <a style="text-decoration: none" ,style="font-family: Roboto" href="signup-company.html"
                    class="div_signup2">
                    Đăng Ký Tài Khoản FindWork
                </a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/2.1.6/jquery.cycle2.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/2.1.6/plugin/jquery.cycle2.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/2.1.6/plugin/jquery.cycle2.swipe.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/2.1.6/plugin/jquery.cycle2.shuffle.min.js"></script>
</body>

</html>