<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý tài khoản</title>
    <link rel="stylesheet" href="../css/manage-acc-page.css">
    <link rel="stylesheet" href="../css/header.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,500&display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="logo">
              <a href="./home-page.html">
                <img src="../images/salary_page/logo1.png" alt="Logo" />
                FINDWORK
              </a>
            </div>
            <!-- Logo -->
      
            <form class="searchbar">
              <div class="job">
                <i class="material-icons prefix">search</i>
                <input type="search" name="s" placeholder="Tìm kiếm việc làm, công ty, kĩ năng" />
              </div>
              <div class="local">
                <i class="material-icons prefix">location_on</i>
                <input type="search" name="s" placeholder="Tất cả khu vực" />
              </div>
              <a class="findjobs" href="./search-page.html">
                Tìm Việc
              </a>
            </form>
            <!-- searchbar -->
            <div class="menu-btn">
              <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
            </div>
            <nav class="navbar">
              <ul class="nav-menu">
                <li class="search-sidebar">
                  <form>
                    <div class="job">
                      <i class="material-icons prefix">search</i>
                      <input type="search" name="s" placeholder="Tìm kiếm việc làm, công ty, kĩ năng" />
                    </div>
                    <div class="local">
                      <i class="material-icons prefix">location_on</i>
                      <input type="search" name="s" placeholder="Tất cả khu vực" />
                    </div>
                    <a href="./search-page.html">
                      <div class="findjobs-btn">Tìm Việc</div>
                    </a>
                  </form>
                  <!-- searchbar -->
                </li>
                <li><a href="./search-page.html">VIỆC LÀM</a></li>
                <li><a href="./salary-page.html">MỨC LƯƠNG</a></li>
                <li><a href="./list-blog-page.html">BLOG</a></li>
                <li><a href="./company-page.html">CÔNG TY</a></li>
                <li>
                  <div class="noti_login">
                    <i class="material-icons prefix">notifications_none</i>
                    <div class="btn-dropdown">
                      <button class="login" type="submit">
                        <i class="material-icons prefix">account_circle</i>
                        <div>Nguyễn Tiến Đạt</div>
                      </button>
                      <div class="dropdown-not-login">
                        <div class="dropdown">
                          <a href="./profile-page.html">
                            <i class="fa fa-address-card" aria-hidden="true"></i>
                            <span>Thông tin chung</span>
                          </a>
                        </div>
                        <div class="dropdown">
                          <a href="./Update-Profile-User.html">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            <span>Cập nhật hồ sơ</span>
                          </a>
                        </div>
                        <div class="dropdown">
                          <a href="./manage-acc-page.html">
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                            <span>Quản lý tài khoản</span>
                          </a>
                        </div>
                        <div class="dropdown">
                          <a href="LogIn.html">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            <span>Đăng xuất</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </nav>
            <!-- navbar -->
      
            <nav class="nav-res">
              <ul class="nav-menu-res">
                <div class="close-btn">
                  <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                </div>
                <div class="search-sidebar">
                  <div class="job">
                    <i class="material-icons prefix">search</i>
                    <input type="search" name="s" placeholder="Tìm kiếm việc làm, công ty, kĩ năng">
                  </div>
                  <div class="local">
                    <i class="material-icons prefix">location_on</i>
                    <input type="search" name="s" placeholder="Tất cả khu vực">
                  </div>
                  <a href="./search-page.html">
                    Tìm Việc
                  </a>
                </div>
                <div class="resp-top">
                  <div class="circle-avatar">
                    <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                  </div>
                  <div class="infor-card">
                    <div class="infor">
                      <div class="name">Nguyễn Tiến Đạt</div>
                      <a class="email" href="mailto:jamesnguyen@gmail.com">datdovlog@gmail.com</a>
                    </div>
                    <a class="logout" href="LogIn.html">
                      <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <li><a href="home-page.html">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    Trang chủ</a>
                </li>
                <li><a href="search-page.html">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    Việc làm</a>
                </li>
                <li><a href="salary-page.html">
                    <i class="fa fa-usd" aria-hidden="true"></i>
                    Mức lương</a>
                </li>
                <li><a href="list-blog-page.html">
                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                    Blog</a>
                </li>
                <li><a href="company-page.html">
                    <i class="fa fa-building" aria-hidden="true"></i>
                    Công ty</a>
                </li>
                <li><a href="./employer/home-page.html">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Cho nhà tuyển dụng</a>
                </li>
                <li><a href="profile-page.html">
                    <i class="fa fa-address-card" aria-hidden="true"></i>
                      Thông tin chung</a>
                  </li>
                  <li><a href="Update-Profile-User.html">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      Cập nhật hồ sơ</a>
                  </li>
                  <li><a href="manage-acc-page.html">
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                      Quản lý tài khoản</a>
                  </li>
              </ul>
            </nav>
          </header>
          <!-- header -->

        <section class="content-holder">
            <div class="content-title">
                <span>Quản lý tài khoản</span>
            </div>
            <div class="separator"></div>
            <div class="content-container">
                <div class="container-infor">
                    <div class="infor">
                        <div class="caption">
                            <span>Họ và tên:</span>
                        </div>
                        <div class="content">
                            <span>Nguyễn Tiến Đạt</span>
                        </div>
                        <div class="edit">
                            <span>Chỉnh sửa</span>
                        </div>
                    </div>
                    <div class="collapsible">
                        <div class="visible">
                            <div class="caption">
                                <span>Họ và tên mới:</span>
                            </div>
                            <div class="content">
                                <input type="text">
                            </div>
                            <div class="edit">
                                <a href="">Lưu</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-infor">
                    <div class="infor">
                        <div class="caption">
                            <span>Địa chỉ email:</span>
                        </div>
                        <div class="content">
                            <span>abc@gmail.com</span>
                        </div>
                        <div class="edit">
                            <span>Chỉnh sửa</span>
                        </div>
                    </div>
                    <div class="collapsible">
                        <div class="visible">
                            <div class="caption">
                                <span>Địa chỉ email mới:</span>
                            </div>
                            <div class="content">
                                <input type="email">
                            </div>
                            <div class="edit">
                                <a href="">Lưu</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-infor">
                    <div class="infor">
                        <div class="caption">
                            <span>Mật khẩu:</span>
                        </div>
                        <div class="content">
                            <span>****************</span>
                        </div>
                        <div class="edit">
                            <span>Chỉnh sửa</span>
                        </div>
                    </div>
                    <div class="collapsible">
                        <div class="visible">
                            <div class="caption">
                                <span>Mật khẩu hiện tại:</span>
                            </div>
                            <div class="content">
                                <input type="password">
                            </div>
                            <div class="edit">
                                
                            </div>
                        </div>
                        <div class="visible-sub">
                            <div class="caption">
                                <span>Mật khẩu mới:</span>
                            </div>
                            <div class="content">
                                <input type="password">
                            </div>
                            <div class="edit">
                                
                            </div>
                        </div>
                        <div class="visible">
                            <div class="caption">
                                <span>Xác nhận mật khẩu mới:</span>
                            </div>
                            <div class="content">
                                <input type="password">
                            </div>
                            <div class="edit">
                                <a href="">Đổi mật khẩu</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-infor">
                    <div class="infor">
                        <div class="caption">
                            <span>Xác minh danh tính:</span>
                        </div>
                        <div class="content">
                            <span></span>
                            <p>Xác minh danh tính của bạn để làm những việc như chạy quảng cáo
                                về vấn đề xã hội, bầu cử hoặc chính trị</p>
                        </div>
                        <div class="edit">
                            <span>Chỉnh sửa</span>
                        </div>
                    </div>
                    <div class="collapsible">
                        <div class="visible">
                            <div class="caption">
                                <span>Số CMND:</span>
                            </div>
                            <div class="content">
                                <input type="number">
                            </div>
                            <div class="edit">
                                <a href=""></a>
                            </div>
                        </div>
                        <div class="visible-img">
                            <div class="caption">
                                <span>Mặt trước CMND:</span>
                            </div>
                            <div class="content">
                                <img id="OpenImgUploadFront" src="../images/manage-acc-page/cmt-1.png" alt="Mặt trước CMND">
                                <input id="ImgUploadFront" type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
                            </div>
                            <div class="edit">
                                <a href=""></a>
                            </div>
                        </div>
                        <div class="visible-img">
                            <div class="caption">
                                <span>Mặt sau CMND:</span>
                            </div>
                            <div class="content">
                                <img id="OpenImgUploadBack" src="../images/manage-acc-page/cmt-2.png" alt="Mặt sau CMND">
                                <input id="ImgUploadBack" type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
                            </div>
                            <div class="edit">
                                
                            </div>
                        </div>
                        <div class="visible">
                            <div class="caption">
                                
                            </div>
                            <div class="content">
                                
                            </div>
                            <div class="edit">
                                <a href="">Gửi xác minh</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- content holder -->

        <footer class="main-footer">
            <div class="footer-box">
                <div class="box">
                    <div class="first-box">
                        <div class="logo">
                            <a href="homepage.html">
                                <img src="../images/salary_page/logo1.png" alt="Logo">
                                FINDWORK
                            </a>
                        </div> <!-- Logo -->
                        <div class="description">
                            Nơi bạn có thể tìm được những
                            ứng cử viên sáng giá cho công ty của bạn.
                        </div>
                        <button class="learn-more">Tìm hiểu thêm</button>
                    </div>
                </div>
                <div class="box">
                    <h3>Ứng cử viên</h3>
                    <ul>
                        <li><a href="#">Việc làm</a></li>
                        <li><a href="#">Ngành nghề</a></li>
                        <li><a href="#">Nộp hồ sơ</a></li>
                        <li><a href="#">Doanh Nghiệp</a></li>
                        <li><a href="#">Xác thực tài khoản</a></li>
                        <li><a href="#">Nâng cấp tài khoản</a></li>
                    </ul>
                </div>
                <div class="box">
                    <h3>Nhà tuyển dụng</h3>
                    <ul>
                        <li><a href="#">Đăng tuyển dụng</a></li>
                        <li><a href="#">Tìm kiếm hồ sơ</a></li>
                        <li><a href="#">Quản lý dự án</a></li>
                        <li><a href="#">Xác thực tài khoản</a></li>
                        <li><a href="#">Nâng cấp tài khoản</a></li>
                    </ul>
                </div>
                <div class="box">
                    <h3>Chính sách</h3>
                    <ul>
                        <li><a href="#">Chính sách bảo mật</a></li>
                        <li><a href="#">Điều khoản và điều kiện</a></li>
                        <li><a href="#">Chính sách Bản quyền</a></li>
                        <li><a href="#">Quy tắc ứng xử</a></li>
                        <li><a href="#">Phí và lệ phí</a></li>
                    </ul>
                </div>
                <div class="box">
                    <h3>Danh sách trang</h3>
                    <ul>
                        <li><a href="./home-page.html">Trang chủ</a></li>
                        <li><a href="./search-page.html">Việc làm</a></li>
                        <li><a href="./salary-page.html">Mức lương</a></li>
                        <li><a href="./list-blog-page.html">Blog</a></li>
                        <li><a href="./company-page.html">Công ty</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </footer><!-- footer -->
        <div class="follow-us">
            Theo dõi chúng tôi
            <span>
                <span>
                    <a href="">
                        <img src="../images/salary_page/facebook.png" alt="Visit on Facebook">
                    </a>
                </span>
                <span>
                    <a href="">
                        <img src="../images/salary_page/twitter.png" alt="Visit on Twitter">
                    </a>
                </span>
                <span>
                    <a href="">
                        <img src="../images/salary_page/linkedin.png" alt="Visit on Linkedin">
                    </a>
                </span>
                <span>
                    <a href="">
                        <img src="../images/salary_page/youtube.png" alt="Visit on Youtube">
                    </a>
                </span>
            </span>
        </div>
        <div class="copy">
            <p><small>Copyright &copy; 2021. All Rights Reserved.</small></p>
        </div>
    </div>


    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/header.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.login').click(function (e) {
                $('.dropdown-not-login').toggleClass('active');
            })

            $(".edit").click(function (e) {
                $edit = $(this);
                $header = $(this).parent();
                //getting the next element
                $content = $header.next();
                //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
                $content.slideToggle(500, function () {
                    //execute this after slideToggle is done
                    //change text of header based on visibility of content div
                    
                    $edit.text(function () {
                        return $content.is(":visible") ? "Thu gọn" : "Chỉnh sửa";
                    });
                });
            })

            $('#OpenImgUploadFront').click(function (e) {
                $('#ImgUploadFront').trigger('click');
            })

            $('#OpenImgUploadBack').click(function (e) {
                $('#ImgUploadBack').trigger('click');
            })
        })
    </script>
</body>

</html>