<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hồ sơ</title>
  <link rel="icon" href="../images/logotab1.png">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,500&display=swap"
    rel="stylesheet" />
  <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../css/grid.css" />
  <link rel="stylesheet" href="../css/profile-page.css" />
  <link rel="stylesheet" href="../css/header.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,500&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/85a68be3b3.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="profile-container">
    <!--header-->
    <header class="header">
      <div class="logo">
        <a href="./">
          <img src="../images/salary_page/logo1.png" alt="Logo" />
          FINDWORK
        </a>
      </div>
      <!-- Logo -->

      <form class="searchbar">
        <div class="job">
          <i class="material-icons prefix">search</i>
          <input type="search" name="s" placeholder="Tìm kiếm việc làm, công ty, kĩ năng" />
        </div>
        <div class="local">
          <i class="material-icons prefix">location_on</i>
          <input type="search" name="s" placeholder="Tất cả khu vực" />
        </div>
        <a class="findjobs" href="./search-page.html">
          Tìm Việc
        </a>
      </form>
      <!-- searchbar -->
      <div class="menu-btn">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
      </div>
      <nav class="navbar">
        <ul class="nav-menu">
          <li class="search-sidebar">
            <form>
              <div class="job">
                <i class="material-icons prefix">search</i>
                <input type="search" name="s" placeholder="Tìm kiếm việc làm, công ty, kĩ năng" />
              </div>
              <div class="local">
                <i class="material-icons prefix">location_on</i>
                <input type="search" name="s" placeholder="Tất cả khu vực" />
              </div>
              <a href="./search-page.html">
                <div class="findjobs-btn">Tìm Việc</div>
              </a>
            </form>
            <!-- searchbar -->
          </li>
          <li><a href="./search-page.html">VIỆC LÀM</a></li>
          <li><a href="./salary-page.html">MỨC LƯƠNG</a></li>
          <li><a href="./list-blog-page.html">BLOG</a></li>
          <li><a href="./company-page.html">CÔNG TY</a></li>
          <li>
            <div class="noti_login">
              <i class="material-icons prefix">notifications_none</i>
              <div class="btn-dropdown">
                <button class="login" type="submit">
                  <i class="material-icons prefix">account_circle</i>
                  <div>Nguyễn Tiến Đạt</div>
                </button>
                <div class="dropdown-not-login">
                  <div class="dropdown">
                    <a href="./profile-page.html">
                      <i class="fa fa-address-card" aria-hidden="true"></i>
                      <span>Thông tin chung</span>
                    </a>
                  </div>
                  <div class="dropdown">
                    <a href="./Update-Profile-User.html">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      <span>Cập nhật hồ sơ</span>
                    </a>
                  </div>
                  <div class="dropdown">
                    <a href="./manage-acc-page.html">
                      <i class="fa fa-tasks" aria-hidden="true"></i>
                      <span>Quản lý tài khoản</span>
                    </a>
                  </div>
                  <div class="dropdown">
                    <a href="LogIn.html">
                      <i class="fa fa-sign-out" aria-hidden="true"></i>
                      <span>Đăng xuất</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </nav>
      <!-- navbar -->

      <nav class="nav-res">
        <ul class="nav-menu-res">
          <div class="close-btn">
            <i class="fa fa-times fa-2x" aria-hidden="true"></i>
          </div>
          <div class="search-sidebar">
            <div class="job">
              <i class="material-icons prefix">search</i>
              <input type="search" name="s" placeholder="Tìm kiếm việc làm, công ty, kĩ năng">
            </div>
            <div class="local">
              <i class="material-icons prefix">location_on</i>
              <input type="search" name="s" placeholder="Tất cả khu vực">
            </div>
            <a href="./search-page.html">
              Tìm Việc
            </a>
          </div>
          <div class="resp-top">
            <div class="circle-avatar">
              <i class="fa fa-user fa-3x" aria-hidden="true"></i>
            </div>
            <div class="infor-card">
              <div class="infor">
                <div class="name">Nguyễn Tiến Đạt</div>
                <a class="email" href="mailto:jamesnguyen@gmail.com">datdovlog@gmail.com</a>
              </div>
              <a class="logout" href="LogIn.html">
                <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <li><a href="./">
              <i class="fa fa-home" aria-hidden="true"></i>
              Trang chủ</a>
          </li>
          <li><a href="search-page.html">
              <i class="fa fa-briefcase" aria-hidden="true"></i>
              Việc làm</a>
          </li>
          <li><a href="salary-page.html">
              <i class="fa fa-usd" aria-hidden="true"></i>
              Mức lương</a>
          </li>
          <li><a href="list-blog-page.html">
              <i class="fa fa-newspaper-o" aria-hidden="true"></i>
              Blog</a>
          </li>
          <li><a href="company-page.html">
              <i class="fa fa-building" aria-hidden="true"></i>
              Công ty</a>
          </li>
          <li><a href="./employer/home-page.html">
              <i class="fa fa-user" aria-hidden="true"></i>
              Cho nhà tuyển dụng</a>
          </li>
          <li><a href="profile-page.html">
              <i class="fa fa-address-card" aria-hidden="true"></i>
              Thông tin chung</a>
          </li>
          <li><a href="Update-Profile-User.html">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              Cập nhật hồ sơ</a>
          </li>
          <li><a href="manage-acc-page.html">
              <i class="fa fa-tasks" aria-hidden="true"></i>
              Quản lý tài khoản</a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- header -->

    <!--Mangagement-->
    <div class="management">
      <div onclick="location.href = './'" class="management-item">
        <img src="../images/profile-page/file.png" alt="" />
        <p class="hide-on-mobile">Quản lý hồ sơ</p>
      </div>
      <div onclick="location.href = './'" class="management-item">
        <img src="../images/profile-page/mywork.png" alt="" />
        <p class="hide-on-mobile">Việc làm của tôi</p>
      </div>
      <div onclick="location.href = './'" class="management-item">
        <img src="../images/profile-page/announce.png" alt="" />
        <p class="hide-on-mobile">Thông báo việc làm</p>
      </div>
    </div>
    <!--Mangagement-->
    <!--Body-->
    <div class="body-content">
      <div class="row">
        <div class="col-xl-4 col-lg-5">
          <!--My Profile-->
          <div class="myprofile-card">
            <div class="myprofile-avatar">
              <i class="fas fa-user icon"></i>
            </div>
            <div class="myprofile-name">
              <h3>Nguyễn Đức Chí Đạt</h3>
            </div>
            <div class="myprofile-desc">
              <p>Chức danh</p>
              <span>Mới tốt nghiệp</span>
              <p>Công ty gần đây nhất</p>
              <p>Bằng cấp cao nhất</p>
            </div>
            <div class="myprofile-progress">
              <p>
                Mức độ hoàn chỉnh:
                <b>Chưa hoàn chỉnh</b>
              </p>
            </div>
            <div class="progressbar">
              <div></div>
            </div>
            <button onclick="location.href = './Update-Profile-User.html'" class="btn-update-profile">Cập nhật hồ
              sơ</button>
          </div>
          <!--My Profile-->
          <!--Setting-->
          <div class="profile-setting-card">
            <div class="profile-setting-heading">
              <h3>Cài đặt</h3>
            </div>
            <div class="profile-setting-body">
              <b>Hồ sơ đính kèm</b>
              <div class="profile-setting-file-upload">

                <input placeholder="Tải hồ sơ" type="file" value="Tải hồ sơ" accept="application/pdf,application/msword,
  application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <p>
                  Định dạng file chỉ có thể là .doc, .docx và pdf, files phải
                  nhỏ hơn 2MB
                </p>
              </div>
              <div class="line"></div>
              <div class="profile-setting-footer">
                <b>Cho phép tìm kiếm</b>
                <div class="profile-setting-content">
                  <p>Hồ sơ của bạn sẽ không hiển thị cho nhà tuyển dụng.</p>
                  <input type="checkbox" name="" id="" />
                </div>
              </div>
            </div>
          </div>
          <!--Setting-->
          <!--Hide Profile-->
          <div class="hide-profile-card">
            <div class="hide-profile-heading">
              <h3>Ẩn hồ sơ của tôi</h3>
              <p>Với những công ty này</p>
            </div>
            <div class="hide-profile-body">
              <div class="hide-profile-body-item">
                <b>Nhập email công ty (được đề nghị)</b>
                <div class="hide-profile-body-input">
                  <input placeholder="example@gmail.com" type="email" />
                  <img src="../images/profile-page/add.png" alt="" />
                </div>
              </div>
              <div class="hide-profile-body-item">
                <b>Hoặc nhập tên công ty</b>
                <div class="hide-profile-body-input">
                  <input placeholder="Ít nhất phải có 3 kí tự" type="email" />
                  <img src="../images/profile-page/add.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <!--Hide Profile-->
        </div>
        <div class="col-xl-8 col-lg-7 padding-0">
          <div class="row careers">
            <div class="col-xl-4 col-lg-12 col-md-12">
              <!--Career-->
              <div class="career-card">
                <div class="career-card-heading">
                  <h3 style="color: #ff9900">10</h3>
                </div>

                <div class="career-card-body">
                  <p class="career-card-body-title">
                    Nhà tuyển dụng xem hồ sơ
                  </p>
                  <p>Kiểm tra nhà tuyển dụng xem hồ sơ</p>
                </div>
              </div>
              <!--Career-->
            </div>
            <div class="col-xl-4 col-lg-12 col-md-12">
              <!--Career-->
              <div class="career-card">
                <div class="career-card-heading">
                  <h3 style="color: #28b446">8</h3>
                </div>
                <div class="career-card-body">
                  <p class="career-card-body-title">Thông báo việc làm</p>
                  <p>Quản lý thông báo việc làm</p>
                </div>
              </div>
              <!--Career-->
            </div>
            <div class="col-xl-4 col-lg-12 col-md-12">
              <!--Career-->
              <div class="career-card">
                <div class="career-card-heading">
                  <h3 style="color: #2a8cff">3</h3>
                </div>
                <div class="career-card-body">
                  <p class="career-card-body-title">Việc làm của tôi</p>

                  <div class="career-card-body-list">
                    <div class="career-card-body-item">
                      <button style="background-color: #5fb661" class="btn-career">
                        21
                      </button>
                      <span>Đã gửi</span>
                    </div>
                    <div class="career-card-body-item">
                      <button style="background-color: #f59232" class="btn-career">
                        12
                      </button>
                      <span>Đã xem</span>
                    </div>
                    <div class="career-card-body-item">
                      <button style="background-color: #fd6a6a" class="btn-career">
                        9
                      </button>
                      <span>Đã đóng</span>
                    </div>
                  </div>
                </div>
              </div>
              <!--Career-->
            </div>
          </div>
          <div class="row">
            <div class="company">
              <div class="company-header">
                <h2>Việc làm bạn sẽ yêu thích</h2>
              </div>
              <div class="company-list">
                <!--Company-->
                <div class="company-item row">
                  <div class="col-logo col-2">
                    <img class="company-item-img" src="../images/profile-page/company1.png" alt="" />
                  </div>
                  <div class="col-content col-10">
                    <div class="company-item-content">
                      <h3 class="company-item-header">
                        Company Logo02 Senior Cloud Operations Engineer
                        (Azure, AWS)
                      </h3>
                      <div class="company-item-info">
                        <p>ROBERT BOSCH ENGINEERING VIETNAM</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Company-->
                <!--Company-->
                <div class="company-item row">
                  <div class="col-logo col-2">
                    <img class="company-item-img" src="../images/profile-page/company2.png" alt="" />
                  </div>
                  <div class="col-content col-10">
                    <div class="company-item-content">
                      <h3 class="company-item-header">
                        Chuyên Viên Phát Triển Ứng Dụng Cho Mobile
                      </h3>
                      <div class="company-item-info">
                        <p>CÔNG TY CỔ PHẦN CHỨNG KHOÁN TÂN VIỆT</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Company-->
                <!--Company-->
                <div class="company-item row">
                  <div class="col-logo col-2">
                    <img class="company-item-img" src="../images/profile-page/company3.png" alt="" />
                  </div>
                  <div class="col-content col-10">
                    <div class="company-item-content">
                      <h3 class="company-item-header">
                        Trưởng Nhóm An Toàn Thông Tin/ Số Lượng: 01
                      </h3>
                      <div class="company-item-info">
                        <p>CÔNG TY CỔ PHẦN NETNAM</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Company-->
                <!--Company-->
                <div class="company-item row">
                  <div class="col-logo col-2">
                    <img class="company-item-img" src="../images/profile-page/company4.png" alt="" />
                  </div>
                  <div class="col-content col-10">
                    <div class="company-item-content">
                      <h3 class="company-item-header">
                        Security Test Engineer – Sign on Bonus & Upto 20M
                        Relocation Package...
                      </h3>
                      <div class="company-item-info">
                        <p>
                          LG VEHICLE COMPONENT SOLUTIONS DEVELOPMENT CENTER
                          VIETNAM...
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Company-->
                <!--Company-->
                <div class="company-item row">
                  <div class="col-logo col-2">
                    <img class="company-item-img" src="../images/profile-page/company5.png" alt="" />
                  </div>
                  <div class="col-content col-10">
                    <div class="company-item-content">
                      <h3 class="company-item-header">
                        Front End Developer (React Native, up to $2000)
                      </h3>
                      <div class="company-item-info">
                        <p>CÔNG TY CỔ PHẦN KB FINA</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Company-->
                <!--Company-->
                <div class="company-item row">
                  <div class="col-logo col-2">
                    <img class="company-item-img" src="../images/profile-page/company6.png" alt="" />
                  </div>
                  <div class="col-content col-10">
                    <div class="company-item-content">
                      <h3 class="company-item-header">DevOps Engineer</h3>
                      <div class="company-item-info">
                        <p>FORTNA VIETNAM</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Company-->
                <!--Company-->
                <div class="company-item row">
                  <div class="col-logo col-2">
                    <img class="company-item-img" src="../images/profile-page/company7.png" alt="" />
                  </div>
                  <div class="col-content col-10">
                    <div class="company-item-content">
                      <h3 class="company-item-header">
                        Game FX Artist (Puzzle / Casual)
                      </h3>
                      <div class="company-item-info">
                        <p>CÔNG TY CỔ PHẦN SUNDATA</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Company-->
                <!--Company-->
                <div class="company-item row">
                  <div class="col-logo col-2">
                    <img class="company-item-img" src="../images/profile-page/company8.png" alt="" />
                  </div>
                  <div class="col-content col-10">
                    <div class="company-item-content">
                      <h3 class="company-item-header">
                        An Toàn Thông Tin (Số Lượng: 5 Người)
                      </h3>
                      <div class="company-item-info">
                        <p>
                          NGÂN HÀNG NÔNG NGHIỆP VÀ PHÁT TRIỂN NÔNG THÔN VIỆT
                          NAM...
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Company-->
                <!--Company-->
                <div class="company-item row">
                  <div class="col-logo col-2">
                    <img class="company-item-img" src="../images/profile-page/company9.png" alt="" />
                  </div>
                  <div class="col-content col-10">
                    <div class="company-item-content">
                      <h3 class="company-item-header">Java Engineer</h3>
                      <div class="company-item-info">
                        <p>BAN VIEN SOFTWARE</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Company-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="main-footer">

    <div class="box">
      <div class="logo">
        <a href="./">
          <img src="../images/salary_page/logo1.png" alt="Logo" />
          <p>FINDWORK</p>
        </a>
      </div>
      <!-- Logo -->
      <div class="description">
        Nơi bạn có thể tìm được những ứng cử viên sáng giá cho công ty của
        bạn.
      </div>
      <div onclick="location.href = './'" class="learn-more">Tìm hiểu thêm</div>

    </div>
    <div class="box">
      <h3>Ứng cử viên</h3>
      <ul>
        <li><a href="#">Việc làm</a></li>
        <li><a href="#">Ngành nghề</a></li>
        <li><a href="#">Nộp hồ sơ</a></li>
        <li><a href="#">Doanh Nghiệp</a></li>
        <li><a href="#">Xác thực tài khoản</a></li>
        <li><a href="#">Nâng cấp tài khoản</a></li>
      </ul>
    </div>
    <div class="box">
      <h3>Nhà tuyển dụng</h3>
      <ul>
        <li><a href="#">Đăng tuyển dụng</a></li>
        <li><a href="#">Tìm kiếm hồ sơ</a></li>
        <li><a href="#">Quản lý dự án</a></li>
        <li><a href="#">Xác thực tài khoản</a></li>
        <li><a href="#">Nâng cấp tài khoản</a></li>
      </ul>
    </div>
    <div class="box">
      <h3>Chính sách</h3>
      <ul>
        <li><a href="#">Chính sách bảo mật</a></li>
        <li><a href="#">Điều khoản và điều kiện</a></li>
        <li><a href="#">Chính sách Bản quyền</a></li>
        <li><a href="#">Quy tắc ứng xử</a></li>
        <li><a href="#">Phí và lệ phí</a></li>
      </ul>
    </div>
    <div class="box">
      <h3>Danh sách trang</h3>
      <ul>
        <li><a href="./">Trang chủ</a></li>
        <li><a href="./search-page.html">Việc làm</a></li>
        <li><a href="./salary-page.html">Mức lương</a></li>
        <li><a href="./list-blog-page.html">Blog</a></li>
        <li><a href="./company-page.html">Công ty</a></li>
      </ul>
    </div>


  </footer>
  <!-- footer -->
  <div class="follow-us">
    Follow us
    <span>
      <span>
        <a href="">
          <img src="../images/salary_page/facebook.png" alt="Visit on Facebook" />
        </a>
      </span>
      <span>
        <a href="">
          <img src="../images/salary_page/twitter.png" alt="Visit on Twitter" />
        </a>
      </span>
      <span>
        <a href="">
          <img src="../images/salary_page/linkedin.png" alt="Visit on Linkedin" />
        </a>
      </span>
      <span>
        <a href="">
          <img src="../images/salary_page/youtube.png" alt="Visit on Youtube" />
        </a>
      </span>
    </span>
  </div>
  <div class="copy">
    <p><small>Copyright &copy; 2021. All Rights Reserved.</small></p>
  </div>
</body>
<script src="../js/profile-page.js"></script>
<script src="../js/header.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('.login').click(function (e) {
      $('.dropdown-not-login').toggleClass('active');
    })
  })
</script>

</html>