<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salary</title>
    <link rel="stylesheet" href="../css/salary-page.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,500&display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="logo">
                <a href="homepage.html">
                    <img src="../images/salary_page/logo.png" alt="Logo">
                    FINDWORK
                </a>
            </div> <!-- Logo -->

            <form class="searchbar">
                <i class="material-icons prefix">search</i>
                <div class="job">
                    <input type="search" name="s" placeholder="Tìm kiếm việc làm, công ty, kĩ năng">
                </div>
                <i class="material-icons prefix">location_on</i>
                <div class="local">
                    <input type="search" name="s" placeholder="Tất cả địa điểm">
                </div>
                <button class="findjobs" type="submit">Find Jobs</button>
            </form> <!-- searchbar -->
            
            <nav class="navbar">
                <ul class="nav-menu">
                    <li><a href="#">VIỆC LÀM</a></li>
                    <li><a href="#">MỨC LƯƠNG</a></li>
                    <li><a href="#">BLOG</a></li>
                    <li><a href="#">CÔNG TY</a></li>
                </ul>
            </nav> <!-- navbar -->
            <div class="noti_login">
                <i class="material-icons prefix">notifications_none</i>
                <div>
                    <button class="login" type="submit">
                        <i class="material-icons prefix">account_circle</i>
                        Đăng Nhập
                    </button>
                </div>
            </div>
        </header> <!-- header -->
        
        <section class="content-holder">
            <article class="content">
                <main>
                    <div class="content-title">
                        Mức lương trung bình của các công việc phổ biến
                    </div>
                </main>
            </article> <!-- content -->

            <aside class="sidebar">
                <a href="#">
                    <img src="../images/salary_page/banner1.png" alt="banner 1">
                </a>
            </aside> <!-- sidebar -->
            
            <div class="clearfix"></div>
        </section>
    </div>

</body>

</html>