<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thống kê mức lương</title>
    <link rel="stylesheet" href="../css/salary-detail-page.css">
    <link rel="stylesheet" href="../css/header.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,500&display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="home-page.html">
                <img src="../images/salary_page/logo1.png" alt="Logo">
                FINDWORK
            </a>
        </div> <!-- Logo -->

        <form class="searchbar">
            <div class="job">
                <i class="material-icons prefix">search</i>
                <input type="search" name="s" placeholder="Tìm kiếm việc làm, công ty, kĩ năng">
            </div>
            <div class="local">
                <i class="material-icons prefix">location_on</i>
                <input type="search" name="s" placeholder="Tất cả khu vực">
            </div>
            <a class="findjobs" href="search-page.html">Tìm Việc</a>
        </form> <!-- searchbar -->
        <div class="menu-btn">
            <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </div>
        <nav class="navbar">
            <ul class="nav-menu">
                <li><a href="search-page.html">Việc làm</a></li>
                <li><a href="salary-page.html">Mức lương</a></li>
                <li><a href="list-blog-page.html">Blog</a></li>
                <li><a href="company-page.html">Công ty</a></li>
                <li>
                    <div class="noti_login">
                        <i class="material-icons prefix">notifications_none</i>
                        <div class="btn-dropdown">
                            <button class="login" type="submit">
                                <i class="material-icons prefix">account_circle</i>
                                <div>
                                    Đăng Nhập
                                </div>
                            </button>
                            <div class="dropdown-not-login">
                                <div class="title">
                                    <span>Người tìm việc đăng nhập</span>
                                    <div class="social-login">
                                        <a href="">
                                            <img src="../images/company-page/facebook.png" alt="">
                                            <span>với Facebook</span>
                                        </a>
                                        <a href="">
                                            <img src="../images//company-page/google.png" alt="">
                                            <span>với Google</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <a href="LogIn.html">
                                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                                        <span>Đăng nhập</span>
                                    </a>
                                </div>
                                <div class="dropdown">
                                    <a href="SignUp.html">
                                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                                        <span>Tạo tài khoản mới</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav> <!-- navbar -->

        <nav class="nav-res">
            <ul class="nav-menu-res">
                <div class="close-btn">
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                </div>
                <div class="search-sidebar">
                    <div class="job">
                        <i class="material-icons prefix">search</i>
                        <input type="search" name="s" placeholder="Tìm kiếm việc làm, công ty, kĩ năng">
                    </div>
                    <div class="local">
                        <i class="material-icons prefix">location_on</i>
                        <input type="search" name="s" placeholder="Tất cả khu vực">
                    </div>
                    <a href="./search-page.html">
                        Tìm Việc
                    </a>
                </div>
                <div class="resp-top">
                    <div class="circle-avatar">
                        <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="in-up-btn">
                        <div class="login-btn">
                            <a href="LogIn.html">Đăng nhập</a>
                        </div>
                        <div class="signup-btn">
                            <a href="SignUp.html">Đăng kí</a>
                        </div>
                    </div>
                </div>
                <li><a href="home-page.html">
                    <i class="fa fa-home" aria-hidden="true"></i>
                        Trang chủ</a>
                </li>
                <li><a href="search-page.html">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                        Việc làm</a>
                </li>
                <li><a href="salary-page.html">
                    <i class="fa fa-usd" aria-hidden="true"></i>
                        Mức lương</a>
                </li>
                <li><a href="list-blog-page.html">
                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                        Blog</a>
                </li>
                <li><a href="company-page.html">
                    <i class="fa fa-building" aria-hidden="true"></i>
                        Công ty</a>
                </li>
                <li><a href="./employer/home-page.html">
                    <i class="fa fa-user" aria-hidden="true"></i>
                        Cho nhà tuyển dụng</a>
                </li>
            </ul>
        </nav>
    </header> <!-- header -->

    <section class="content-holder">
        <div class="title">
            Thống kê mức lương của lĩnh vực Công Nghệ Thông Tin
        </div>

        <div class="filter">
            <div>
                <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
            <div>
                <input type="date" id="start" name="dateStart">
                -
                <input type="date" id="end" name="dateEnd">
            </div>
        </div>

        <div class="statistical-grid">
            <div class="card">
                <div class="caption">
                    Số lượng công việc
                </div>
                <div class="content">
                    <div class="text">200</div>
                    <div class="icon">
                        <img src="../images/salary_page/icon1.png" alt="Icon">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="caption">
                    Mức lương trung bình
                </div>
                <div class="content">
                    <div class="text">10tr - 15tr</div>
                    <div class="icon">
                        <img src="../images/salary_page/icon2.png" alt="Icon">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="caption">
                    Mức độ truy cập
                </div>
                <div class="content">
                    <div class="text">Cao</div>
                    <div class="icon">
                        <img src="../images/salary_page/icon3.png" alt="Icon">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="caption">
                    Mức độ đăng kí
                </div>
                <div class="content">
                    <div class="text">Cao</div>
                    <div class="icon">
                        <img src="../images/salary_page/icon4.png" alt="Icon">
                    </div>
                </div>
            </div>

        </div>

        <div class="statistical-container">
            <div class="chart">
                <div id="columnchart_values"></div>
                <div id="chart_div"></div>
            </div>
            <div class="sidebar">
                <div class="list">
                    <div class="list-header">
                        <div class="numeric">
                            STT
                        </div>
                        <div class="job-name">
                            Tên công việc
                        </div>
                        <div class="quantity">
                            Số lượt đăng kí
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="numeric">
                            1
                        </div>
                        <div class="job-name">
                            Web Developer
                        </div>
                        <div class="quantity">
                            100
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="numeric">
                            2
                        </div>
                        <div class="job-name">
                            Web Developer
                        </div>
                        <div class="quantity">
                            120
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="numeric">
                            3
                        </div>
                        <div class="job-name">
                            Web Developer
                        </div>
                        <div class="quantity">
                            100
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="numeric">
                            4
                        </div>
                        <div class="job-name">
                            Web Developer
                        </div>
                        <div class="quantity">
                            100
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="numeric">
                            5
                        </div>
                        <div class="job-name">
                            Web Developer
                        </div>
                        <div class="quantity">
                            100
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="numeric">
                            6
                        </div>
                        <div class="job-name">
                            Web Developer
                        </div>
                        <div class="quantity">
                            100
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="numeric">
                            7
                        </div>
                        <div class="job-name">
                            Web Developer
                        </div>
                        <div class="quantity">
                            100
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="numeric">
                            8
                        </div>
                        <div class="job-name">
                            Web Developer
                        </div>
                        <div class="quantity">
                            100
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="numeric">
                            9
                        </div>
                        <div class="job-name">
                            Web Developer
                        </div>
                        <div class="quantity">
                            100
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="numeric">
                            10
                        </div>
                        <div class="job-name">
                            Web Developer
                        </div>
                        <div class="quantity">
                            100
                        </div>
                    </div>
                </div>
                <div class="cycle-slideshow banner" data-cycle-slides="> a">
                    <a href="./intro-company.html">
                        <img src="../images/salary_page/banner2.png" alt="Banner 1">
                    </a>
                    <a href="#">
                        <img src="../images/salary_page/banner3.png" alt="Banner 2">
                    </a>
                </div>
            </div>
        </div>
    </section> <!-- content holder -->

    <footer class="main-footer">
        <div class="footer-box">
            <div class="box">
                <div class="first-box">
                    <div class="logo">
                        <a href="homepage.html">
                            <img src="../images/salary_page/logo1.png" alt="Logo">
                            FINDWORK
                        </a>
                    </div> <!-- Logo -->
                    <div class="description">
                        Nơi bạn có thể tìm được những
                        ứng cử viên sáng giá cho công ty của bạn.
                    </div>
                    <button class="learn-more">Tìm hiểu thêm</button>
                </div>
            </div>
            <div class="box">
                <h3>Ứng cử viên</h3>
                <ul>
                    <li><a href="#">Việc làm</a></li>
                    <li><a href="#">Ngành nghề</a></li>
                    <li><a href="#">Nộp hồ sơ</a></li>
                    <li><a href="#">Doanh Nghiệp</a></li>
                    <li><a href="#">Xác thực tài khoản</a></li>
                    <li><a href="#">Nâng cấp tài khoản</a></li>
                </ul>
            </div>
            <div class="box">
                <h3>Nhà tuyển dụng</h3>
                <ul>
                    <li><a href="#">Đăng tuyển dụng</a></li>
                    <li><a href="#">Tìm kiếm hồ sơ</a></li>
                    <li><a href="#">Quản lý dự án</a></li>
                    <li><a href="#">Xác thực tài khoản</a></li>
                    <li><a href="#">Nâng cấp tài khoản</a></li>
                </ul>
            </div>
            <div class="box">
                <h3>Chính sách</h3>
                <ul>
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Điều khoản và điều kiện</a></li>
                    <li><a href="#">Chính sách Bản quyền</a></li>
                    <li><a href="#">Quy tắc ứng xử</a></li>
                    <li><a href="#">Phí và lệ phí</a></li>
                </ul>
            </div>
            <div class="box">
                <h3>Danh sách trang</h3>
                <ul>
                    <li><a href="./home-page.html">Trang chủ</a></li>
                    <li><a href="./search-page.html">Việc làm</a></li>
                    <li><a href="./salary-page.html">Mức lương</a></li>
                    <li><a href="./list-blog-page.html">Blog</a></li>
                    <li><a href="./company-page.html">Công ty</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </footer><!-- footer -->
    <div class="follow-us">
        Theo dõi chúng tôi
        <span>
            <span>
                <a href="">
                    <img src="../images/salary_page/facebook.png" alt="Visit on Facebook">
                </a>
            </span>
            <span>
                <a href="">
                    <img src="../images/salary_page/twitter.png" alt="Visit on Twitter">
                </a>
            </span>
            <span>
                <a href="">
                    <img src="../images/salary_page/linkedin.png" alt="Visit on Linkedin">
                </a>
            </span>
            <span>
                <a href="">
                    <img src="../images/salary_page/youtube.png" alt="Visit on Youtube">
                </a>
            </span>
        </span>
    </div>
    <div class="copy">
        <p><small>Copyright &copy; 2021. All Rights Reserved.</small></p>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/2.1.6/jquery.cycle2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.login').click(function (e) {
                $('.dropdown-not-login').toggleClass('active');
            })
        })
    </script>
    <script src="../js/header.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", { packages: ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ["Mức lương", "Người/Việc làm", { role: "style" }],
                ["6tr (Thấp)", 80.94, "#62B4FF"],
                ["9tr", 90.49, "#62B4FF"],
                ["12tr", 120.30, "#62B4FF"],
                ["15tr", 160.30, "#62B4FF"],
                ["18tr", 190.30, "#62B4FF"],
                ["21tr", 180.23, "#62B4FF"],
                ["24tr", 170.0, "#62B4FF"],
                ["27tr", 100.60, "#62B4FF"],
                ["30tr", 50.60, "#62B4FF"],
                ["33tr (Cao)", 21.45, "#62B4FF"]
            ]);

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                {
                    calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation"
                },
                2]);

            var options = {
                title: "Biểu đồ phân bố lương",
                subtitle: "Người/Việc làm",
                titleTextStyle: {
                    color: '#30c1ff',    // any HTML string color ('red', '#cc00cc')
                    fontName: 'Roboto', // i.e. 'Times New Roman'
                    fontSize: 20, // 12, 18 whatever you want (don't specify px)
                    bold: true,    // true or false
                    italic: false   // true of false
                },
                bar: { groupWidth: "70%" },
                chartArea: { 'width': '80%', 'height': '70%' },
                legend: { position: "none" },
                hAxis: {
                    title: 'Mức lương (VNĐ)',
                    minValue: 0
                },
                vAxis: {
                    title: 'Người/Việc làm'
                }
            };
            var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
            chart.draw(view, options);
        }

        google.charts.load('current', { packages: ['corechart', 'bar'] });
        google.charts.setOnLoadCallback(drawBasic);
        function drawBasic() {
            var data = google.visualization.arrayToDataTable([
                ['Cấp bậc', 'Mức lương (VNĐ)',],
                ['Senior', 40000000],
                ['Junior', 25000000],
                ['Fresher', 10000000],
            ]);

            var options = {
                title: 'Mức lương theo cấp bậc',
                titleTextStyle: {
                    color: '#30c1ff',    // any HTML string color ('red', '#cc00cc')
                    fontName: 'Roboto', // i.e. 'Times New Roman'
                    fontSize: 20, // 12, 18 whatever you want (don't specify px)
                    bold: true,    // true or false
                    italic: false   // true of false
                },
                chartArea: { width: '70%' },
                hAxis: {
                    title: 'Mức lương (VNĐ)',
                    minValue: 0
                },
                vAxis: {
                    title: 'Cấp bậc'
                }
            };

            var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

            chart.draw(data, options);
        }

        $(window).resize(function () {
            drawChart();
            drawBasic();
        });
    </script>
</body>

</html>