<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mức lương</title>
    <link rel="stylesheet" href="../css/salary-page.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,500&display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/85a68be3b3.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="logo">
                <a href="home-page.html">
                    <img src="../images/salary_page/logo1.png" alt="Logo">
                    FINDWORK
                </a>
            </div> <!-- Logo -->

            <form class="searchbar">
                <div class="job">
                    <i class="material-icons prefix">search</i>
                    <input type="search" name="s" placeholder="Tìm kiếm việc làm, công ty, kĩ năng">
                </div>
                <div class="local">
                    <i class="material-icons prefix">location_on</i>
                    <input type="search" name="s" placeholder="Tất cả khu vực">
                </div>
                <a class="findjobs" href="search-page.html">Tìm Việc</a>
            </form> <!-- searchbar -->
            <div class="menu-btn">
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
            </div>
            <nav class="navbar">
                <ul class="nav-menu">
                    <div class="close-btn">
                        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                    </div>
                    <li class="search-sidebar">
                        <form>
                            <div class="job">
                                <i class="material-icons prefix">search</i>
                                <input type="search" name="s" placeholder="Tìm kiếm việc làm, công ty, kĩ năng">
                            </div>
                            <div class="local">
                                <i class="material-icons prefix">location_on</i>
                                <input type="search" name="s" placeholder="Tất cả khu vực">
                            </div>
                            <a href="./search-page.html">
                                <div class="findjobs-btn">Tìm Việc</div>
                            </a>
                        </form> <!-- searchbar -->
                    </li>
                    <li class="resp-item">
                        <div class="circle-avatar">
                            <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                        </div>
                        <div class="in-up-btn">
                            <div class="login-btn">
                                <a href="">Đăng nhập</a>
                            </div>
                            <div class="signup-btn">
                                <a href="">Đăng kí</a>
                            </div>
                        </div>
                    </li>
                    <li><a href="search-page.html">VIỆC LÀM</a></li>
                    <li><a href="salary-page.html">MỨC LƯƠNG</a></li>
                    <li><a href="list-blog-page.html">BLOG</a></li>
                    <li><a href="company-page.html">CÔNG TY</a></li>
                    <li>
                        <div class="noti_login">
                            <i class="material-icons prefix">notifications_none</i>
                            <div class="btn-dropdown">
                                <button class="login" type="submit">
                                    <i class="material-icons prefix">account_circle</i>
                                    <div>
                                        Đăng Nhập
                                    </div>
                                </button>
                                <div class="dropdown-not-login">
                                    <div class="title">
                                        <span>Người tìm việc đăng nhập</span>
                                        <div class="social-login">
                                            <a href="">
                                                <img src="../images/company-page/facebook.png" alt="">
                                                <span>với Facebook</span>
                                            </a>
                                            <a href="">
                                                <img src="../images//company-page/google.png" alt="">
                                                <span>với Google</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <a href="LogIn.html">
                                            <div>
                                                <img src="../images/company-page/login.png" alt="">
                                            </div>
                                            <span>Đăng nhập</span>
                                        </a>
                                    </div>
                                    <div class="dropdown">
                                        <a href="SignUp.html">
                                            <div>
                                                <img src="../images/company-page/register.png" alt="">
                                            </div>
                                            <span>Tạo tài khoản mới</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav> <!-- navbar -->
        </header> <!-- header -->

        <section class="content-holder">
            <article>
                <main>
                    <div class="statiscal">
                        <div class="content-title">
                            Mức lương trung bình của các công việc phổ biến
                        </div>
                        <div class="statiscal-box">
                            <div class="statistical-list">
                                <div class="statistical-item">
                                    <div class="item-caption">
                                        kế toán
                                    </div>
                                    <div class="item-body">
                                        <div class="item-job-content">
                                            <span class="title">
                                                <a href="./salary-detail-page.html">Kế Toán Thanh Toán</a>
                                            </span>
                                            <span class="salary">
                                                $555
                                            </span>
                                        </div>
                                        <div class="item-job-content">
                                            <span class="title">
                                                <a href="./salary-detail-page.html">Kế Toán Tổng Hợp</a>
                                            </span>
                                            <span class="salary">
                                                $555
                                            </span>
                                        </div>
                                        <div class="item-job-content">
                                            <span class="title">
                                                <a href="./salary-detail-page.html">Kế Toán Trưởng</a>
                                            </span>
                                            <span class="salary">
                                                $555
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="statistical-item">
                                    <div class="item-caption">
                                        nhân sự
                                    </div>
                                    <div class="item-body">
                                        <div class="item-job-content">
                                            <span class="title">
                                                <a href="./salary-detail-page.html">Chuyên Viên Tuyển Dụng</a>
                                            </span>
                                            <span class="salary">
                                                $555
                                            </span>
                                        </div>
                                        <div class="item-job-content">
                                            <span class="title">
                                                <a href="./salary-detail-page.html">Nhân Viên Hành Chính Nhân Sự</a>
                                            </span>
                                            <span class="salary">
                                                $555
                                            </span>
                                        </div>
                                        <div class="item-job-content">
                                            <span class="title">
                                                <a href="./salary-detail-page.html">Trưởng Phòng Nhân Sự</a>
                                            </span>
                                            <span class="salary">
                                                $555
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="statistical-item">
                                    <div class="item-caption">
                                        dịch vụ khách hàng
                                    </div>
                                    <div class="item-body">
                                        <div class="item-job-content">
                                            <span class="title">
                                                <a href="./salary-detail-page.html">Chuyên Viên Dịch Vụ Khách Hàng</a>
                                            </span>
                                            <span class="salary">
                                                $555
                                            </span>
                                        </div>
                                        <div class="item-job-content">
                                            <span class="title">
                                                <a href="./salary-detail-page.html">Nhân Viên Chăm Sóc Khách Hàng</a>
                                            </span>
                                            <span class="salary">
                                                $555
                                            </span>
                                        </div>
                                        <div class="item-job-content">
                                            <span class="title">
                                                <a href="./salary-detail-page.html">Trưởng Phòng Dịch Vụ Khách Hàng</a>
                                            </span>
                                            <span class="salary">
                                                $555
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="statistical-item">
                                    <div class="item-caption">
                                        bán hàng
                                    </div>
                                    <div class="item-body">
                                        <div class="item-job-content">
                                            <span class="title">
                                                <a href="./salary-detail-page.html">Chuyên Viên Bán Hàng</a>
                                            </span>
                                            <span class="salary">
                                                $555
                                            </span>
                                        </div>
                                        <div class="item-job-content">
                                            <span class="title">
                                                <a href="./salary-detail-page.html">Nhân Viên Kinh Doanh</a>
                                            </span>
                                            <span class="salary">
                                                $555
                                            </span>
                                        </div>
                                        <div class="item-job-content">
                                            <span class="title">
                                                <a href="./salary-detail-page.html">Trưởng Phòng Kinh Doanh</a>
                                            </span>
                                            <span class="salary">
                                                $555
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="statistical-item">
                                    <div class="item-caption">
                                        marketing
                                    </div>
                                    <div class="item-body">
                                        <div class="item-job-content">
                                            <span class="title">
                                                <a href="./salary-detail-page.html">Chuyên Viên Marketing</a>
                                            </span>
                                            <span class="salary">
                                                $555
                                            </span>
                                        </div>
                                        <div class="item-job-content">
                                            <span class="title">
                                                <a href="./salary-detail-page.html">Chuyên Viên Truyền Thông</a>
                                            </span>
                                            <span class="salary">
                                                $555
                                            </span>
                                        </div>
                                        <div class="item-job-content">
                                            <span class="title">
                                                <a href="./salary-detail-page.html">Trưởng Phòng Marketing</a>
                                            </span>
                                            <span class="salary">
                                                $555
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="statistical-item">
                                    <div class="item-caption">
                                        it - phần mềm
                                    </div>
                                    <div class="item-body">
                                        <div class="item-job-content">
                                            <span class="title">
                                                <a href="./salary-detail-page.html">Android Developer</a>
                                            </span>
                                            <span class="salary">
                                                $555
                                            </span>
                                        </div>
                                        <div class="item-job-content">
                                            <span class="title">
                                                <a href="./salary-detail-page.html">Java Developer</a>
                                            </span>
                                            <span class="salary">
                                                $555
                                            </span>
                                        </div>
                                        <div class="item-job-content">
                                            <span class="title">
                                                <a href="./salary-detail-page.html">PHP Developer</a>
                                            </span>
                                            <span class="salary">
                                                $555
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="see-more">
                            <div class="see-more-text">
                                Xem thêm...
                            </div>
                        </div>

                        <div class="content-share">
                            <div class="content-group">
                                <span class="share-text">Chia sẻ</span>
                                <span class="icon">
                                    <span>
                                        <img src="../images/salary_page/facebook.png" alt="Share on Facebook">
                                    </span>
                                    <span>
                                        <img src="../images/salary_page/messeger.png" alt="Share on Messeger">
                                    </span>
                                    <span>
                                        <img src="../images/salary_page/twitter.png" alt="Share on Twitter">
                                    </span>
                                    <span>
                                        <img src="../images/salary_page/linkedin.png" alt="Share on Linkedin">
                                    </span>
                                    <span>
                                        <img src="../images/salary_page/link.png" alt="Copy the current link">
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div> <!-- statiscal content -->

                    <div class="sidebar">
                        <div class="cycle-slideshow" data-cycle-slides="> a">
                            <a href="">
                                <img src="../images/salary_page/banner1.png" alt="Banner top">
                            </a>
                            <a href="#">
                                <img src="../images/salary_page/banner2.png" alt="Banner top">
                            </a>
                            <a href="#">
                                <img src="../images/salary_page/banner3.png" alt="Banner top">
                            </a>
                        </div>
                        <div>
                            <img src="../images/salary_page/banner-bottom-2.jpg" alt="Banner bottom">
                        </div>
                    </div> <!-- sidebar -->
                </main>
            </article>
        </section> <!-- content holder -->

        <footer class="main-footer">
            <div class="footer-box">
                <div class="box">
                    <div class="first-box">
                        <div class="logo">
                            <a href="homepage.html">
                                <img src="../images/salary_page/logo1.png" alt="Logo">
                                FINDWORK
                            </a>
                        </div> <!-- Logo -->
                        <div class="description">
                            Nơi bạn có thể tìm được những
                            ứng cử viên sáng giá cho công ty của bạn.
                        </div>
                        <button class="learn-more">Tìm hiểu thêm</button>
                    </div>
                </div>
                <div class="box">
                    <h3>Ứng cử viên</h3>
                    <ul>
                        <li><a href="#">Việc làm</a></li>
                        <li><a href="#">Ngành nghề</a></li>
                        <li><a href="#">Nộp hồ sơ</a></li>
                        <li><a href="#">Doanh Nghiệp</a></li>
                        <li><a href="#">Xác thực tài khoản</a></li>
                        <li><a href="#">Nâng cấp tài khoản</a></li>
                    </ul>
                </div>
                <div class="box">
                    <h3>Nhà tuyển dụng</h3>
                    <ul>
                        <li><a href="#">Đăng tuyển dụng</a></li>
                        <li><a href="#">Tìm kiếm hồ sơ</a></li>
                        <li><a href="#">Quản lý dự án</a></li>
                        <li><a href="#">Xác thực tài khoản</a></li>
                        <li><a href="#">Nâng cấp tài khoản</a></li>
                    </ul>
                </div>
                <div class="box">
                    <h3>Chính sách</h3>
                    <ul>
                        <li><a href="#">Chính sách bảo mật</a></li>
                        <li><a href="#">Điều khoản và điều kiện</a></li>
                        <li><a href="#">Chính sách Bản quyền</a></li>
                        <li><a href="#">Quy tắc ứng xử</a></li>
                        <li><a href="#">Phí và lệ phí</a></li>
                    </ul>
                </div>
                <div class="box">
                    <h3>Danh sách trang</h3>
                    <ul>
                        <li><a href="./home-page.html">Trang chủ</a></li>
                        <li><a href="./search-page.html">Việc làm</a></li>
                        <li><a href="./salary-page.html">Mức lương</a></li>
                        <li><a href="./list-blog-page.html">Blog</a></li>
                        <li><a href="./company-page.html">Công ty</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </footer><!-- footer -->
        <div class="follow-us">
            Theo dõi chúng tôi
            <span>
                <span>
                    <a href="">
                        <img src="../images/salary_page/facebook.png" alt="Visit on Facebook">
                    </a>
                </span>
                <span>
                    <a href="">
                        <img src="../images/salary_page/twitter.png" alt="Visit on Twitter">
                    </a>
                </span>
                <span>
                    <a href="">
                        <img src="../images/salary_page/linkedin.png" alt="Visit on Linkedin">
                    </a>
                </span>
                <span>
                    <a href="">
                        <img src="../images/salary_page/youtube.png" alt="Visit on Youtube">
                    </a>
                </span>
            </span>
        </div>
        <div class="copy">
            <p><small>Copyright &copy; 2021. All Rights Reserved.</small></p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/2.1.6/jquery.cycle2.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/2.1.6/plugin/jquery.cycle2.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/2.1.6/plugin/jquery.cycle2.swipe.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/2.1.6/plugin/jquery.cycle2.shuffle.min.js"></script>
    <script src="../js/home-page.js"></script>
    <script>
        const list = document.querySelector('.statistical-list');
        const seeMore = document.querySelector(".see-more");

        $(document).ready(function () {
            $(".see-more").click(function (e) {
                var item = document.querySelectorAll(".statistical-item")
                for (var i = 0; i < item.length; i++) {
                    list.appendChild(item[i].cloneNode(true));
                }
                for (var i = 0; i < item.length; i++) {
                    list.appendChild(item[i].cloneNode(true));
                }
                seeMore.textContent = "";
            })

            $('.login').click(function (e) {
                $('.dropdown-not-login').toggleClass('active');
            })
        })

        var navbar = document.querySelector(".navbar");
        var menu = document.querySelector(".nav-menu");
        var menuBtn = document.querySelector(".menu-btn");
        var closeBtn = document.querySelector(".close-btn");

        menuBtn.addEventListener("click", () => {
            navbar.classList.add("active");
            menu.classList.add("active");
        })

        closeBtn.addEventListener("click", () => {
            navbar.classList.remove("active");
            menu.classList.remove("active");
        })

        navbar.addEventListener("click", (e) => {
            if (e.target == navbar) {
                navbar.classList.remove("active");
                menu.classList.remove("active");
            }
        })
    </script>

</body>

</html>