<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search</title>
    <!-- Add grid css-->
    <link rel="stylesheet" href="../css/responsive.css" />
    <link rel="stylesheet" href="../css/search-page.css" />
    <!--add google font-->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,500&display=swap"
      rel="stylesheet"
    />

    <!--Add icon-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <div class="logo">
          <a href="homepage.html">
              <img src="../images/salary_page/logo1.png" alt="Logo">
              FINDWORK
          </a>
      </div> <!-- Logo -->

      <form class="searchbar">
          <div class="job">
              <i class="material-icons prefix">search</i>
              <input type="search" name="s" placeholder="Tìm kiếm việc làm, công ty, kĩ năng">
          </div>
          <div class="local">
              <i class="material-icons prefix">location_on</i>
              <input type="search" name="s" placeholder="Tất cả khu vực">
          </div>
          <button class="findjobs" type="submit">Tìm Việc</button>
      </form> <!-- searchbar -->
      <div class="menu-btn">
          <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
      </div>
      <nav class="navbar">
          <ul class="nav-menu">
              <div class="close-btn">
                  <i class="fa fa-times fa-2x" aria-hidden="true"></i>
              </div>
              <li class="search-sidebar">
                  <form>
                      <div class="job">
                          <i class="material-icons prefix">search</i>
                          <input type="search" name="s" placeholder="Tìm kiếm việc làm, công ty, kĩ năng">
                      </div>
                      <div class="local">
                          <i class="material-icons prefix">location_on</i>
                          <input type="search" name="s" placeholder="Tất cả khu vực">
                      </div>
                      <div class="findjobs-btn">
                          Tìm Việc
                      </div>
                  </form> <!-- searchbar -->
              </li>
              <li><a href="#">VIỆC LÀM</a></li>
              <li><a href="salary-page.html">MỨC LƯƠNG</a></li>
              <li><a href="#">BLOG</a></li>
              <li><a href="company-page.html">CÔNG TY</a></li>
              <li class="login"><a href="">ĐĂNG NHẬP</a></li>
              <li class="register"><a href="">ĐĂNG KÝ</a></li>
              <li>
                  <div class="noti_login">
                      <i class="material-icons prefix">notifications_none</i>
                      <div class="btn-dropdown">
                          <button class="login" type="submit">
                              <i class="material-icons prefix">account_circle</i>
                              <div>
                                  Đăng nhập
                              </div>
                          </button>
                          <div class="dropdown-not-login">
                              <div class="title">
                                  <span>Người tìm việc đăng nhập</span>
                                  <div class="social-login">
                                      <a href="">
                                          <img src="../images/company-page/facebook.png" alt="">
                                          <span>với Facebook</span>
                                      </a>
                                      <a href="">
                                          <img src="../images//company-page/google.png" alt="">
                                          <span>với Google</span>
                                      </a>
                                  </div>
                              </div>
                              <div class="dropdown">
                                  <a href="">
                                      <div>
                                          <img src="../images/company-page/login.png" alt="">
                                      </div>
                                      <span>Đăng nhập</span>
                                  </a>
                              </div>
                              <div class="dropdown">
                                  <a href="">
                                      <div>
                                          <img src="../images/company-page/register.png" alt="">
                                      </div>
                                      <span>Tạo tài khoản mới</span>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </li>
          </ul>
      </nav> <!-- navbar -->
  </header> <!-- header -->

    <div class="gird body">
      <div class="row filter"></div>
      <div class="row no-gutters">
        <div class="side-bar col l-4 m-5 c-12">
          <div class="job-card row no-gutters">
            <div class="col l-3 m-3 c-3">
              <div class="job-picture"></div>
            </div>
            <div class="col l-9 m-9 c-9">
              <div class="job-detail">
                <div class="job-name">Sofware Engineer Fresher (Java.net)</div>
                <div class="company-name">Robert Bosch Engineer Vietnam</div>
                <div class="job-salary">$1000 up to $2500 Monthly</div>
                <div class="job-category">Full time</div>
                <div class="job-address">
                  Tan Phu District, Ho Chi Minh City
                </div>
              </div>
              <div class="apply-button">Apply Now</div>
              <i
                class="fa-solid fa-heart fa-beat"
                style="--fa-animation-duration: 3s"
              ></i>
            </div>
          </div>
          <div class="job-card row no-gutters">
            <div class="col l-3 m-3 c-3">
              <div class="job-picture"></div>
            </div>
            <div class="col l-9 m-9 c-9">
              <div class="job-detail">
                <div class="job-name">Sofware Engineer Fresher (Java.net)</div>
                <div class="company-name">Robert Bosch Engineer Vietnam</div>
                <div class="job-salary">$1000 up to $2500 Monthly</div>
                <div class="job-category">Full time</div>
                <div class="job-address">
                  Tan Phu District, Ho Chi Minh City
                </div>
              </div>
              <div class="apply-button">Apply Now</div>
              <i
                class="fa-solid fa-heart fa-beat"
                style="--fa-animation-duration: 3s"
              ></i>
            </div>
          </div>
          <div class="job-card row no-gutters">
            <div class="col l-3 m-3 c-3">
              <div class="job-picture"></div>
            </div>
            <div class="col l-9 m-9 c-9">
              <div class="job-detail">
                <div class="job-name">Sofware Engineer Fresher (Java.net)</div>
                <div class="company-name">Robert Bosch Engineer Vietnam</div>
                <div class="job-salary">$1000 up to $2500 Monthly</div>
                <div class="job-category">Full time</div>
                <div class="job-address">
                  Tan Phu District, Ho Chi Minh City
                </div>
              </div>
              <div class="apply-button">Apply Now</div>
              <i
                class="fa-solid fa-heart fa-beat"
                style="--fa-animation-duration: 3s"
              ></i>
            </div>
          </div>
          <div class="job-card row no-gutters">
            <div class="col l-3 m-3 c-3">
              <div class="job-picture"></div>
            </div>
            <div class="col l-9 m-9 c-9">
              <div class="job-detail">
                <div class="job-name">Sofware Engineer Fresher (Java.net)</div>
                <div class="company-name">Robert Bosch Engineer Vietnam</div>
                <div class="job-salary">$1000 up to $2500 Monthly</div>
                <div class="job-category">Full time</div>
                <div class="job-address">
                  Tan Phu District, Ho Chi Minh City
                </div>
              </div>
              <div class="apply-button">Apply Now</div>
              <i
                class="fa-solid fa-heart fa-beat"
                style="--fa-animation-duration: 3s"
              ></i>
            </div>
          </div>
          <div class="job-card row no-gutters">
            <div class="col l-3 m-3 c-3">
              <div class="job-picture"></div>
            </div>
            <div class="col l-9 m-9 c-9">
              <div class="job-detail">
                <div class="job-name">Sofware Engineer Fresher (Java.net)</div>
                <div class="company-name">Robert Bosch Engineer Vietnam</div>
                <div class="job-salary">$1000 up to $2500 Monthly</div>
                <div class="job-category">Full time</div>
                <div class="job-address">
                  Tan Phu District, Ho Chi Minh City
                </div>
              </div>
              <div class="apply-button">Apply Now</div>
              <i
                class="fa-solid fa-heart fa-beat"
                style="--fa-animation-duration: 3s"
              ></i>
            </div>
          </div>
          <div class="job-card row no-gutters">
            <div class="col l-3 m-3 c-3">
              <div class="job-picture"></div>
            </div>
            <div class="col l-9 m-9 c-9">
              <div class="job-detail">
                <div class="job-name">Sofware Engineer Fresher (Java.net)</div>
                <div class="company-name">Robert Bosch Engineer Vietnam</div>
                <div class="job-salary">$1000 up to $2500 Monthly</div>
                <div class="job-category">Full time</div>
                <div class="job-address">
                  Tan Phu District, Ho Chi Minh City
                </div>
              </div>
              <div class="apply-button">Apply Now</div>
              <i
                class="fa-solid fa-heart fa-beat"
                style="--fa-animation-duration: 3s"
              ></i>
            </div>
          </div>
          <div class="job-card row no-gutters">
            <div class="col l-3 m-3 c-3">
              <div class="job-picture"></div>
            </div>
            <div class="col l-9 m-9 c-9">
              <div class="job-detail">
                <div class="job-name">Sofware Engineer Fresher (Java.net)</div>
                <div class="company-name">Robert Bosch Engineer Vietnam</div>
                <div class="job-salary">$1000 up to $2500 Monthly</div>
                <div class="job-category">Full time</div>
                <div class="job-address">
                  Tan Phu District, Ho Chi Minh City
                </div>
              </div>
              <div class="apply-button">Apply Now</div>
              <i
                class="fa-solid fa-heart fa-beat"
                style="--fa-animation-duration: 3s"
              ></i>
            </div>
          </div>
          <div class="job-card row no-gutters">
            <div class="col l-3 m-3 c-3">
              <div class="job-picture"></div>
            </div>
            <div class="col l-9 m-9 c-9">
              <div class="job-detail">
                <div class="job-name">Sofware Engineer Fresher (Java.net)</div>
                <div class="company-name">Robert Bosch Engineer Vietnam</div>
                <div class="job-salary">$1000 up to $2500 Monthly</div>
                <div class="job-category">Full time</div>
                <div class="job-address">
                  Tan Phu District, Ho Chi Minh City
                </div>
              </div>
              <div class="apply-button">Apply Now</div>
              <i
                class="fa-solid fa-heart fa-beat"
                style="--fa-animation-duration: 3s"
              ></i>
            </div>
          </div>
          <div class="job-card row no-gutters">
            <div class="col l-3 m-3 c-3">
              <div class="job-picture"></div>
            </div>
            <div class="col l-9 m-9 c-9">
              <div class="job-detail">
                <div class="job-name">Sofware Engineer Fresher (Java.net)</div>
                <div class="company-name">Robert Bosch Engineer Vietnam</div>
                <div class="job-salary">$1000 up to $2500 Monthly</div>
                <div class="job-category">Full time</div>
                <div class="job-address">
                  Tan Phu District, Ho Chi Minh City
                </div>
              </div>
              <div class="apply-button">Apply Now</div>
              <i
                class="fa-solid fa-heart fa-beat"
                style="--fa-animation-duration: 3s"
              ></i>
            </div>
          </div>
          <div class="job-card row no-gutters">
            <div class="col l-3 m-3 c-3">
              <div class="job-picture"></div>
            </div>
            <div class="col l-9 m-9 c-9">
              <div class="job-detail">
                <div class="job-name">Sofware Engineer Fresher (Java.net)</div>
                <div class="company-name">Robert Bosch Engineer Vietnam</div>
                <div class="job-salary">$1000 up to $2500 Monthly</div>
                <div class="job-category">Full time</div>
                <div class="job-address">
                  Tan Phu District, Ho Chi Minh City
                </div>
              </div>
              <div class="apply-button">Apply Now</div>
              <i
                class="fa-solid fa-heart fa-beat"
                style="--fa-animation-duration: 3s"
              ></i>
            </div>
          </div>
          <div class="job-card row no-gutters">
            <div class="col l-3 m-3 c-3">
              <div class="job-picture"></div>
            </div>
            <div class="col l-9 m-9 c-9">
              <div class="job-detail">
                <div class="job-name">Sofware Engineer Fresher (Java.net)</div>
                <div class="company-name">Robert Bosch Engineer Vietnam</div>
                <div class="job-salary">$1000 up to $2500 Monthly</div>
                <div class="job-category">Full time</div>
                <div class="job-address">
                  Tan Phu District, Ho Chi Minh City
                </div>
              </div>
              <div class="apply-button">Apply Now</div>
              <i
                class="fa-solid fa-heart fa-beat"
                style="--fa-animation-duration: 3s"
              ></i>
            </div>
          </div>
          <div class="job-card row no-gutters">
            <div class="col l-3 m-3 c-3">
              <div class="job-picture"></div>
            </div>
            <div class="col l-9 m-9 c-9">
              <div class="job-detail">
                <div class="job-name">Sofware Engineer Fresher (Java.net)</div>
                <div class="company-name">Robert Bosch Engineer Vietnam</div>
                <div class="job-salary">$1000 up to $2500 Monthly</div>
                <div class="job-category">Full time</div>
                <div class="job-address">
                  Tan Phu District, Ho Chi Minh City
                </div>
              </div>
              <div class="apply-button">Apply Now</div>
              <i
                class="fa-solid fa-heart fa-beat"
                style="--fa-animation-duration: 3s"
              ></i>
            </div>
          </div>
        </div>
        <div class="content col l-8 m-7 c-0">
          <div class="company-info row no-gutters">
            <div class="col l-2 m-3">
              <div class="job-picture"></div>
            </div>
            <div class="col l-10 m-9">
              <div class="job-name">Sofware Engineer Fresher (Java.net)</div>
              <div class="company-name">Robert Bosch Engineer Vietnam</div>
            </div>
          </div>
          <div class="job-benfits row no-gutters">
            <div class="title l-12 m-12">Benefits for you:</div>
            <div class="descript l-12 m-12">
              13th-month bonus + yearly performance bonus + annual salary
              appraisal<br />
              Premium health insurance for employee + 2 family members<br />
              16++ days of paid leave per year
            </div>
          </div>
          <div class="job-description row no-gutters">
            <div class="title l-12 m-12">Job description:</div>
            <div class="descript l-12 m-12">
              Welcome to Bosch – A perfect fit for every techie.<br />
              From software development and testing to data processing, we are
              offering a variety of career opportunities to build a strong
              international team and deliver cutting-edge IT solutions. Join in
              and feel the difference.<br />
              - Learn web application development framework and process<br />
              - Learn to design & implement applications to ensure best possible
              performance & quality<br />
              - Develop web application features under supervision of Senior
              Engineers<br />
              - Contributing in all phases of development life-cycle<br />
              - Ensure continuously professional self-improvement<br />
            </div>
          </div>
          <div class="job-requirement row no-gutters">
            <div class="title l-12 m-12">Job requirements:</div>
            <div class="descript l-12 m-12">
              Nearly/Fresh graduate or less than 1 year of experience in
              relevant major (Information Technology; Computer Science; Software
              Engineering...)<br />
              - Good knowledge in Java OR .NET<br />
              - Good knowledge in HTML/ Javascript/ CSS.<br />
              - Have knowledge in Angular/ ReactJS is an advantage<br />
              - Willing to do fullstack in long-term<br />
            </div>
          </div>
          <div class="job-address row no-gutters">
            <div class="title l-12 m-12">Work location:</div>
            <div class="descript l-12 m-12">
              364 Cộng Hòa, Phường 13, Tân Bình, Hồ Chí Minh, Vietnam<br />
              17 P. Ngô Quyền, French Quarter, Tràng Tiền, Hoàn Kiếm, Hà Nội,
              Vietnam
            </div>
          </div>
          <div class="button-section row">
            <div class="apply-btn l-o-8 m-o-7">Apply Now</div>
            <div class="save-btn">
              <i class="fa-solid fa-heart fa-beat"></i>Save
            </div>
          </div>
        </div>
      </div>
    </div>

    <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>

    <script type="text/javascript">
        // Script for combobox
        $(document).ready(function () {
            $('.login').click(function (e) {
                $('.dropdown-not-login').toggleClass('active');
            })
        })

        var navbar = document.querySelector(".navbar");
        var menu = document.querySelector(".nav-menu");
        var menuBtn = document.querySelector(".menu-btn");
        var closeBtn = document.querySelector(".close-btn");

        menuBtn.addEventListener("click", () => {
            navbar.classList.add("active");
            menu.classList.add("active");
        })

        closeBtn.addEventListener("click", () => {
            navbar.classList.remove("active");
            menu.classList.remove("active");
        })

        navbar.addEventListener("click", (e) => {
            if (e.target == navbar) {
                navbar.classList.remove("active");
                menu.classList.remove("active");
            }
        })
    </script>
  </body>
</html>
