<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sign Up</title>
        <link rel="stylesheet" href="../css/SignUp.css">
        <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,500&display=swap"
        rel="stylesheet" />
        <link
        href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
        rel="stylesheet"
      />
    </head>
    <body>
    <div class="div_signup">
        <div class="div_left">     
            <div>
            <a style="text-decoration: none" ,style="font-family: Roboto" href= "home-page.html" class="btnBack">
                FINDWORK</a>
            </div>
            <div>
            <img class="logosignup" src="../images/signup3.JPG" alt="Logo">
            </div>
            <div class="div_slogan">
                <label class="slogan">FindWork sẽ làm bất cứ điều gì cho bạn.</label>
                <label class="slogan2">Welcome to us!</label>
            </div>
        </div>
        <div class="div_right">
            <div class="btnBack2">
                <a style="text-decoration: none" ,style="font-family: Roboto" href= "home-page.html" class="btnBack2">
                    <img class="logocompany1" src="../images/logocompany.png" alt="Logo">
                    FINDWORK
                </a>
            </div>
            <div class="div_info">
                <div class="title_signup">
                    Đăng ký tài khoản
                </div>

                <div class="txtUser">
                    <div class="div_name">
                    <label class="name">Họ và tên</label>
                    <input class="form_input0" placeholder="Họ và tên"></input>
                    </div>
                    <div class="div_username" >
                    <label class="name">Nhập email</label>
                    <input class="form_input1" placeholder="Vui lòng nhập email thực để xác minh"></input>
                    </div>
                    <div class="div_username">
                    <label class="name">Nhập mật khẩu</label>
                    <input class="form_input2" placeholder="Tối thiểu 6 kí tự"></input>
                    </div>
                    <div class="div_username">
                    <label class="name">Xác nhận mật khẩu</label>
                    <input class="form_input3" placeholder="**********"></input>
                    </div>
                </div>
                <div class="div_btnSignUp">
                    <button class="btnSignUp">Đăng ký</button>
                </div>
                <div class="div_titleSignup">
                    
                    <label class="titleSignup">Bạn đã có tài khoản?</label>
                    <a href="LogIn.html" class="btnSignup">Đăng nhập</a>
                </div>
                

            </div>
        </div>
    </div>
    </body>