<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Sign Up</title>
        <link rel="stylesheet" href="../css/SignUp.css">
        <link
        href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
        rel="stylesheet"
      />
    </head>
    <body>
    <div class="div_signup">
        <div class="div_left">
           
            <div>
            <button class="btnBack">
                
                FINDWORK</button>
            </div>
            <img class="logosignup" src="../images/signup3.JPG" alt="Logo">
        </div>
        <div class="div_right">
            <div class="div_info">
                <div class="title_signup">
                    Đăng ký tài khoản
                </div>

                <div class="txtUser">
                    <div class="div_name">
                    <label class="name">Họ và tên</label>
                    <input class="form_input0" placeholder="  Họ và tên"></input>
                    </div>
                    <div class="div_username" >
                    <label class="name">Nhập tên đăng nhập</label>
                    <input class="form_input1" placeholder="  Tên đăng nhập"></input>
                    </div>
                    <div class="div_username">
                    <label class="name">Nhập mật khẩu</label>
                    <input class="form_input2" placeholder="  Tối thiểu 6 kí tự"></input>
                    </div>
                    <div class="div_username"></div>
                    <label class="name">Xác nhận mật khẩu</label>
                    <input class="form_input3" placeholder="   **********"></input>
                    </div>
                </div>
                <div class="div_titleSignup">
                    <label class="titleSignup">Bạn đã có tài khoản?</label>
                    <label class="btnSignup">Đăng nhập</label>
                </div>
                <button class="btnSignUp">Đăng ký</button>

            </div>
        </div>
    </div>
    </body>