<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Đăng kí nhà tuyển dụng</title>
        <link rel="stylesheet" href="../css/signup-company.css">
        <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,500&display=swap"
        rel="stylesheet" />
        <link
        href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
        rel="stylesheet"
      />
    </head>
    <body class="div_body">
        <div class="div_header">
            <div class="div_btnback">
                <button class="btnBack">
                    <img class="logocompany" src="../images/logocompany.png" alt="Logo">
                    FINDWORK
                </button>
            </div>
        </div>
        <div class="div_infor">
            <div class="infor">
                <div class="title_header">
                    <a class="title1">Nhà tuyển dụng đăng ký</a>
                    <a class="title2">Tạo tài khoản để tiếp cận kho ứng viên chất lượng và bắt đầu đăng việc ngay</a>
                </div>
                <div class="txt_info">
                    <input class="form_input1" placeholder="Email đăng nhập"></input>
                    <input class="form_input1" placeholder="Mật khẩu"></input>
                    <input class="form_input1" placeholder="Nhập lại mật khẩu"></input>
                </div>
                <div class="div_company">
                    <a class="title3">Thông tin công ty</a>
                    <input class="form_input1" placeholder="Tên công ty"></input>
                    <input class="form_input1" placeholder="Số nhân viên"></input>
                    <div class="infor2">
                        <input class="form_input2" placeholder="Người liên hệ"></input>
                        <input class="form_input3" placeholder="Số điện thoại"></input>
                    </div>
                    <input class="form_input1" placeholder="Địa chỉ"></input>
                </div>
                <div class="div_btnsignup">
                    <button class="btnsignup">Đăng ký ngay</button>
                </div>
                <div class="div_titleLogin">
                    <label class="titleLogin">Bạn đã có tài khoản?</label>
                    <a href="Login-company.html" class="btnLogin">Đăng nhập</a>
                </div>
            </div>
        </div>
        <div class="div_header">

        </div>
    </body>
</html>
